@import "scss/components/topbar/workspace.scss";
@import "scss/components/topbar/network.scss";
@import "scss/components/topbar/monitors.scss";

.top-bar {
  background: $background;
  color: $on-background;
  margin-bottom: 0.5rem;
}

.top-corner {
  background-color: $background;
  border-radius: $border-radius;
}

.clock {
  // font-size: 1em;
  // font-family: "VEXA light R";
  // font-family: "ae_Ostorah";
  background: linear-gradient(
    to right,
    $primary-container,
    $tertiary-container
  );
  color: $on-primary-container;
  border-radius: $border-radius;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-top-margin;
  padding-left: 1em;
  padding-right: 1em;
}
