@import 'workspace.scss';
@import 'network.scss';
@import 'monitors.scss';

.top-bar {
    background: $background;
    color: $on-background;
    margin-bottom: 0.5rem;
}

.top-corner {
    background-color: $background;
    border-radius: $border-radius;
}

.topbar-box {
    border-radius: $border-radius;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-top-margin;
    padding-left: 1rem;
    padding-right: 1rem;
}

.clock {
    @extend .topbar-box;
    background: linear-gradient(to right, $primary, $secondary);
    color: $on-primary;
}

.prayer-time-box {
    @extend .topbar-box;
    background: linear-gradient(
        to right,
        $primary-container,
        $secondary-container
    );
    color: $on-primary-container;
}
