.bar-hardware-progress-circle {
    background: rgba($color: #000000, $alpha: 0.3);
    min-width: 1.5rem;
    min-height: 1.5rem;
    font-size: 0.2rem;
}

.bar-hardware-progress-inner-circle {
    font-family: $icon-font-family;
    font-size: 0.8rem;
}

.battery {
    @extend .bar-hardware-progress-circle;
    color: rgba($primary, 1);
}

@keyframes colorChange {
    0% {
        color: $primary;
    }

    50% {
        color: rgba($surface-variant, 1);
    }

    100% {
        color: $primary;
    }
}

.battery label {
    @extend .bar-hardware-progress-inner-circle;
    color: $primary;
}

.battery-inner-charging {
    @extend .bar-hardware-progress-inner-circle;
    color: rgba($primary, 0.2);
    border: solid 2px rgba($primary, 1);
    animation: colorChange 2s infinite;
}

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
    @extend .bar-hardware-progress-circle;
    color: rgba($secondary, 1);
}

.cpu label {
    @extend .bar-hardware-progress-inner-circle;
    // font-size: 0.6rem;
    color: $secondary;
}

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
    @extend .bar-hardware-progress-circle;
    color: rgba($tertiary, 1);
}

.no-hover:hover {
    all: unset;
}

.temp label {
    @extend .bar-hardware-progress-inner-circle;
    color: $tertiary;
}

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
    @extend .bar-hardware-progress-circle;
    color: rgba($error, 1);
}

.ram label {
    font-family: $icon-font-family;
    font-size: 0.6rem;
    color: $error;
}

/* --------------------------------- */
/* -------------- VOL -------------- */
/* --------------------------------- */
.volume {
    @extend .bar-hardware-progress-circle;
    color: rgba($error, 1);
}

.volume label {
    @extend .bar-hardware-progress-inner-circle;
    font-size: 0.7rem;
    color: $error;
}

/* --------------------------------- */
/* ----------- BRIGHTNESS ---------- */
/* --------------------------------- */
.brightness {
    @extend .bar-hardware-progress-circle;
    color: rgba($secondary, 1);
}

.brightness-inner {
    @extend .bar-hardware-progress-inner-circle;
    color: $secondary;
    // margin-top: 0.1rem;
}

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
    background: $primary-container;
    border-radius: $border-radius;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin;
    padding: 0.2rem 0.25rem;
}
