.toolbar-icons-box {
    background: $primary-container;
    border-radius: $border-radius;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0rem 0.3rem;
}

.toolbar-button {
    all: unset;
    padding: 0.3rem 0rem;
    margin: 0.5rem;
    color: $on-primary-container;
    // min-width: 1.5rem;
}

.toolbar-button:hover {
    @extend .toolbar-button;
    transition:
        background 0.3s ease-in-out,
        color 0.3s ease-in-out;
    background: $primary;
    color: $on-primary;
    border-radius: $border-radius;
}

.toolbar-button-icon {
    font-family: $icon-font-family;
    min-width: 1.8rem;
}

.toolbar-button-text {
    min-width: 5rem;
}

.toolbar-button-selected {
    @extend .toolbar-button;
    // min-width: 6.6rem;
    background: $primary;
    color: $on-primary;
    border-radius: $border-radius;
    margin: 0.5rem 0.4rem;
    padding-left: 1rem;
    transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.toolbar-button-selected:hover {
    @extend .toolbar-button-selected;
}

.power-profile-box {
    // @extend .left-menu-insider-box;
    background: rgba($secondary-container, 1);
    color: $on-secondary-container;
}

.active-power-profiles {
    // @extend .theme-btn;
    background: $primary;
    color: $on-primary;
}

.dashboard-button-father {
    all: unset;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    min-height: 2rem;
}

.selected-theme {
    @extend .dashboard-button-father;
    background: $primary;
    color: $on-primary;
    border-radius: $border-radius;
}

.selected-theme:hover {
    background: $secondary;
    color: $on-secondary;
    border-radius: $border-radius;
}

.theme-btn {
    @extend .dashboard-button-father;
    background: $primary-container;
    border-radius: $border-radius;
    border-color: $on-primary-container;
}

.theme-btn:hover {
    background: $secondary;
    color: $on-secondary;
    border-radius: $border-radius;
    border-color: $tertiary;
}

.theme-btn-icon {
    font-family: $icon-font-family;
    min-width: 2rem;
}

.dynamic-theme-btn-icon {
    font-family: $icon-font-family;
    min-width: 1.93rem;
}

.theme-btn-label {
    min-width: 3rem;
    min-height: 2.2rem;
}

// -----------------------------
// ------- Power profile -------
// -----------------------------
.power-profiles-box-btn {
    box-shadow: 1px 1px 2px 2px rgba(#000000, 0);
}

.power-profiles-box-btn-active {
    background: $primary;
    color: $on-primary;
    box-shadow: 1px 1px 2px 2px rgba(#000000, 0);
    // font-family: $icon-font-family;
}

.themes-card-title {
    padding-bottom: 1.2rem;
    padding-top: 0.3rem;
    margin: 0rem 0.8rem;
    font-size: 1.2rem;
    color: $on-primary-container;
    font-weight: bold;
}

.themes-card-icon {
    padding-bottom: 1.2rem;
    padding-top: 0.3rem;
    margin: 0rem 0.3rem;
    font-size: 1.2rem;
    color: $on-primary-container;
    font-weight: bold;
    font-family: $icon-font-family;
}
