.left-menu-insider-box {
    padding: 1rem;
    margin: 0rem 1rem;
    border-radius: $border-radius;
    background: rgba($primary-container, 0.7);
    color: $on-primary-container;
}

.main-menu {
    background: $surface;
    color: $on-surface;
    border-radius: $border-radius;
    border: $border-size solid $primary;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    transition-property: background;
    transition-duration: 1.5s;
}

.main-menu:dir(rtl) {
    margin-left: 0.6rem;
    margin-right: 1rem;
    // box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
}

.main-menu:dir(ltr) {
    margin-right: 0.6rem;
    margin-left: 1rem;
    // box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-menu-header-background {
    background-size: cover;
    background-position: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    min-width: 23rem;
    min-height: 12rem;
    margin: $border-size;
}

.main-menu-header-profile {
    background: rgba($primary-container, 0.7);
    color: $on-primary-container;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -4rem;
    border-radius: $border-radius;
}

.profile-icon {
    margin-top: -3rem;
    border-radius: 5rem;
    font-size: 80px;
}

.profile-title {
    margin-top: 1rem;
    font-family: 'VIP Rawy Regular';
    font-size: xx-large;
}

.profile-sub-title {
    margin-top: -0.3rem;
    font-family: 'VIP Rawy Regular';
    font-size: large;
    margin-bottom: 1.5rem;
}

@import 'dashboard.scss';
@import 'monitors.scss';
