$border-color: #fdbbc4;
$border-size: 2px;
$bg-one: #20004a;
$bg-two: #0c0023;
$bg-three: #3b2163;
$fg-one: #ffedae;
$fg-two: #c68df1;
$fg-three: #b8e8ff;
$text-color: #cecece;
$icon-font-family: 'FantasqueSansM Nerd Font Propo';
$bar-top-margin: 0.3rem;
$bar-bottom-margin: 0.3rem;
$border-radius: 1rem;
// ------------------------------
// --------- Workspaces ---------
// ------------------------------
$workspace-btn: $fg-two;
$active-workspace-btn: $fg-one;
$workspace-background: $bg-two;
$workspace-focused: $fg-one;
$workspace-focused-bottom: $workspace-focused;
$workspace-has-windows: $workspace-focused;
$workspace-hover-background: rgba($fg-two, 0.9);
$workspace-hover-color: rgba($bg-two, 0.9);

// --------------------------------
// --------- Clock widget ---------
// --------------------------------
$clock-background: linear-gradient(to right, #9359ff, #ff00aa, #ffb92d);
// $clock-background: linear-gradient(to right, $fg-two, $fg-one);
$clock-color: $bg-two;

// -------------------------------
// --------- Bar Weather ---------
// -------------------------------
$bar-weather-background: linear-gradient(to right, #fe7c00, #cdd4af);
$bar-weather-color: $bg-two;
$weather-menu-box-bg: $bg-two;
$weather-menu-box-fg: $text-color;

// --------------------------------
// --------- prayer times ---------
// --------------------------------
$bar-prayer-times-box-background: linear-gradient(to right, #3599ff, #6457f0);

$bar-prayer-times-box-color: $bg-two;

// -----------------------
// --------- bar ---------
// -----------------------
$bar-background: $bg-one;
$bar-color: $text-color;

// --------------------------------
// --------- internet box ---------
// --------------------------------
$internet-box-background: linear-gradient(to right, #ffb92d, #ff00aa);
$internet-box-color: $bar-background;
$wifi-name-background: $bar-background;
$wifi-name-color: $bar-color;
$wifi-icon-background: $bar-background;
$wifi-icon-color: $bar-color;

// ---------------------------
// --------- systray ---------
// ---------------------------
$systray-background: $bg-three;
$systray-btn-background: $systray-background;
$systray-btn-hover-background: $workspace-focused;

// --------------------------------
// --------- hardware-box ---------
// --------------------------------
$hardware-box-color: $bg-two;

// ---------------------------
// --------- battery ---------
// ---------------------------
$battery-background: $hardware-box-color;
$battery-color: #ff8580;
$battery-inner-color: $battery-color;

// -----------------------
// --------- CPU ---------
// -----------------------
$cpu-background: $hardware-box-color;
$cpu-color: #fdc227;
$cpu-inner-color: $cpu-color;

// ------------------------
// --------- Temp ---------
// ------------------------
$temp-background: $hardware-box-color;
$temp-color: $fg-two;
$temp-inner-color: $temp-color;

// -----------------------
// --------- RAM ---------
// -----------------------
$ram-background: $hardware-box-color;
$ram-color: $fg-three;
$ram-inner-color: $ram-color;

// ---------------------------
// --------- Vol osd ---------
// ---------------------------
$vol-osd-background: $bg-one;
$vol-osd-border-color: $border-color;

// -----------------------------
// --------- GTK Scale ---------
// -----------------------------
$scale-highlight-background: $fg-one;
$scale-slider-background: $scale-highlight-background;

// ---------------------------------
// --------- Notifications ---------
// ---------------------------------
$notifications-border: $fg-one;
$notifications-popup-list-background: $bg-one;
$notifications-revealer-box-background: $bg-three;
$notifications-bar-btn-bg: $bg-three;
$notifications-bar-btn-fg: $fg-two;

$notifications-bar-btn-hover-bg: $fg-one;
$notifications-bar-btn-hover-fg: $bg-one;

$notifications-header-bg: $bg-two;
$notifications-header-fg: $text-color;
$notifications-separator-background: $text-color;

// ----------------------------------
// --------- desktop-widget ---------
// ----------------------------------
$desktop-wd-separator-background: linear-gradient(
  to bottom,
  $fg-two,
  #ea6220,
  $fg-one
);

$wd-fuzzy-day-box-bg: rgba(#000000, 0);
$wd-fuzzy-day-box-fg: $bg-three;

$wd-fuzzy-day-text-font-size: 1.8rem;
$wd-fuzzy-day-text-font-family: 'VIP Rawy Regular';
$wd-fuzzy-day-icon-font-size: 1.5rem;
$wd-fuzzy-day-icon-font-family: $icon-font-family;
$wd-fuzzy-day-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-day-icon-padding: 0.7rem 0rem 0rem 0rem;

$wd-time-now-bg: rgba(#000000, 0);
$wd-time-now-fg: #432681;
$wd-time-now-font-size: 1.5rem;
$wd-time-now-font-family: 'VEXA light R';
$wd-time-now-margin: 0rem 0rem 0.5rem 0rem;

$wd-fuzzy-time-box-bg: rgba(#000000, 0);
$wd-fuzzy-time-box-fg: $bg-one;
$wd-fuzzy-time-icon-font-size: 1.5rem;
$wd-fuzzy-time-icon-font-family: $icon-font-family;
$wd-fuzzy-time-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-time-text-font-size: 1.8rem;
$wd-fuzzy-time-text-font-family: 'VIP Rawy Regular';

$saying-wd-label-bg: rgba($fg-three, 0.8);
$saying-wd-label-fg: $bg-one;
$saying-wd-label-font-size: 1.5rem;
$saying-wd-label-min-width: 1rem;
$saying-wd-label-font-family: 'VIP Rawy Regular';
$saying-wd-label-padding: 1rem;
$saying-wd-label-margin: 0rem 1rem;
$saying-wd-label-border-radius: $border-radius;

// Music Info
$music-info-wd-font-family: 'VIP Rawy Regular';
$music-info-wd-font-size: 1.5rem;
$music-info-wd-min-width: 30rem;
$music-info-wd-padding: 1rem 0rem 0rem 0rem;

$music-info-wd-title-fg: $fg-one;
$music-info-wd-artist-fg: $fg-two;

// --------------------------------
// --------- Prayer times ---------
// --------------------------------
$prayer-times-menu-header-bg: $bg-two;
$prayer-times-menu-header-fg: $text-color;

$prayer-times-next-prayer-bg: linear-gradient(
  to right,
  #9359ff,
  #ff00aa,
  #ffb92d
);
$prayer-times-next-prayer-fg: $bg-two;

// ------------------------
// --------- Menu ---------
// ------------------------
$menu-box-background: $bg-one;
$menu-box-borders: $fg-one;

$profile-box-background: linear-gradient(
  to right,
  rgba(#9359ff, 0.8),
  rgba(#ff00aa, 0.6)
);
$profile-box-color: $bg-one;

$theme-box-background: rgba($bg-three, 0.8);
$power-box-background: $bg-two;

$selected-theme-background: linear-gradient(to right, #9359ff, #ff00aa);
$selected-theme-color: $bg-one;
$selected-theme-hover-background: linear-gradient(to right, #ff9900, #ff6600);
$selected-theme-hover-color: $bg-three;

$menu-btn-background: $bg-one;
$menu-btn-hover: $fg-one;

/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
$music-father-box-bg: $bg-three;
// $music-wd-box-bg: #6f3ad1;
$music-wd-box-bg: linear-gradient(to right, #5812db, #8f1767);
$music-wd-player-bg: $bg-two;
$music-wd-player-fg: $fg-three;
$music-wd-title-fg: $bg-two;
$music-wd-artist-fg: $fg-three;
$music-wd-button-bg: linear-gradient(to right, $bg-one, $bg-one);
$music-wd-button-hover-bg: linear-gradient(to top, $fg-one, $fg-two);
$music-wd-button-fg: $fg-three;

$music-wd-button-play-bg: $selected-theme-background;
$music-wd-button-play-fg: $bg-two;

$music-wd-button-stop-bg: $music-wd-button-bg;
$music-wd-button-stop-fg: $music-wd-button-fg;

$left-menu-music-wd-padding-right: 1.8rem;

// ---------------------------
// --------- HW menu ---------
// ---------------------------
$hardware-menu-box-background: $bg-one;
$hardware-menu-header-box-background: $bg-two;
$hardware-menu-tables-box-background: $bg-two;

$hardware-cpu-box-background: linear-gradient(to top, $fg-one, $fg-two);
$hardware-cpu-box-color: $bg-one;
$hardware-cpu-table-row-header-background: $fg-two;
$hardware-cpu-table-row-header-color: $bg-one;

$hardware-ram-box-background: linear-gradient(to top, #e952ed, #4f92b4);
$hardware-ram-box-color: $bg-one;
$hardware-ram-table-row-header-background: #5d86b9;
$hardware-ram-table-row-header-color: $bg-two;

$hardware-bat-box-background: rgba(#faab78, 1);
$hardware-bat-box-color: #211008;
$hardware-bat-table-row-header-background: #db976a;
$hardware-bat-table-row-header-color: #211008;

$hardware-os-box-background: rgba($fg-two, 0.9);
$hardware-os-box-color: #211008;
$hardware-os-table-row-header-background: rgba($fg-two, 0.8);
$hardware-os-table-row-header-color: #211008;

// --------------------------------
// --------- GTK elements ---------
// --------------------------------
$btn-background: $bg-three;
$btn-color: $fg-three;
$btn-hover-background: $fg-one;
$btn-hover-color: $bg-one;

button {
  background-color: $btn-background;
  color: $btn-color;
  border-color: $btn-background;
}

button:hover {
  background-color: $btn-hover-background;
  color: $btn-hover-color;
  border-color: $btn-hover-background;
}

// --------- Menu ---------
$menu-bg: $bg-one;
$menu-fg: $text-color;
$menuitem-hover-bg: rgba($text-color, 0.2);
$menuitem-hover-fg: $text-color;

$menuitem-disabled-bg: rgba($text-color, 0.1);
$menuitem-disabled-fg: rgba($text-color, 0.5);

/* -------------------------------------------- */
/* -------------- Desktop Widget -------------- */
/* -------------------------------------------- */
.my-weather-wd-text {
  font-size: medium;
  color: $bg-one;
}

.weather-wd-row-one {
  background: rgba($fg-two, 0.7);
  border-radius: $border-radius;
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-desktop-music-box {
  background: $music-wd-box-bg;
  border-radius: $border-radius;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.2rem;
  padding-left: 1rem;
  min-width: 1rem;
  margin: 1rem;
  margin-top: 0.5rem;
  // margin-left: 11.3rem;
}

.my-weather-wd-icon {
  color: $bg-one;
  font-size: xx-large;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: $icon-font-family;
}

.my-wd-user-icon {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: $border-radius;
}

.my-weather-wd-title-text-box {
  // background: #E9C7C6;
  min-width: 10.55rem;
  padding-top: 1rem;
  color: $bg-one;
  font-size: x-large;
  font-family: $saying-wd-label-font-family;
}

// Desktop M-U Weather Days
.my-weather-wd-row-two {
  // background: #E9C7C6;
  background: $bg-one;
  margin: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;

  // margin-left: 6.4rem;

  border-radius: $border-radius;
}

.my-fuzzy-clock-box {
  background: rgba(#ffefb0, 0.7);

  margin: 1rem;
  margin-bottom: 0.5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1rem;

  // margin-left: 6.4rem;

  border-radius: $border-radius;
}

.my-wd-weather-day-name {
  font-family: $saying-wd-label-font-family;
  color: $bg-one;
}

.my-wd-weather-day-text {
  font-size: x-small;
  padding-bottom: 0rem;
  color: $bg-one;
}

.my-weather-wd-day-icon {
  background: rgba($color: $bg-three, $alpha: 0.7);
  color: $text-color;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-radius: $border-radius;
  margin-bottom: 0.2rem;
  min-width: 3rem;
  min-height: 3.5rem;
  font-size: x-large;
  font-family: $icon-font-family;
}

.my-weather-wd-day-box {
  background: $fg-two;
  border-radius: $border-radius;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
