$border-color: #1ed4fd;
$border-size: 2px;
$bg-one: #352557;
$bg-two: #1f1635;
$bg-three: #154a63;
$fg-one: #1ed4fd;
$fg-two: #ff00ff;
$fg-three: #c1c4eb;
$text-color: #bdddee;
$icon-font-family: 'FantasqueSansM Nerd Font Propo';
$bar-top-margin: 0.3rem;
$bar-bottom-margin: 0.3rem;
$border-radius: 1.5rem;
// ------------------------------
// --------- Workspaces ---------
// ------------------------------
$workspace-btn: $text-color;
$active-workspace-btn: $fg-one;
$workspace-background: $bg-two;
$workspace-focused: $fg-one;
$workspace-focused-bottom: $workspace-focused;
$workspace-has-windows: $workspace-focused;
$workspace-hover-background: rgba($fg-two, 0.9);
$workspace-hover-color: rgba($bg-two, 0.9);
// --------------------------------
// --------- Clock widget ---------
// --------------------------------
$clock-background: linear-gradient(to right, $fg-two, $fg-one);
$clock-color: $bg-two;
// -------------------------------
// --------- Bar Weather ---------
// -------------------------------
$bar-weather-background: linear-gradient(to right, #25f7e2, #cdd4af);
$bar-weather-color: $bg-two;
$weather-menu-box-bg: $bg-one;
$weather-menu-box-fg: $text-color;
// -----------------------
// --------- bar ---------
// -----------------------
$bar-background: $bg-one;
$bar-color: $text-color;
// --------------------------------
// --------- prayer times ---------
// --------------------------------
$bar-prayer-times-box-background: linear-gradient(to right, #82d8d2, #478dd7);
$bar-prayer-times-box-color: $bg-two;
// --------------------------------
// --------- internet box ---------
// --------------------------------
// $internet-box-background: linear-gradient(to right, #ffb92d, #0cdfff);
// $internet-box-background: linear-gradient(to right, #EF96D3, #ff2176);
$internet-box-background: linear-gradient(to right, #82d8d2, #478dd7);
$internet-box-color: $bar-background;
$wifi-name-background: $bar-background;
$wifi-name-color: $bar-color;
$wifi-icon-background: $wifi-name-background;
$wifi-icon-color: $wifi-name-color;
// ---------------------------
// --------- systray ---------
// ---------------------------
$systray-background: $bg-two;
$systray-btn-background: $systray-background;
$systray-btn-hover-background: $workspace-focused;
// --------------------------------
// --------- hardware-box ---------
// --------------------------------
$hardware-box-color: $bg-two;
// ---------------------------
// --------- battery ---------
// ---------------------------
$battery-background: $hardware-box-color;
$battery-color: $fg-one;
$battery-inner-color: $battery-color;
// -----------------------
// --------- CPU ---------
// -----------------------
$cpu-background: $hardware-box-color;
$cpu-color: #b18dff;
$cpu-inner-color: $cpu-color;
// ------------------------
// --------- Temp ---------
// ------------------------
$temp-background: $hardware-box-color;
$temp-color: $fg-two;
$temp-inner-color: $temp-color;
// -----------------------
// --------- RAM ---------
// -----------------------
$ram-background: $hardware-box-color;
$ram-color: $fg-three;
$ram-inner-color: $ram-color;
// ---------------------------
// --------- Vol osd ---------
// ---------------------------
$vol-osd-background: $bg-one;
$vol-osd-border-color: $border-color;
// -----------------------------
// --------- GTK Scale ---------
// -----------------------------
$scale-highlight-background: $fg-one;
$scale-slider-background: $fg-one;
// ---------------------------------
// --------- Notifications ---------
// ---------------------------------
$notifications-border: $fg-one;
$notifications-popup-list-background: $bg-one;
$notifications-revealer-box-background: $bg-three;
$notifications-bar-btn-bg: $bg-two;
$notifications-bar-btn-fg: $fg-three;

$notifications-bar-btn-hover-bg: $fg-one;
$notifications-bar-btn-hover-fg: $bg-one;

$notifications-header-bg: $bg-two;
$notifications-header-fg: $text-color;
$notifications-separator-background: $text-color;

// ----------------------------------
// --------- desktop-widget ---------
// ----------------------------------
$desktop-wd-separator-background: linear-gradient(
    to bottom,
    $fg-two,
    #ffb431,
    $fg-one
);

$wd-fuzzy-day-box-bg: rgba(#000000, 0);
$wd-fuzzy-day-box-fg: $fg-two;

$wd-fuzzy-day-text-font-size: 3rem;
$wd-fuzzy-day-text-font-family: 'VIP Rawy Regular';
$wd-fuzzy-day-icon-font-size: 2rem;
$wd-fuzzy-day-icon-font-family: $icon-font-family;
$wd-fuzzy-day-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-day-icon-padding: 0.7rem 0rem 0rem 0rem;

$wd-time-now-bg: rgba(#000000, 0);
$wd-time-now-fg: #ffb431;
$wd-time-now-font-size: 2.3rem;
$wd-time-now-font-family: 'VEXA light R';
$wd-time-now-margin: 0rem 0rem 0.5rem 0rem;

$wd-fuzzy-time-box-bg: rgba(#000000, 0);
$wd-fuzzy-time-box-fg: $fg-one;
$wd-fuzzy-time-icon-font-size: 1.5rem;
$wd-fuzzy-time-icon-font-family: $icon-font-family;
$wd-fuzzy-time-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-time-text-font-size: 1.8rem;
$wd-fuzzy-time-text-font-family: 'VIP Rawy Regular';

$saying-wd-label-bg: rgba(#000000, 0);
$saying-wd-label-fg: #31ff87;
$saying-wd-label-font-size: 1.8rem;
$saying-wd-label-min-width: 25rem;
$saying-wd-label-font-family: 'VIP Rawy Regular';
$saying-wd-label-padding: 0rem;
$saying-wd-label-margin: 0rem;
$saying-wd-label-border-radius: 0rem;

// Music Info
$music-info-wd-font-family: 'VIP Rawy Regular';
$music-info-wd-font-size: 1.5rem;
$music-info-wd-min-width: 30rem;
$music-info-wd-padding: 1rem 0rem 0rem 0rem;

$music-info-wd-title-fg: $fg-one;
$music-info-wd-artist-fg: $fg-two;

// --------------------------------
// --------- Prayer times ---------
// --------------------------------
$prayer-times-menu-header-bg: $bg-two;
$prayer-times-menu-header-fg: $text-color;

$prayer-times-next-prayer-bg: linear-gradient(to left, $fg-two, $fg-one);
$prayer-times-next-prayer-fg: $bg-two;

// ------------------------
// --------- Menu ---------
// ------------------------
$menu-box-background: $bg-one;
$menu-box-borders: $fg-one;

$profile-box-background: linear-gradient(
    to right,
    rgba(#a280ff, 0.8),
    rgba(#774cf0, 0.6)
);
$profile-box-color: $bg-two;

$theme-box-background: #241546;
$power-box-background: $bg-two;

$selected-theme-background: linear-gradient(to right, #9359ff, #ff00aa);
$selected-theme-color: $bg-one;
$selected-theme-hover-background: linear-gradient(to right, #ff9900, #ff6600);
$selected-theme-hover-color: $bg-three;

$menu-btn-background: $bg-one;
$menu-btn-hover: $fg-one;

/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
$music-father-box-bg: $bg-three;
// $music-wd-box-bg: #6f3ad1;
$music-wd-box-bg: linear-gradient(to right, #8e52ff, #0088ff);

$music-wd-player-bg: $bg-two;
$music-wd-player-fg: $fg-three;

$music-wd-title-fg: $bg-two;
$music-wd-artist-fg: $fg-three;

$music-wd-button-bg: linear-gradient(to right, $bg-one, $bg-one);
$music-wd-button-fg: $fg-three;
$music-wd-button-hover-bg: linear-gradient(to top, $fg-one, $fg-two);

$music-wd-button-play-bg: $selected-theme-background;
$music-wd-button-play-fg: $bg-two;

$music-wd-button-stop-bg: $music-wd-button-bg;
$music-wd-button-stop-fg: $music-wd-button-fg;

$left-menu-music-wd-padding-right: 1.8rem;

// ---------------------------
// --------- HW menu ---------
// ---------------------------
$hardware-menu-box-background: $bg-one;
$hardware-menu-header-box-background: $bg-two;
$hardware-menu-tables-box-background: $bg-two;

$hardware-cpu-box-background: linear-gradient(to top, $fg-one, $fg-two);
$hardware-cpu-box-color: $bg-two;
$hardware-cpu-table-row-header-background: $fg-two;
$hardware-cpu-table-row-header-color: $bg-two;

$hardware-ram-box-background: linear-gradient(to top, #8d52ff, #0088ff);
$hardware-ram-box-color: $bg-two;
$hardware-ram-table-row-header-background: #017de9;
$hardware-ram-table-row-header-color: $bg-two;

$hardware-bat-box-background: rgba(#987fd6, 1);
$hardware-bat-box-color: #211008;
$hardware-bat-table-row-header-background: #8b75c4;
$hardware-bat-table-row-header-color: #211008;

$hardware-os-box-background: rgba($fg-two, 0.9);
$hardware-os-box-color: #211008;
$hardware-os-table-row-header-background: rgba($fg-two, 0.8);
$hardware-os-table-row-header-color: #211008;

// --------------------------------
// --------- GTK elements ---------
// --------------------------------
$btn-background: $bg-two;
$btn-color: $text-color;
$btn-hover-background: $fg-one;
$btn-hover-color: $bg-three;

button {
    background-color: $btn-background;
    color: $btn-color;
    border-color: $btn-background;
}

button:hover {
    background-color: $btn-hover-background;
    color: $btn-hover-color;
    border-color: $btn-hover-background;
}

// --------- Menu ---------
$menu-bg: $bg-one;
$menu-fg: $text-color;
$menuitem-hover-bg: rgba($text-color, 0.2);
$menuitem-hover-fg: $text-color;

$menuitem-disabled-bg: rgba($text-color, 0.1);
$menuitem-disabled-fg: rgba($text-color, 0.5);
