$border-color: #2c3041;
$border-size: 2px;
$bg-one: #f0eeda;
$bg-two: #e9c7c6;
$bg-three: #fed6ba;
$fg-one: #ffd954;
$fg-two: #e44b37;
$fg-three: #e5c053;
$text-color: #2d3240;
$icon-font-family: 'FantasqueSansM Nerd Font Propo';
$bar-top-margin: 0.3rem;
$bar-bottom-margin: 0.3rem;
$border-radius: 1rem;
// ------------------------------
// --------- Workspaces ---------
// ------------------------------
$workspace-btn: #889285;
$active-workspace-btn: $text-color;
$workspace-background: $bg-three;
$workspace-focused: #2b3141;
$workspace-focused-bottom: $workspace-focused;
$workspace-has-windows: $workspace-focused;
$workspace-hover-background: rgba($fg-two, 0.9);
$workspace-hover-color: rgba($bg-two, 0.9);

// --------------------------------
// --------- Clock widget ---------
// --------------------------------
$clock-background: linear-gradient(to right, #2c3041, #2c3041);
$clock-color: #f0eeda;

// --------------------------------
// --------- prayer times ---------
// --------------------------------
$bar-prayer-times-box-background: linear-gradient(to right, $fg-one, $fg-three);
$bar-prayer-times-box-color: $text-color;

// -------------------------------
// --------- Bar Weather ---------
// -------------------------------
$bar-weather-background: linear-gradient(to right, $fg-two, $fg-three);
$bar-weather-color: $text-color;
$weather-menu-box-bg: $bg-one;
$weather-menu-box-fg: $text-color;

// -----------------------
// --------- bar ---------
// -----------------------
$bar-background: #f0ccc2;
$bar-color: $text-color;

// --------------------------------
// --------- internet box ---------
// --------------------------------
$internet-box-background: #8f2014;
$internet-box-color: #f0eeda;
$wifi-name-background: $bar-background;
$wifi-name-color: $bar-color;
$wifi-icon-background: $bar-background;
$wifi-icon-color: $bar-color;

// ---------------------------
// --------- systray ---------
// ---------------------------
$systray-background: $bg-three;
$systray-btn-background: $systray-background;
$systray-btn-hover-background: $workspace-focused;

// --------------------------------
// --------- hardware-box ---------
// --------------------------------
$hardware-box-color: $bg-three;

// ---------------------------
// --------- battery ---------
// ---------------------------
$battery-background: $hardware-box-color;
$battery-color: #744f37;
$battery-inner-color: $battery-color;

// -----------------------
// --------- CPU ---------
// -----------------------
$cpu-background: $hardware-box-color;
$cpu-color: #78261d;
$cpu-inner-color: $cpu-color;

// ------------------------
// --------- Temp ---------
// ------------------------
$temp-background: $hardware-box-color;
$temp-color: #746a66;
$temp-inner-color: $temp-color;

// -----------------------
// --------- RAM ---------
// -----------------------
$ram-background: $hardware-box-color;
$ram-color: #454c4a;
$ram-inner-color: $ram-color;

// ---------------------------
// --------- Vol osd ---------
// ---------------------------
$vol-osd-background: $bg-one;
$vol-osd-border-color: $border-color;

// -----------------------------
// --------- GTK Scale ---------
// -----------------------------
$scale-highlight-background: $text-color;
$scale-slider-background: $scale-highlight-background;

// ---------------------------------
// --------- Notifications ---------
// ---------------------------------
$notifications-border: $border-color;
$notifications-popup-list-background: $bg-one;
$notifications-revealer-box-background: $bg-three;

$notifications-bar-btn-bg: #1e273e;
$notifications-bar-btn-fg: #f0eeda;

$notifications-bar-btn-hover-bg: rgba($notifications-bar-btn-bg, 0.2);
$notifications-bar-btn-hover-fg: $text-color;

$notifications-header-bg: #d4d6c1;
$notifications-header-fg: $text-color;
$notifications-separator-background: $text-color;

// ----------------------------------
// --------- desktop-widget ---------
// ----------------------------------
$desktop-wd-separator-background: linear-gradient(
  to bottom,
  $fg-two,
  #ea6220,
  $fg-one
);

$wd-fuzzy-day-box-bg: rgba(#000000, 0);
$wd-fuzzy-day-box-fg: $text-color;

$wd-fuzzy-day-text-font-size: 1.8rem;
$wd-fuzzy-day-text-font-family: 'VIP Rawy Regular';
$wd-fuzzy-day-icon-font-size: 1.5rem;
$wd-fuzzy-day-icon-font-family: $icon-font-family;
$wd-fuzzy-day-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-day-icon-padding: 0rem 0rem 0rem 0rem;

$wd-time-now-bg: rgba(#000000, 0);
$wd-time-now-fg: $text-color;
$wd-time-now-font-size: 1.5rem;
$wd-time-now-font-family: 'VEXA light R';
$wd-time-now-margin: 0rem 0rem 0rem 0rem;

$wd-fuzzy-time-box-bg: rgba(#000000, 0);
$wd-fuzzy-time-box-fg: $text-color;
$wd-fuzzy-time-icon-font-size: 1.5rem;
$wd-fuzzy-time-icon-font-family: $icon-font-family;
$wd-fuzzy-time-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-time-text-font-size: 1.8rem;
$wd-fuzzy-time-text-font-family: 'VIP Rawy Regular';

$saying-wd-label-bg: rgba(#e45632, 0.4);
$saying-wd-label-fg: #3f3a57;
$saying-wd-label-font-size: 1.5rem;
$saying-wd-label-font-size: 1.5rem;
$saying-wd-label-min-width: 1rem;
$saying-wd-label-font-family: 'VIP Rawy Regular';
$saying-wd-label-padding: 1rem;
$saying-wd-label-margin: 1rem;
$saying-wd-label-border-radius: 3rem;

// Music Info
$music-info-wd-font-family: 'VIP Rawy Regular';
$music-info-wd-font-size: 1.5rem;
$music-info-wd-min-width: 30rem;
$music-info-wd-padding: 1rem 0rem 0rem 0rem;

$music-info-wd-title-fg: $fg-one;
$music-info-wd-artist-fg: $fg-two;

// --------------------------------
// --------- Prayer times ---------
// --------------------------------
$prayer-times-menu-header-bg: $bg-two;
$prayer-times-menu-header-fg: $text-color;

$prayer-times-next-prayer-bg: linear-gradient(to left, $fg-two, $fg-one);
$prayer-times-next-prayer-fg: $text-color;

// ------------------------
// --------- Menu ---------
// ------------------------
$menu-box-background: $bg-one;
$menu-box-borders: $border-color;

$profile-box-background: linear-gradient(
  to right,
  rgba($fg-two, 0.9),
  rgba($fg-three, 0.6)
);
$profile-box-color: $text-color;

// $theme-box-background: rgba($fg-three, 0.4);
$theme-box-background: linear-gradient(to right, $bg-two, $bg-three);
$power-box-background: $bg-two;

$selected-theme-background: linear-gradient(to right, $fg-one, $fg-two);
$selected-theme-color: $text-color;
$selected-theme-hover-background: linear-gradient(to right, $fg-three, $fg-two);
$selected-theme-hover-color: $text-color;

$menu-btn-background: $bg-one;
$menu-btn-hover: $text-color;

/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
$music-father-box-bg: $bg-three;

$music-wd-box-bg: linear-gradient(to left, $bg-two, $bg-three);
$music-wd-player-bg: #f39c48;
$music-wd-player-fg: $text-color;
$music-wd-title-fg: $text-color;
$music-wd-artist-fg: $text-color;
$music-wd-button-bg: linear-gradient(to right, $bg-one, $bg-one);
$music-wd-button-hover-bg: linear-gradient(to top, $text-color, $text-color);
$music-wd-button-fg: $text-color;

$music-wd-button-play-bg: $selected-theme-background;
$music-wd-button-play-fg: $text-color;

$music-wd-button-stop-bg: $music-wd-button-bg;
$music-wd-button-stop-fg: $music-wd-button-fg;

$left-menu-music-wd-padding-right: 1.9rem;

// ---------------------------
// --------- HW menu ---------
// ---------------------------
$hardware-menu-box-background: $bg-one;
$hardware-menu-header-box-background: $bg-two;
$hardware-menu-tables-box-background: $bg-two;

$hardware-cpu-box-background: linear-gradient(to top, $fg-one, $fg-two);
$hardware-cpu-box-color: #211008;
$hardware-cpu-table-row-header-background: #e66b4c;
$hardware-cpu-table-row-header-color: #211008;

$hardware-ram-box-background: linear-gradient(to top, #b9c4b5, #fcea96);
$hardware-ram-box-color: #211008;
$hardware-ram-table-row-header-background: #ded18d;
$hardware-ram-table-row-header-color: #211008;

$hardware-bat-box-background: rgba(#fb6954, 1);
$hardware-bat-box-color: #211008;
$hardware-bat-table-row-header-background: #e55e4c;
$hardware-bat-table-row-header-color: #211008;

$hardware-os-box-background: rgba(#3a3f4d, 0.9);
$hardware-os-box-color: #f0eeda;
$hardware-os-table-row-header-background: rgba(#3a3f4d, 1);
$hardware-os-table-row-header-color: #f0eeda;

// --------------------------------
// --------- GTK elements ---------
// --------------------------------
$btn-background: $bg-two;
$btn-color: $text-color;
$btn-hover-background: $fg-one;
$btn-hover-color: $text-color;
button {
  background: $btn-background;
  color: $btn-color;
  border-color: $btn-background;
  border-radius: $border-radius;
}

button:hover {
  background: $btn-hover-background;
  color: $btn-hover-color;
  border-color: $btn-hover-background;
  border-radius: $border-radius;
}

// --------- Menu ---------
$menu-bg: $bg-one;
$menu-fg: $text-color;
$menuitem-hover-bg: rgba($text-color, 0.2);
$menuitem-hover-fg: $text-color;

$menuitem-disabled-bg: rgba($text-color, 0.1);
$menuitem-disabled-fg: rgba($text-color, 0.5);

/* -------------------------------------------- */
/* -------------- Desktop Widget -------------- */
/* -------------------------------------------- */
.my-weather-wd-text {
  font-size: medium;
  color: $text-color;
}

.weather-wd-row-one {
  background: $fg-one;
  border-radius: 3rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  // margin-left: 11.4rem;
}

.my-desktop-music-box {
  background: $fg-two;
  border-radius: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-width: 1rem;
  margin: 1rem;
  margin-top: 0.5rem;
  // margin-left: 11.3rem;
}

.my-desktop-music-box:dir(rtl) {
  padding-right: 1.2rem;
  padding-left: 1rem;
}

.my-desktop-music-box:dir(ltr) {
  padding-left: 1.2rem;
  padding-right: 1rem;
}

.my-weather-wd-icon {
  color: $text-color;
  font-size: xx-large;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: $icon-font-family;
}

.my-wd-user-icon {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: 3rem;
}

.my-wd-user-icon:dir(rtl) {
  margin-right: 1rem;
}

.my-wd-user-icon:dir(ltr) {
  margin-left: 1rem;
}

.my-weather-wd-title-text-box {
  min-width: 10.55rem;
  padding-top: 1rem;
  color: $text-color;
  font-size: x-large;
  font-family: $saying-wd-label-font-family;
}

// Desktop M-U Weather Days
.my-weather-wd-row-two {
  background: #f38e31;
  margin: 1rem;

  // margin-right: 2.5rem;
  // margin-left: 2.5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;

  // margin-left: 6.4rem;

  border-radius: 3rem;
}

.my-fuzzy-clock-box {
  background: rgba(#b9c4b5, 0.5);

  margin: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  // margin-left: 6.4rem;

  border-radius: 3rem;
}

.my-fuzzy-clock-box:dir(rtl) {
  padding-right: 1.5rem;
  padding-left: 1rem;
}

.my-fuzzy-clock-box:dir(ltr) {
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.my-wd-weather-day-name {
  font-family: $saying-wd-label-font-family;
  color: $text-color;
}

.my-wd-weather-day-text {
  font-size: x-small;
  padding-bottom: 0rem;
  color: $text-color;
}

.my-weather-wd-day-icon {
  background: rgba($color: $text-color, $alpha: 1);
  color: $fg-one;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 10rem;
  margin-bottom: 0.2rem;
  min-width: 3rem;
  min-height: 3.5rem;
  font-size: x-large;
  font-family: $icon-font-family;
}

.my-weather-wd-day-box {
  background: $fg-two;
  border-radius: 3rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
