/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #686000;
$secondary: #635f41;
$tertiary: #3f6653;
$error: #ba1b1b;
$background: #fffbf7;
$surface: #fffbf7;
$surface-variant: #e8e3d0;
$outlined: #7a7768;
$shadow: #000000;
$inverseSurface: #32302a;

$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-tertiary: #ffffff;
$on-error: #ffffff;
$on-background: #1d1c16;

$primary-container: #f3e664;
$secondary-container: #e9e3bd;
$tertiary-container: #c2ecd4;
$error-container: #ffdad4;

$on-primary-container: #201c00;
$on-secondary-container: #1e1c05;
$on-tertiary-container: #002113;
$on-error-container: #410001;
$on-surface: #1d1c16;
$on-surface-variant: #49473a;

$inverseOnSurface: #f5f0e7;
$inversePrimary: #d5c94a;