/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #b8c3ff;
$secondary: #c3c5dd;
$tertiary: #e5bad8;
$error: #ffb4a9;
$background: #1b1b1f;
$surface: #1b1b1f;
$surface-variant: #45464f;
$outlined: #90909a;
$shadow: #000000;
$inverseSurface: #e4e1e6;

$on-primary: #001f91;
$on-secondary: #2c2f41;
$on-tertiary: #44263e;
$on-error: #680003;
$on-background: #e4e1e6;

$primary-container: #1d3aad;
$secondary-container: #434659;
$tertiary-container: #5d3c55;
$error-container: #930006;

$on-primary-container: #dde1ff;
$on-secondary-container: #dfe1fa;
$on-tertiary-container: #ffd6f4;
$on-error-container: #ffb4a9;
$on-surface: #e4e1e6;
$on-surface-variant: #c6c5cf;

$inverseOnSurface: #303034;
$inversePrimary: #3b54c6;