/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #61d4fe;
$secondary: #b4cad5;
$tertiary: #c5c3ea;
$error: #ffb4a9;
$background: #191c1e;
$surface: #191c1e;
$surface-variant: #40484c;
$outlined: #8a9296;
$shadow: #000000;
$inverseSurface: #e1e3e5;

$on-primary: #003545;
$on-secondary: #1e333c;
$on-tertiary: #2d2d4d;
$on-error: #680003;
$on-background: #e1e3e5;

$primary-container: #004d63;
$secondary-container: #354a53;
$tertiary-container: #444364;
$error-container: #930006;

$on-primary-container: #b9eaff;
$on-secondary-container: #cfe6f2;
$on-tertiary-container: #e2dfff;
$on-error-container: #ffb4a9;
$on-surface: #e1e3e5;
$on-surface-variant: #c0c7cc;

$inverseOnSurface: #2e3133;
$inversePrimary: #006784;