$border-color: #894587;
$border-size: 2px;
$primary: #894587;
$secondary: #6d5869;
$tertiary: #825246;
$background: #fffbff;
$outlined: #7f747c;
$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-tertiary: #ffffff;
$on-background: #1e1a1d;
$primary-container: #ffd6f7;
$secondary-container: #f6daef;
$tertiary-container: #ffdbd2;
$surface: #fffbff;
$surface-variant: #eddee8;
$on-primary-container: #37003a;
$on-secondary-container: #261625;
$on-tertiary-container: #321209;
$on-surface: #1e1a1d;
$on-surface-variant: #4e444b;
$text-color: #454061;
$icon-font-family: 'FantasqueSansM Nerd Font Propo';
$bar-top-margin: 0.3rem;
$bar-bottom-margin: 0.3rem;
$border-radius: 1rem;

// ------------------------------
// --------- Workspaces ---------
// ------------------------------
$workspace-btn: $tertiary;
$active-workspace-btn: $on-primary-container;
$workspace-background: $primary-container;
$workspace-focused: $primary;
$workspace-focused-bottom: $workspace-focused;
$workspace-has-windows: $workspace-focused;
$workspace-hover-background: rgba($secondary, 0.9);
$workspace-hover-color: rgba($on-secondary, 0.9);

// --------------------------------
// --------- Clock widget ---------
// --------------------------------
$clock-background: linear-gradient(
  to right,
  $primary-container,
  $secondary-container
);
$clock-color: $on-primary-container;

// --------------------------------
// --------- prayer times ---------
// --------------------------------
$bar-prayer-times-box-background: $tertiary-container;
$bar-prayer-times-box-color: $on-tertiary-container;

// -------------------------------
// --------- Bar Weather ---------
// -------------------------------
$bar-weather-background: $tertiary-container;
$bar-weather-color: $on-tertiary-container;
$weather-menu-box-bg: $background;
$weather-menu-box-fg: $on-background;

// -----------------------
// --------- bar ---------
// -----------------------
$bar-background: $background;
$bar-color: $on-surface;

// --------------------------------
// --------- internet box ---------
// --------------------------------
$internet-box-background: $secondary-container;
$internet-box-color: $on-secondary-container;
$wifi-name-background: $surface;
$wifi-name-color: $on-surface;
$wifi-icon-background: $wifi-name-background;
$wifi-icon-color: $wifi-name-color;

// ---------------------------
// --------- systray ---------
// ---------------------------
$systray-background: $surface-variant;
$systray-btn-background: $tertiary-container;
$systray-btn-hover-background: $workspace-focused;

// --------------------------------
// --------- hardware-box ---------
// --------------------------------
$hardware-box-color: rgba($surface-variant, 1);

// ---------------------------
// --------- battery ---------
// ---------------------------
$battery-background: $hardware-box-color;
$battery-color: $primary;
$battery-inner-color: $battery-color;

// -----------------------
// --------- CPU ---------
// -----------------------
$cpu-background: $hardware-box-color;
$cpu-color: $secondary;
$cpu-inner-color: $cpu-color;

// ------------------------
// --------- Temp ---------
// ------------------------
$temp-background: $hardware-box-color;
$temp-color: $tertiary;
$temp-inner-color: $temp-color;

// -----------------------
// --------- RAM ---------
// -----------------------
$ram-background: $hardware-box-color;
$ram-color: #4c9b6b;
$ram-inner-color: $ram-color;

// ---------------------------
// --------- Vol osd ---------
// ---------------------------
$vol-osd-background: $surface-variant;
$vol-osd-border-color: $on-surface-variant;

// -----------------------------
// --------- GTK Scale ---------
// -----------------------------
$scale-highlight-background: $primary;
$scale-slider-background: $scale-highlight-background;

// ---------------------------------
// --------- Notifications ---------
// ---------------------------------
$notifications-border: $primary;
$notifications-popup-list-background: $surface;
$notifications-revealer-box-background: $secondary-container;
$notifications-bar-btn-bg: $surface-variant;
$notifications-bar-btn-fg: $on-surface-variant;

$notifications-bar-btn-hover-bg: $primary;
$notifications-bar-btn-hover-fg: $on-primary;

$notifications-header-bg: $tertiary-container;
$notifications-header-fg: $on-tertiary-container;
$notifications-separator-background: $on-surface;

// --------------------------------
// --------- Prayer times ---------
// --------------------------------
$prayer-times-menu-header-bg: $tertiary-container;
$prayer-times-menu-header-fg: $on-tertiary-container;

$prayer-times-next-prayer-bg: $primary;
$prayer-times-next-prayer-fg: $on-primary;

// ------------------------
// --------- Menu ---------
// ------------------------
$menu-box-background: $surface;
$menu-box-borders: $primary;

$profile-box-background: linear-gradient(
  to right,
  rgba($primary-container, 0.8),
  rgba($secondary-container, 0.6)
);
$profile-box-color: $on-primary-container;

$theme-box-background: $secondary-container;
$power-box-background: $surface-variant;

$selected-theme-background: linear-gradient(to right, $primary, $secondary);
$selected-theme-color: $on-primary;
$selected-theme-hover-background: linear-gradient(
  to right,
  $primary-container,
  $secondary-container
);
$selected-theme-hover-color: $on-primary-container;

$menu-btn-background: $tertiary-container;
$menu-btn-hover: $on-tertiary-container;

/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
$music-father-box-bg: $primary-container;
// $music-wd-box-bg: #6f3ad1;
$music-wd-box-bg: $music-father-box-bg;
$music-wd-player-bg: $secondary;
$music-wd-player-fg: $on-secondary;
$music-wd-title-fg: $tertiary;
$music-wd-artist-fg: $on-surface;

$music-wd-button-bg: $secondary;
$music-wd-button-hover-bg: $tertiary;

$music-wd-button-fg: $on-secondary;

$music-wd-button-play-bg: $primary;
$music-wd-button-play-fg: $on-primary;

$music-wd-button-stop-bg: $music-wd-button-bg;
$music-wd-button-stop-fg: $music-wd-button-fg;

$left-menu-music-wd-padding-right: 1.8rem;

// ---------------------------
// --------- HW menu ---------
// ---------------------------
$hardware-menu-box-background: $surface;
$hardware-menu-header-box-background: $surface-variant;
$hardware-menu-tables-box-background: $primary-container;

$hardware-cpu-box-background: rgba($primary, 0.7);
$hardware-cpu-box-color: $on-primary;
$hardware-cpu-table-row-header-background: rgba($primary, 0.8);
$hardware-cpu-table-row-header-color: $on-primary;

$hardware-ram-box-background: rgba($secondary, 0.9);
$hardware-ram-box-color: $on-secondary;
$hardware-ram-table-row-header-background: rgba($secondary, 0.9);
$hardware-ram-table-row-header-color: $on-secondary;

$hardware-bat-box-background: rgba($tertiary, 0.8);
$hardware-bat-box-color: $on-tertiary;
$hardware-bat-table-row-header-background: $tertiary;
$hardware-bat-table-row-header-color: $on-tertiary;

$hardware-os-box-background: rgba($surface, 0.7);
$hardware-os-box-color: $on-surface;
$hardware-os-table-row-header-background: rgba($surface, 0.7);
$hardware-os-table-row-header-color: $on-surface;

// --------------------------------
// --------- GTK elements ---------
// --------------------------------
$btn-background: $tertiary-container;
$btn-color: $on-tertiary-container;
$btn-hover-background: $tertiary;
$btn-hover-color: $on-tertiary;

// ----------------------------------
// --------- desktop-widget ---------
// ----------------------------------
$desktop-wd-separator-background: linear-gradient(
  to bottom,
  $on-primary-container,
  $on-secondary-container,
  $on-tertiary-container
);

$wd-fuzzy-day-box-bg: rgba(#000000, 0);
$wd-fuzzy-day-box-fg: $on-primary-container;

$wd-fuzzy-day-text-font-size: 3rem;
$wd-fuzzy-day-text-font-family: 'VIP Rawy Regular';
$wd-fuzzy-day-icon-font-size: 2rem;
$wd-fuzzy-day-icon-font-family: $icon-font-family;
$wd-fuzzy-day-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-day-icon-padding: 0.7rem 0rem 0rem 0rem;

$wd-time-now-bg: rgba(#000000, 0);
$wd-time-now-fg: $on-secondary-container;
$wd-time-now-font-size: 2rem;
$wd-time-now-font-family: 'VEXA light R';
$wd-time-now-margin: 0rem 0rem 0.5rem 0rem;

$wd-fuzzy-time-box-bg: rgba(#000000, 0);
$wd-fuzzy-time-box-fg: $on-tertiary-container;
$wd-fuzzy-time-icon-font-size: 1.5rem;
$wd-fuzzy-time-icon-font-family: $icon-font-family;
$wd-fuzzy-time-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-time-text-font-size: 1.8rem;
$wd-fuzzy-time-text-font-family: 'VIP Rawy Regular';

$saying-wd-label-bg: rgba(#000000, 0);
$saying-wd-label-fg: $primary;
$saying-wd-label-font-size: 1.5rem;
$saying-wd-label-min-width: 25rem;
$saying-wd-label-font-family: 'VIP Rawy Regular';
$saying-wd-label-padding: 0rem;
$saying-wd-label-margin: 0rem;
$saying-wd-label-border-radius: 0rem;

// Music Info
$music-info-wd-font-family: 'VIP Rawy Regular';
$music-info-wd-font-size: 1.5rem;
$music-info-wd-min-width: 30rem;
$music-info-wd-padding: 0rem 0rem 0rem 0rem;

$music-info-wd-title-fg: $secondary;
$music-info-wd-artist-fg: $on-tertiary-container;

// --------- Menu ---------
$menu-bg: $primary-container;
$menu-fg: $on-primary-container;

$menuitem-hover-bg: rgba($primary, 0.7);
$menuitem-hover-fg: $on-secondary;

$menuitem-disabled-bg: rgba($on-primary-container, 0.1);
$menuitem-disabled-fg: rgba($on-primary-container, 0.5);
