.applications-box {
    background: $bar-background;
    border-radius: $border-radius;
}

.app-search-box {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-size: cover;
    background-position: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    min-width: 23rem;
    min-height: 12rem;
    background-color: rgba(
        0,
        0,
        0,
        0.1
    ); /* Dark overlay using background color */
    background-blend-mode: darken; /* Blend mode to darken the image */
}

.app-search {
    margin: 1.2rem;
    margin-top: 5rem;
}

.applications-header-title {
    // margin-top: 1rem;
    font-family: 'VIP Rawy Regular';
    font-size: xx-large;
    color: #fffbff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
