.audio-menu-header-box {
    @if variable-exists($name: primary-container) {
        background: rgba($primary-container, 0.8);
    } @else {
        background: rgba($bg-two, 0.8);
    }
    color: $text-color;
    padding: 0.6rem;
    margin: 0rem 1rem;
}

// --------- audio ---------
.audio-menu-box-progress {
    font-size: 0.5rem;
    min-width: 6.5rem;
    min-height: 6.5rem;
    margin: 1rem;
}

.audio-menu-box-icon {
    font-family: $icon-font-family;
    font-size: 2rem;
}

.audio-menu-slider {
    margin-top: 1rem;
}

.audio-menu-slider:dir(rtl) {
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.audio-menu-slider:dir(ltr) {
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.brightness-menu-slider {
    margin-bottom: 1rem;
}

.brightness-menu-slider:dir(rtl) {
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.brightness-menu-slider:dir(ltr) {
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.left-menu-music-wd {
    background: $music-wd-box-bg;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.left-menu-music-wd:dir(rtl) {
    padding-left: 1rem;
    padding-right: $left-menu-music-wd-padding-right;
}

.left-menu-music-wd:dir(ltr) {
    padding-right: 1rem;
    padding-left: $left-menu-music-wd-padding-right;
}

.media-control-revaler-button {
    background: $music-wd-box-bg;
    margin: 0rem 1rem;
    padding: 0.3rem;
    border-bottom-right-radius: 0rem;
    box-shadow: 1px 1px 2px 2px rgba(#000000, 0);
    border-bottom-left-radius: 0rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.media-control-revaler-button:hover {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.media-control-revaler-button:dir(rtl) {
    padding-right: 1.3rem;
}

.media-control-revaler-button:dir(ltr) {
    padding-left: 1.3rem;
}
