.audio-menu-box {
    @if variable-exists($name: audio-menu-box-background) {
        background: $audio-menu-box-background;
    } @else {
        background: $bg-one;
    }
    border-radius: $border-radius;
    border: $border-size solid $border-color;
}

.audio-menu-header-box {
    @if variable-exists($name: audio-menu-header-box-background) {
        background: $audio-menu-header-box-background;
    } @else {
        background: $bg-two;
    }
    border-radius: $border-radius;
    padding: 0.6rem;
    margin: 0.8rem;
}

// --------- audio ---------
.audio-menu-box-progress {
    font-size: 0.5rem;
    min-width: 6.5rem;
    min-height: 6.5rem;
    margin: 1rem;
}

.audio-menu-box-icon {
    font-family: $icon-font-family;
    font-size: 2rem;
}

.audio-menu-slider {
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.brightness-menu-slider {
    margin-bottom: 0.8rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.media-menu-header {
    padding: 1.5rem 1rem;
    background: #fff;
    background-size: cover;
    background-position: center;
    color: $text-color;
    background: $notifications-header-bg;
    color: $notifications-header-fg;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}
