.power-profiles-box-btn {
    // margin: 0.3rem;
    // padding-left: 0.4rem;
    // padding-right: 0.4rem;
    // padding-top: 0.4rem;
    // padding-bottom: 0.4rem;
    box-shadow: 1px 1px 2px 2px rgba(#000000, 0);
    // font-family: $icon-font-family;
}

.power-profiles-box-btn-active {
    background: $btn-hover-background;
    color: $btn-hover-color;
    box-shadow: 1px 1px 2px 2px rgba(#000000, 0);
    // font-family: $icon-font-family;
}

// --------- CPU ---------
.hardware-menu-box-progress {
    font-size: 0.5rem;
    min-width: 4.5rem;
    min-height: 4.5rem;
    // margin: 1rem;
}

.hardware-menu-box-icon {
    font-family: $icon-font-family;
    font-size: 2rem;
}

.menu-cpu {
    @extend .hardware-menu-box-progress;
    color: $cpu-color;
    background-color: rgba($cpu-color, 0.2);
}

.menu-cpu-icon {
    @extend .hardware-menu-box-icon;
    color: $cpu-inner-color;
}

// --------- RAM ---------
.menu-ram {
    @extend .hardware-menu-box-progress;
    color: $ram-color;
    background-color: rgba($ram-color, 0.2);
}

.menu-ram-icon {
    @extend .hardware-menu-box-icon;
    color: $ram-inner-color;
}

// --------- Battery ---------
.menu-battery {
    @extend .hardware-menu-box-progress;
    color: $battery-color;
    background-color: rgba($battery-color, 0.2);
}

.menu-battery-icon {
    @extend .hardware-menu-box-icon;
    color: $battery-inner-color;
}

.menu-battery-icon-charging {
    @extend .hardware-menu-box-icon;
    color: $battery-inner-color;
    animation: colorChange 2s infinite;
}

// --------- Temp ---------
.menu-temp {
    @extend .hardware-menu-box-progress;
    color: $temp-color;
    background-color: rgba($temp-color, 0.2);
}

.menu-temp-icon {
    @extend .hardware-menu-box-icon;
    color: $temp-inner-color;
}

// --------- Table rows ---------
.table-row-app-name-header {
    min-width: 5.88rem;
}

.table-row-app-percentage-header {
    min-width: 3rem;
    // margin-left: 0.5rem;
}

.table-row-app-name {
    @extend .table-row-app-name-header;
}

.table-row-app-percentage {
    @extend .table-row-app-percentage-header;
}

// --------- CPU Table ---------
.hardware-cpu-box {
    background: $hardware-cpu-box-background;
    color: $hardware-cpu-box-color;
    border-radius: $border-radius;
    margin-top: 1rem;
}

.hardware-cpu-box:dir(rtl) {
    margin-right: 1rem;
}

.hardware-cpu-box:dir(ltr) {
    margin-left: 1rem;
}

.hardware-cpu-table-row-header {
    padding: 1rem;
    background: $hardware-cpu-table-row-header-background;
    color: $hardware-cpu-table-row-header-color;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.hardware-table-row {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.hardware-cpu-table-row {
    @extend .hardware-table-row;
}

// --------- RAM Table ---------
.hardware-ram-box {
    background: $hardware-ram-box-background;
    color: $hardware-ram-box-color;
    border-radius: $border-radius;
    margin-top: 1rem;
}

.hardware-ram-table-row-header {
    padding: 1rem;
    background: $hardware-ram-table-row-header-background;
    color: $hardware-ram-table-row-header-color;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.hardware-ram-table-row {
    @extend .hardware-table-row;
}

// --------- HW Table ---------
.hardware-bat-box {
    background: $hardware-bat-box-background;
    color: $hardware-bat-box-color;
    border-radius: $border-radius;
    margin-top: 1rem;
    min-height: 3rem;
}

.hardware-bat-box:dir(rtl) {
    margin-right: 1rem;
}

.hardware-bat-box:dir(ltr) {
    margin-left: 1rem;
}

.hardware-bat-table-row-header {
    padding: 1rem;
    // min-width: 13rem;
    background: $hardware-bat-table-row-header-background;
    color: $hardware-bat-table-row-header-color;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.hardware-bat-table-row {
    @extend .hardware-table-row;
}

// --------- OS Table ---------
.hardware-os-box {
    background: $hardware-os-box-background;
    color: $hardware-os-box-color;
    border-radius: $border-radius;
    margin-top: 1rem;
    min-height: 3rem;
}

.hardware-os-table-row-header {
    padding: 1rem;
    // min-width: 13rem;
    background: $hardware-os-table-row-header-background;
    color: $hardware-os-table-row-header-color;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.hardware-os-table-row {
    @extend .hardware-table-row;
}

// New Box
.progresses-box {
    @extend .left-menu-insider-box;
    padding: 1rem;
}
