.left-menu-box {
    background: $menu-box-background;
    border-radius: $border-radius;
    border: $border-size solid $menu-box-borders;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    transition-property: background;
    transition-duration: 1.5s;
}

.left-menu-box:dir(rtl) {
    margin-left: 0.6rem;
    margin-right: 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.left-menu-box:dir(ltr) {
    margin-right: 0.6rem;
    margin-left: 1rem;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.left-menu-insider-box {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0rem;
    border-radius: $border-radius;
    background: $theme-box-background;
    color: $text-color;
}

.left-menu-header {
    background-size: cover;
    background-position: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    min-width: 23rem;
    min-height: 12rem;
}

.profile-box {
    background: $profile-box-background;
    color: $profile-box-color;
    min-width: 20rem;
    min-height: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -4rem;
    border-radius: $border-radius;
}

.profile-icon {
    margin-top: -3rem;
    border-radius: 5rem;
}

.profile-label {
    margin-top: 1rem;
    font-family: 'VIP Rawy Regular';
    font-size: xx-large;
}

/* -------------- Theme Box -------------- */
.themes-box {
    @extend .left-menu-insider-box;
    // background: $theme-box-background;
    // margin: 1rem;
    // padding: 1rem;
    // margin-bottom: 0rem;
    // border-radius: $border-radius;
}

.theme-button-father {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.selected-theme {
    @extend .theme-button-father;
    background: $selected-theme-background;
    color: $selected-theme-color;
    border-radius: $border-radius;
}

.selected-theme:hover {
    background: $selected-theme-hover-background;
    color: $selected-theme-hover-color;
    border-radius: $border-radius;
}

.theme-btn {
    @extend .theme-button-father;
    border-radius: $border-radius;
    background: $menu-btn-background;
    border-color: $menu-btn-background;
    border-radius: $border-radius;
}

.theme-btn:hover {
    color: $btn-hover-color;
    border-color: $btn-hover-background;
    border-radius: $border-radius;
}

.theme-btn-icon {
    font-family: $icon-font-family;
    min-width: 2rem;
}

.dynamic-theme-btn-icon {
    font-family: $icon-font-family;
    min-width: 1.93rem;
}

.theme-btn-label {
    min-width: 3rem;
}

.menu-button {
    border-radius: $border-radius;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin;
    border: 0px;
    padding-top: 0rem;
    padding-bottom: 0rem;

    background: $menu-btn-background;
    font-family: $icon-font-family;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.menu-button:dir(rtl) {
    margin-left: $top-bar-widget-margins;
}

.menu-button:dir(ltr) {
    margin-right: $top-bar-widget-margins;
}

.menu-button:hover {
    background: $menu-btn-hover;
}

.power-box {
    background: $power-box-background;
    margin: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
    margin-top: 0rem;
}

.power-action-revealer {
    padding-top: 1rem;
    color: $text-color;
}

.power-action-revealer-yes-btn:dir(rtl) {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.power-action-revealer-yes-btn:dir(ltr) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.power-action-revealer-no-btn:dir(rtl) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.power-action-revealer-no-btn:dir(ltr) {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

// -- toolbar -- //
.toolbar-icons-box {
    background: $theme-box-background;
    border-radius: $border-radius;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0rem 0.3rem;
}

.toolbar-button {
    all: unset;
    padding: 0.3rem;
    margin: 0.5rem 0.65rem;
    color: $text-color;
}

.toolbar-button:dir(rtl) {
    padding-right: 0.7rem;
}

.toolbar-button:dir(ltr) {
    padding-right: 0.5rem;
    padding-left: 0.7rem;
}

.toolbar-button:hover {
    @extend .toolbar-button;
    transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
    background: $btn-hover-background;
    color: $btn-hover-color;
    border-radius: $border-radius;
}

.toolbar-button-selected {
    @extend .toolbar-button;
    // min-width: 4.8rem;
    background: $btn-hover-background;
    color: $btn-hover-color;
    border-radius: $border-radius;
    margin: 0.5rem 0.4rem;
    transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.toolbar-button-selected:dir(rtl) {
    padding-left: 0.8rem;
}

.toolbar-button-selected:dir(ltr) {
    padding-right: 0.8rem;
}
.toolbar-button-selected:hover {
    @extend .toolbar-button-selected;
}

.themes-buttons-title {
    padding-bottom: 1.2rem;
    padding-top: 0.3rem;
    margin: 0rem 0.8rem;
    font-size: 1.2rem;
    color: $text-color;
    font-weight: bold;
}

.themes-buttons-icon {
    padding-bottom: 1.2rem;
    padding-top: 0.3rem;
    margin: 0rem 0.3rem;
    font-size: 1.2rem;
    color: $text-color;
    font-weight: bold;
    font-family: $icon-font-family;
}

.monitor-progress-title {
    padding-bottom: 0.8rem;
}

.view-all-themes-btn {
    margin: -1rem;
    margin-top: 1rem;
    background: $theme-box-background;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.view-all-themes-btn:hover {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.theme-button-toggle-title {
    min-width: 15rem;
}

.themes-settings-separator {
    margin: 1rem 0rem;
    min-height: 0.1rem;
}
