@import 'themes/colors.scss';
@import 'topbar/topbar.scss';

* {
    all: unset;
}

.icon-font {
    font-family: $icon-font-family;
}

.small-shadow {
    transition-property: background;
    transition-duration: 0.5s;
}

.shadow {
    transition-property: background;
    transition-duration: 0.5s;
}
