.music-wd-box {
  background: $music-wd-box-bg;
  // padding-top: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: $border-radius;
}

.music-wd-length {
  font-family: $icon-font-family;
}

.left-menu-music-wd {
  background: $music-wd-box-bg;
  border-radius: $border-radius;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.left-menu-music-wd:dir(rtl) {
  padding-left: 1rem;
  padding-right: $left-menu-music-wd-padding-right;
}

.left-menu-music-wd:dir(ltr) {
  padding-right: 1rem;
  padding-left: $left-menu-music-wd-padding-right;
}

.music-wd-row-one {
  padding-right: 8px;
}

.music-wd-row-two {
  margin-right: 8px;
  margin-top: 8px;
  // margin-bottom: 8px;
}

.music-wd-row-three {
  padding-top: 10px;
}

.music-wd-player {
  background: $music-wd-player-bg;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: $music-wd-player-fg;
  border-radius: $border-radius;
  min-width: 2rem;
  // border: 0px;
}

.music-wd-player:dir(rtl) {
  padding-left: 0.4rem;
  padding-right: 0.7rem;
}

.music-wd-player:dir(ltr) {
  padding-right: 0.4rem;
  padding-left: 0.7rem;
}

.music-wd-title {
  color: $music-wd-title-fg;
  // font-size: small;
  margin-bottom: 0.5rem;
}

.music-wd-title:dir(rtl) {
  padding-left: 0.5rem;
}

.music-wd-title:dir(ltr) {
  padding-right: 0.5rem;
}

.music-wd-file-name {
  color: $music-wd-artist-fg;
  font-size: x-small;
}

.music-wd-main-button {
  min-width: 40px;
  min-height: 40px;
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.music-wd-button {
  font-family: $icon-font-family;
  border-radius: 50%;
  background: $music-wd-button-bg;
  color: $music-wd-button-fg;
  @extend .music-wd-main-button;
}

.music-wd-button:hover {
  background: $music-wd-button-hover-bg;
}

.music-wd-button-play {
  background: $music-wd-button-play-bg;
  border-radius: $border-radius;
  @if variable-exists($name: music-wd-button-play-fg) {
    color: $music-wd-button-play-fg;
  }

  @extend .music-wd-main-button;
  min-width: 80px;
}

.music-wd-button-play:hover {
  background: $music-wd-button-hover-bg;
}

.music-wd-button-stop {
  background: $music-wd-button-stop-bg;
  color: $music-wd-button-stop-fg;
  border-radius: $border-radius;
  @extend .music-wd-main-button;

  min-width: 80px;
}
