.notification-menu-header {
    background-size: cover;
    background-position: center;
    // border-top-left-radius: $border-radius;
    // border-top-right-radius: $border-radius;
    padding: 1rem;
    // min-width: 23rem;
    // min-height: 30rem;
    color: $text-color;
}

.horizontal-line {
    background: $notifications-separator-background;
    min-height: 1px;
    min-width: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $text-color;
}

.notification-center-button {
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin;
    background: $notifications-bar-btn-bg;
    color: $notifications-bar-btn-fg;
    border-radius: $border-radius;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.notification-center-button:dir(ltr) {
    padding-right: 0.6rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
}

.notification-center-button:dir(rtl) {
    padding-left: 0.6rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
}

.notification-center-button:hover {
    background-color: $notifications-bar-btn-hover-bg;
    color: $notifications-bar-btn-hover-fg;
}

.notification-this-is-all {
    color: $text-color;
    margin-top: 13rem;
    margin-bottom: 0rem;
    min-width: 1rem;
    min-height: 1rem;
}

.no-notification-icon {
    margin-bottom: 0.5rem;
    font-family: $icon-font-family;
    font-size: 3rem;
    padding-right: 0.7rem;
}

.notification-header-box {
    margin: 0rem 1rem;
    background: $theme-box-background;
    border-radius: $border-radius;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
}

.notification-center-header-mute {
    font-family: $icon-font-family;
    border-radius: $border-radius;
    padding: 0rem 0.7rem;
}

.notification-center-header-clear:dir(rtl) {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.notification-center-header-clear:dir(ltr) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.notification-center-header-mute:dir(rtl) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.notification-center-header-mute:dir(ltr) {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.notification-center-container {
    // min-width: 10rem;
    min-height: 36rem;
    border-radius: $border-radius;
    // margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    background: $theme-box-background;
    border-radius: $border-radius;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.notification-header-label {
    color: $text-color;
    font-weight: bold;
}

.notification-header-label:dir(rtl) {
    margin-right: 4.5rem;
}

.notification-header-label:dir(ltr) {
    margin-left: 4.5rem;
}
