.bar-prayer-times-box {
    font-size: 1em;
    background: $bar-prayer-times-box-background;
    color: $bar-prayer-times-box-color;
    border-radius: $border-radius;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-top-margin;
    margin-left: $top-bar-widget-margins;
    margin-right: $top-bar-widget-margins;
}

.bar-prayer-times-box:dir(rtl) {
    padding-left: 0.7rem;
}

.bar-prayer-times-box:dir(ltr) {
    padding-right: 0.7rem;
}

.bar-prayer-times-icon {
    font-family: $icon-font-family;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

@if variable-exists(prayer-times-icon-bg) {
    .bar-prayer-times-icon:dir(rtl) {
        background: $prayer-times-icon-bg;
        color: $prayer-times-icon-fg;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
    }

    .bar-prayer-times-icon:dir(ltr) {
        background: $prayer-times-icon-bg;
        color: $prayer-times-icon-fg;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
    }
}

.prayer-times-menu-box {
    background: $menu-box-background;
    border-radius: $border-radius;
    border: $border-size solid $border-color;
    color: $text-color;
}

.prayer-times-menu-header {
    background: $prayer-times-menu-header-bg;
    color: $prayer-times-menu-header-fg;
    padding: 1rem;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.prayer-time-item-box-class {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.isha-item {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.next-prayer {
    background: $prayer-times-next-prayer-bg;
    color: $prayer-times-next-prayer-fg;
}

.prayer-times-menu-header-icon {
    font-family: $icon-font-family;
}

.prayer-times-menu-header-title {
    margin-right: 1rem;
}

.prayer-times-menu-header-title:dir(ltr) {
    margin-right: 1.7rem;
}
.prayer-times-menu-header-title:dir(rtl) {
    margin-left: 1.7rem;
}
