.workspaces button:active {
  color: $active-workspace-btn;
  border-radius: 0px;
}

.workspaces {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-bottom-margin + 0.1rem;
  background: $workspace-background;
  border-radius: $border-radius;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem;
}

.dynamic-wallpaper {
  margin-top: $bar-top-margin;
  margin-bottom: $bar-bottom-margin;
  padding: 0rem 1rem;
}

.workspaces:dir(rtl) {
  margin-right: 0.4rem;
  margin-left: $top-bar-widget-margins;
}

.workspaces:dir(ltr) {
  margin-right: $top-bar-widget-margins;
  margin-left: 0.4rem;
}

.workspaces button {
  background: $workspace-background;
  color: $workspace-btn;
  border: 0rem;
}

.workspaces button.focused {
  border-bottom: 1px solid $workspace-focused-bottom;
  color: $workspace-focused;
  font-family: $icon-font-family;
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: large;
  // min-width: 1em;
}

.workspaces button.unfocused {
  font-family: $icon-font-family;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  // min-width: 1em;
  border-radius: 0px;
  font-size: large;
}

.workspaces button.has-windows {
  color: $workspace-has-windows;
}

.workspaces button:hover {
  background: $workspace-hover-background;
  color: $workspace-hover-color;
}

.clock {
  // font-size: 1em;
  // font-family: "VEXA light R";
  // font-family: "ae_Ostorah";
  background: $clock-background;
  color: $clock-color;
  border-radius: $border-radius;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-top-margin;
  padding-left: 1em;
  padding-right: 1em;
}

.bar-weather-box {
  font-size: 1em;
  // font-family: "VEXA light R";
  background: $bar-weather-background;
  color: $bar-weather-color;
  border-radius: $border-radius;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-top-margin;
  margin-left: $top-bar-widget-margins;
  margin-right: $top-bar-widget-margins;
}

.bar-weather-box:dir(rtl) {
  padding-left: 0.8rem;
}

.bar-weather-box:dir(ltr) {
  padding-right: 0.8rem;
}

.bar-weather-icon {
  font-family: $icon-font-family;
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@if variable-exists(bar-weather-icon-bg) {
  .bar-weather-icon:dir(rtl) {
    background: $bar-weather-icon-bg;
    padding-left: 0.4rem;
    color: $bar-weather-icon-fg;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    margin-left: 0.5rem;
  }

  .bar-weather-icon:dir(ltr) {
    background: $bar-weather-icon-bg;
    color: $bar-weather-icon-fg;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    margin-right: 0.5rem;
  }
}

.top-corner {
  background-color: $bar-background;
  border-radius: $border-radius;
}

.bar-bg {
  background: rgba(#000000, 0);
  min-height: 8px;
  border-radius: 0rem;
}

.bar {
  background: $bar-background;
  color: $bar-color;
  min-height: 8px;

  margin-bottom: 0.5rem; // Add some margin to show shadows
}

.internet-box {
  background: $internet-box-background;
  color: $internet-box-color;
  /* min-width: 100px; */
  border-radius: $border-radius;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-top-margin;
}

.internet-box:dir(rtl) {
  margin-left: $top-bar-widget-margins;
  padding-right: 0.8rem;
}

.internet-box:dir(ltr) {
  margin-right: $top-bar-widget-margins;
  padding-left: 0.8rem;
}

.wifi-name-label {
  /* margin-left: 0.7em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: $wifi-name-background;
  color: $wifi-name-color;
  font-weight: bold;
}

.wifi-name-label:dir(rtl) {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-right: 0.2em;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.wifi-name-label:dir(ltr) {
  padding-right: 0.5em;
  padding-left: 1em;
  margin-left: 0.2em;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.wifi-icon-strength {
  font-family: $icon-font-family;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: $wifi-icon-background;
  color: $wifi-icon-color;
}

.wifi-icon-strength:dir(rtl) {
  margin-left: 0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.6rem;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.wifi-icon-strength:dir(ltr) {
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.6rem;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.systray {
  background: $systray-background;
  border-radius: $border-radius;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-top-margin;
  min-height: 0.1rem;
}

.systray:dir(rtl) {
  margin-left: $top-bar-widget-margins;
}

.systray:dir(ltr) {
  margin-right: $top-bar-widget-margins;
}

.systray button {
  background: $systray-btn-background;
  border-radius: $border-radius;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  min-height: 0.1rem;
  // font-size: 1rem;
}

.systray button:hover {
  background: $systray-btn-hover-background;
}

.tray-btn {
  border: 0rem;
}

.bar-hardware-progress-circle {
  min-width: 1.45rem;
  min-height: 1.3rem;
  font-size: 0.1rem;
}

.bar-hardware-progress-inner-circle {
  font-family: $icon-font-family;
  font-size: 0.9rem;
}

.battery {
  @extend .bar-hardware-progress-circle;
  background: $battery-background;
  color: $battery-color;
}

@keyframes colorChange {
  0% {
    color: $battery-color;
  }

  50% {
    color: $battery-background;
  }

  100% {
    color: $battery-color;
  }
}

.battery-inner {
  @extend .bar-hardware-progress-inner-circle;
  color: $battery-inner-color;
}

.battery-inner-charging {
  @extend .bar-hardware-progress-inner-circle;
  color: $battery-inner-color;
  animation: colorChange 2s infinite;
}

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
  @extend .bar-hardware-progress-circle;
  background: $cpu-background;
  color: $cpu-color;
}

.cpu-inner {
  @extend .bar-hardware-progress-inner-circle;
  font-size: 0.6rem;
  color: $cpu-inner-color;
}

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
  @extend .bar-hardware-progress-circle;
  background: $temp-background;
  color: $temp-color;
}

.no-hover:hover {
  all: unset;
}

.temp-inner {
  @extend .bar-hardware-progress-inner-circle;
  color: $temp-inner-color;
}

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
  @extend .bar-hardware-progress-circle;
  background: $ram-background;
  color: $ram-color;
}

.ram-inner {
  font-family: $icon-font-family;
  font-size: 0.6rem;
  color: $ram-inner-color;
}

.volume {
  @extend .bar-hardware-progress-circle;
  background: $ram-background;
  color: $ram-color;
}

.volume-inner {
  @extend .bar-hardware-progress-inner-circle;
  font-size: 0.8rem;
  color: $ram-inner-color;
}

.brightness {
  @extend .bar-hardware-progress-circle;
  background: $ram-background;
  color: $cpu-color;
}

.brightness-inner {
  @extend .bar-hardware-progress-inner-circle;
  color: $cpu-inner-color;
  margin-top: 0.1rem;
}
/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
  background: $hardware-box-color;
  padding: 0.2rem 0.5rem;
  border-radius: $border-radius;
  margin-top: $bar-top-margin;
  margin-bottom: $bar-bottom-margin;
}

.bar-hw-temp-box:dir(rtl) {
  margin-right: 0.5rem;
}

.bar-hw-temp-box:dir(ltr) {
  margin-left: 0.5rem;
}

.bar-hw-ram-box:dir(rtl) {
  margin-left: 0.5rem;
}

.bar-hw-ram-box:dir(ltr) {
  margin-right: 0.5rem;
}

.bar-hw-cpu-box:dir(rtl) {
  margin-left: 0.5rem;
}

.bar-hw-cpu-box:dir(ltr) {
  margin-right: 0.5rem;
}

.bar-hw-brightness-box:dir(rtl) {
  margin-right: 0.4rem;
}
.bar-hw-brightness-box:dir(ltr) {
  margin-left: 0.4rem;
}

.hardware-box-separator {
  min-height: 0.01rem;
  min-width: 0.01rem;
  background: rgba($temp-color, 0.4);
  margin: -0.2rem 0.5rem;
}
