.volume {
  border-radius: $border-radius;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em;
}

.vol-stack:dir(rtl) {
  margin-left: 1rem;
}

.vol-stack:dir(ltr) {
  margin-right: 1rem;
}

.vol-osd {
  background: $vol-osd-background;
  padding: 1rem;
  border-radius: $border-radius;
  border: $border-size solid $vol-osd-border-color;
  margin: 1.5rem;
}

.vol-osd:dir(rtl) {
  padding-left: 1.5rem;
}

.vol-osd:dir(ltr) {
  padding-right: 1.5rem;
}

// scale trough {
//     border-radius: $border-radius;
//     background: $scale-highlight-background;
// }
scale trough highlight {
  border-radius: $border-radius;
  background: $scale-highlight-background;
}

scale slider {
  background: $scale-slider-background;
  // min-width: 1px;
  // min-height: 1px;
}
