.weather-header-card {
    padding: 1.3rem;
    margin: 1rem;
    margin-bottom: 0rem;
    border-radius: $border-radius;
    background: $theme-box-background;
    color: $text-color;
}

.weather-details {
}

.weather-feels-like {
    font-size: 1.2rem;
    margin: 0rem 1rem;
}
.weather-temperature {
    font-size: 3rem;
}
.weather-city-name {
    font-size: 1.7rem;
    font-weight: 600;
}
.weather-icon {
    font-family: $icon-font-family;
    font-size: 2.8rem;
}

.weather-icon:dir(rtl) {
    margin-right: 2rem;
}

.weather-card-title {
    font-size: 1rem;
}

.weather-card-text {
    font-size: 1rem;
}

.weather-card-icon {
    font-family: $icon-font-family;
    font-size: 1.9rem;
    min-width: 2.8rem;

    @if variable-exists($name: bg-two) {
        background: $fg-three;
        color: $bg-three;
    }

    @if variable-exists($name: primary) {
        background: $primary-container;
        color: $on-primary-container;
    }

    border-radius: 5rem;
}

.weather-card {
    padding: 0.9rem 1rem;
    margin: 0rem 0.5rem;
    min-width: 8.85rem;
    border-radius: $border-radius;
    background: $theme-box-background;
    color: $text-color;
}

.weather-row {
    padding: 0rem 0.5rem;
    padding-top: 1rem;
}
.weather-max-min {
    margin-top: 0.5rem;
}

.weather-latest-update-btn {
    background: $theme-box-background;
    padding: 0.2rem 0.5rem;
    // font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.weather-latest-update-btn:hover {
    padding: 0.2rem 0.5rem;
    // font-size: 0.8rem;
}

.weather-latest-update-btn:dir(rtl) {
    margin-right: 2rem;
}

.weather-latest-update-btn:dir(ltr) {
    margin-left: 2rem;
}
