// Pixel Values
$font-size-medium: 16px;
$font-size-small: 19px;

$padding-large: 16px;
$padding-medium: 8px;
$padding-small: 4px;

$margin-medium: 16px;
$margin-medium: 8px;
$margin-small: 4px;

$border-radius-large: 20px;
$border-radius-medium: 15px;
$border-radius-small: 10px;

// Material 3 colors 
$primary: #ffb3b5;
$on-primary: #18255E;
$primary-container: #7d2932;
$on-primary-container: #ffdada;

$secondary: #9fcaff;
$on-secondary: #003258;
$secondary-container: #00497d;
$on-secondary-container: #d1e4ff;


$tertiary: #e6c18d;
$on-tertiary: #422c05;
$tertiary-container: #5c421a;
$on-tertiary-container: #ffddb1;

$background: #001b3d;
$on-background: #d6e3ff;
$surface: #001b3d;
$on-surface: #d6e3ff;


// Others
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

.unset {
  all: unset;
}

.left_bar {
  padding-right: $padding-small;
  padding-left: $padding-small;
  margin-top: $margin-small;
  margin-bottom: $margin-small;
}

.left_bar slider {
  all: unset;
  color: #ffd5cd;
  font-family: "Font Awesome 5 Free Solid";
}

.metric {
  margin-left: 10;
  margin-right: 10;
}

.label {
  margin-left: 5;
}

// .metric scale trough highlight {
//   all: unset;
//   background-color: #61AFEF;
//   color: #000000;
//   border-radius: 10px;
// }

// .metric scale trough {
//   all: unset;
//   background-color: $primary-container;
//   border-radius: 50px;
//   min-height: 3px;
//   min-width: 50px;
//   margin-left: 20px;
//   margin-right: 10px;
// }

// .metric scale trough highlight {
//   all: unset;
//   background-color: rgba($primary, $alpha: 0.9);
//   color: $secondary;
//   border-radius: 10px;
// }

// .metric scale trough {
//   all: unset;
//   background-color: rgba($primary-container, 0.3);
//   border-radius: $border-radius-medium;
//   min-height: 10px;
//   min-width: 50px;
// }

.label-ram {
  font-size: medium;
}

.layout-box {
  font-family: "Font Awesome 5 Free Solid";
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4em;
  color: rgba($on-background, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
}

.net-box,
.bat-box,
.tm-box {
  label {
    font-size: 2em;
  }
}

.close-btn {
  font-size: 2em;

  &:hover {
    color: $surface-red;
  }
}

.btns-box {
  font-size: 2.5em;

  button {
    padding: 0.4em;
    border-radius: 0.1em;

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: rgba($surface-lightgrey, 0.6);
    }

    &:first-child {
      color: rgba($surface-red, 0.8);
    }
  }
}

.sep {
  font-size: 1.5em;
  padding-top: 0.15em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: $surface-lightgrey;
}

.sundial-lbl {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
  padding-bottom: 0.5em;
  font-family: "Font Awesome 5 Free Solid";
}

// ----------------------------------------
// ----------------- Mine -----------------
// ----------------------------------------
.bar {
  background-color: $background;
  color: $on-background;
  padding-top: 1px;
  padding-bottom: 1px;
}

.workspaces-box {
  padding-right: $padding-small;
  padding-left: $padding-small;
  margin-top: $margin-small;
  margin-bottom: $margin-small;
  margin-right: $margin-small;
  background: $secondary-container;
  border-radius: $border-radius-medium;
}

.workspaces-box button:hover {
  color: $secondary;
}

.active-workspace {
  color: $primary;
  font-family: "Font Awesome 5 Free Solid";
  border-bottom: 1px solid $primary;
  padding-right: 10px;
  padding-left: 10px;
  font-size: large;
}

.inactive-workspace {
  font-size: large;
  color: $secondary;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Font Awesome 5 Free Solid";
}

.has-windows {
  font-size: large;
  color: $primary;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Font Awesome 5 Free Solid";
}

.left_menu {
  background-color: rgba($background, 0.9);
  border-radius: $border-radius-medium;
  border: 2px solid $primary;

}

.power {
  padding-left: 10;
  padding-right: 10;

  &:hover {
    transition: 300ms linear background-color, border-radius;
    background-color: rgba($surface, 0.6);
  }
}

.profile {
  background-size: cover;
  background-position: center;
  background-image: url("images/pj8sesvdmgeb1.jpg");
  min-height: 180px;
  border-top-left-radius: $border-radius-medium;
  border-top-right-radius: $border-radius-medium;
  border: 2px solid $primary;
  border-bottom: #00000000;

}

.profile_inside {
  background-color: rgba($on-background, 0.6);
  border-radius: 10px;
  margin-top: -65;
  min-width: 315px;
  min-height: 5px;
  // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5),
}

.title_class {
  color: #18112A;
  font-size: 35px;
  margin-top: -40;
  font-family: "VIP Rawy Regular";
}

.text_class {
  color: #18112A;
  font-size: 18px;
  margin-top: -5;
  font-family: "VIP Rawy Regular";
}

.second-row-box {
  margin-bottom: 32px;
  margin-top: -20px;
}

.second-row-title {
  color: #18112A;
  font-size: small;
}

.second-row-text {
  color: #2a2044;
  font-size: medium;
}

.profile-image {
  margin-top: -40px;
  border-radius: 50%;
}

.time-icon {
  padding-right: 8;
  padding-left: 8;
  padding-top: 5;
  padding-bottom: 4;
  font-size: medium;
  font-family: "Font Awesome 5 Free Solid";
  background: linear-gradient(to left, $secondary, $secondary);
  color: $on-primary;
  border-top-right-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.time-text {
  padding-left: 10;
  padding-top: 4;
  padding-bottom: 4;
  padding-right: 5;
  font-size: medium;
  background: linear-gradient(to right, $primary, $secondary);
  color: $on-primary;
  border-top-left-radius: $border-radius-medium;
  border-bottom-left-radius: $border-radius-medium;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.keyboard-layout {
  padding-left: 10;
  padding-top: 4;
  padding-right: 5;
  padding-bottom: 4;
  background: linear-gradient(to right, $primary, $secondary);
  color: $on-primary;
  border-radius: $border-radius-medium;
}

.netspeed-box {
  background: linear-gradient(to right, $primary, $secondary);
  color: $on-primary;
  border-radius: $border-radius-medium;
}

.netspeed-icon {
  padding-right: 8;
  padding-left: 8;
  padding-top: 5;
  padding-bottom: 4;
  font-family: "Font Awesome 5 Free Solid";
  // background: linear-gradient(to left, #6082B9, #6082B9);
  color: $on-primary;
  border-top-right-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.netspeed-download {
  padding-left: 0;
  padding-right: 12;
  min-width: 75px;
  min-height: 10px;
}

.netspeed-upload {
  padding-left: 0;
  padding-right: 0;
  min-width: 75px;
}

.battery-icon {
  padding-right: 8;
  padding-left: 8;
  padding-top: 5;
  padding-bottom: 4;
  font-family: "Font Awesome 5 Free Solid";
  background: linear-gradient(to left, #7C77A3, #7C77A3);
  color: $on-primary;
  border-top-right-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.battery-text {
  padding-left: 10;
  padding-top: 4;
  padding-right: 5;
  padding-bottom: 4;
  // font-size: xx-small;
  background: linear-gradient(to right, $primary, #7C77A3);
  color: $on-primary;
  border-top-left-radius: $border-radius-medium;
  border-bottom-left-radius: $border-radius-medium;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.power-button {
  padding: 20px 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: $border-radius-medium;
  background-color: $secondary-container;
  color: $on-secondary-container;
  transition: background-color 0.3s, color 0.3s;
}

.power-button:hover {
  background-color: $background;
  color: $on-background;
}

.music-box {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 18px;
  background-color: $secondary-container;
  border-radius: $border-radius-medium;
  min-height: 1px;
}

.music-title {
  margin-top: 5px;
  color: $on-background;
  font-size: 17px;
  font-family: "VIP Rawy Regular";
  font-weight: bold;
}

.music-text {
  color: $on-background;
  font-size: 12px;
  font-family: "VIP Rawy Regular";
}

.prog-bar {
  min-width: 2px;
  margin-top: 15px;
  margin-left: 12px;
  margin-right: 12px;
}

.music-btn {
  background-color: #3C7EC0;
  border-radius: 20px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 16px;
  color: #1a122b;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #008183;
    color: #000000;
  }
}

.left_menu_profile {
  background-color: rgba(#99C7FF, 0.0);
}

// -------------------------
// ---------- RAM ----------
// -------------------------
.iconmem {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 6;
  color: $tertiary;
  margin: 7px;
}

.mem_box {
  min-height: 2px;
  color: $tertiary;
}

// -------------------------
// ---------- CPU ----------
// -------------------------
.iconcpu {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 6;
  color: $secondary;
  margin: 7px;
}

.cpu_box {
  min-height: 2px;
  color: $secondary;
}

// --------------------------
// ---------- TEMP ----------
// --------------------------
.temp-icon {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 6;
  color: $primary;
  margin: 7px;
}

.temp-box {
  min-height: 2px;
  color: $primary;
}

// ----------------------------------
// ---------- HW Panel BOX ----------
// ----------------------------------
.hw-util {
  background-color: $secondary-container;
  border-radius: $border-radius-medium;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

// -------------------------
// ---------- OSD ----------
// -------------------------
.osd {
  color: $on-surface;
  background: $surface;
  font-family: "Font Awesome 5 Free Solid";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 20px;
  border-radius: $border-radius-medium;
  border: 2px solid $primary;
}

window {
  border-radius: $border-radius-medium;
}

// scale slider:hover {
//   border-radius: 15px;
//   background-color: #FF7F50;
//   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
// }

// // /* Styling the slider handle when active (pressed) */
// scale slider:active {
//   background-color: #FF4500;
//   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
// }

scale trough highlight {
  all: unset;
  background-color: #61AFEF;
  // color: $primary;
  border-radius: 10px;
}

scale trough trough:active {
  background-color: #C0C0C0;
}

scale trough {
  all: unset;
  background-color: $primary-container;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

scale trough highlight {
  all: unset;
  background-color: rgba($primary, $alpha: 0.9);
  color: $secondary;
  border-radius: 10px;
}


scale slider {
  background-color: $primary-container;
  border-radius: 50%;
  // border: none;
  // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

// ----------------------------------
// ---------- HW Dashboard ----------
// ----------------------------------
.hardware-dashboard-box {
  background-color: $surface;
  border-radius: $border-radius-medium;
  padding: $padding-medium;
  min-width: 300px;
  min-height: 100px;
  border: 2px solid $primary;
}

.hardware-dashboard-monitors-box {
  // background-color: $secondary-container;
  border-radius: $border-radius-medium;
  padding: $padding-medium;
}

// ----- MEM -----
.dashboard-mem-box {
  // min-height: 10px;
  color: $tertiary;
}

.dashboard-mem-icon {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 30;
  color: $tertiary;
  // margin: 10px;
  padding: 30px;
}

// ----- CPU -----
.dashboard-cpu-box {
  min-height: 20px;
  color: $secondary;
}

.dashboard-cpu-icon {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 30;
  color: $secondary;
  // margin: 10px;
  padding: 30px;
}

// ----- TEMP -----
.dashboard-temp-box {
  min-height: 20px;
  color: $primary;
}

.dashboard-temp-icon {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 30;
  color: $primary;
  // margin: 10px;
  padding: 30px;
}

// ------------------
// ----- tables -----
// ------------------
.hardware-dashboard-table-box {
  background-color: rgba($secondary-container, 0.7);
  border-radius: $border-radius-medium;
  // padding: $padding-medium;
  // min-width: 300px;
  // min-height: 200px;
  margin-top: $margin-medium;
  // padding: $margin-medium;
}


// CPU table header 
.cpu-table-header {
  // background-color: $tertiary;
  background-color: rgba($tertiary, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  // padding: 10px;
  border-top-left-radius: $border-radius-medium;
  border-top-right-radius: $border-radius-medium;
  min-width: 145px;
  color: $on-tertiary;
  // margin-bottom: 5px;
}

// CPU table data 
.cpu-usage-table-box {
  // background-color: $secondary;
  background-color: rgba($tertiary, 0.8);
  color: $on-tertiary;
  margin-top: $margin-medium;
  margin-bottom: $margin-medium;
  margin-right: $margin-medium;
  padding-bottom: $padding-small;
  padding-bottom: $padding-medium;
  border-radius: $border-radius-medium;
  box-shadow: 0px 0px 4px rgba($on-secondary, 1.0);
}

// RAM table header 
.ram-table-header {
  // background-color: $tertiary;
  background-color: rgba($secondary, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  // padding: 10px;
  border-top-left-radius: $border-radius-medium;
  border-top-right-radius: $border-radius-medium;
  min-width: 145px;
  color: $on-secondary;
  // margin-bottom: 5px;
}

// RAM table data 
.ram-usage-table-box {
  // background-color: $secondary;
  background-color: rgba($secondary, 0.8);
  color: $on-secondary;
  margin-top: $margin-medium;
  margin-bottom: $margin-medium;
  margin-left: $margin-medium;
  margin-right: $margin-medium + 2;
  padding-bottom: $padding-small;
  padding-bottom: $padding-medium;
  border-radius: $border-radius-medium;
  box-shadow: 0px 0px 4px rgba($on-secondary, 1.0);
}

.process-name-class {
  min-width: 75px;
  // background-color: #000000;
}

.percentage-class {
  min-width: 27px;
  padding-left: $padding-medium;
  padding-right: $padding-medium;
  // background-color: #000000;
}

.process-name {
  min-width: 88px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: 2px;
  // border-radius: $border-radius-medium;
  // margin-bottom: 5px;
  // border-radius: 10px;
  // background-color: $on-primary-container;
}

.percentage {
  min-width: 27px;
  padding-left: $padding-medium;
  padding-right: $padding-medium;
  margin-right: $margin-small;
  margin-top: $margin-small;
  border-radius: $border-radius-small;
  background-color: $secondary-container;
  color: $on-secondary-container;
}