/* File created by ThemeService written by ahmedsaadi0 */
/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
/* ------------------------------------------------------- */
/* -------------- Material U Desktop Widget -------------- */
/* ------------------------------------------------------- */
.my-weather-wd-text {
  font-size: medium; }

.weather-wd-row-one {
  background: rgba(86, 67, 42, 0.8);
  color: #fbdebc;
  border-radius: 1.5rem;
  margin: 1rem;
  margin-bottom: 0.5rem; }

.my-desktop-music-box {
  background: rgba(58, 76, 41, 0.9);
  color: #d5eabc;
  border-radius: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-width: 1rem;
  margin: 1rem;
  margin-top: 0.5rem; }

.my-desktop-music-box:dir(rtl) {
  padding-right: 1.2rem;
  padding-left: 1rem; }

.my-desktop-music-box:dir(ltr) {
  padding-left: 1.2rem;
  padding-right: 1rem; }

.my-weather-wd-icon {
  color: #fbdebc;
  font-size: xx-large;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Font Awesome 5 Free Solid"; }

.my-wd-user-icon {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: 1.5rem; }

.my-wd-user-icon:dir(rtl) {
  margin-right: 1rem; }

.my-wd-user-icon:dir(ltr) {
  margin-left: 1rem; }

.my-weather-wd-title-text-box {
  min-width: 10.55rem;
  padding-top: 1rem;
  color: #d5eabc;
  font-size: x-large;
  font-family: "VIP Rawy Regular"; }

.my-weather-wd-row-two {
  background: rgba(100, 63, 0, 0.9);
  color: #ffddb0;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1.5rem; }

.my-fuzzy-clock-box {
  background: rgba(58, 76, 41, 0.8);
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem; }

.my-fuzzy-clock-box:dir(rtl) {
  padding-right: 1.5rem;
  padding-left: 1rem; }

.my-fuzzy-clock-box:dir(ltr) {
  padding-left: 1.5rem;
  padding-right: 1rem; }

.my-weather-wd-day-box {
  background: rgba(185, 206, 161, 0.6);
  border-radius: 1.5rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.my-wd-weather-day-name {
  font-family: "VIP Rawy Regular";
  color: #243515; }

.my-wd-weather-day-text {
  font-size: x-small;
  padding-bottom: 0rem;
  color: #243515; }

.my-weather-wd-day-icon {
  background: rgba(185, 206, 161, 0.7);
  color: #243515;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 1.5rem;
  margin-bottom: 0.2rem;
  min-width: 3rem;
  min-height: 3.5rem;
  font-size: x-large;
  font-family: "Font Awesome 5 Free Solid"; }

.unset {
  all: unset; }

.un-hover:hover {
  all: unset; }

.icon-font {
  font-family: "Font Awesome 5 Free Solid"; }

/* --------------------------------------------- */
/* -------------- Top bar widgets -------------- */
/* --------------------------------------------- */
.workspaces button:active {
  color: #ffddb0;
  border-radius: 0px; }

.workspaces {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  background: #643f00;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem; }

.dynamic-wallpaper {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0rem 0.8rem; }

.workspaces:dir(rtl) {
  margin-right: 0.4rem;
  margin-left: 0.5rem; }

.workspaces:dir(ltr) {
  margin-right: 0.5rem;
  margin-left: 0.4rem; }

.workspaces button {
  background: #643f00;
  color: rgba(185, 206, 161, 0.5);
  border: 0rem; }

.workspaces button.focused {
  border-bottom: 1px solid #ffb94d;
  color: #ffb94d;
  font-family: "Font Awesome 5 Free Solid";
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: large; }

.workspaces button.unfocused {
  font-family: "Font Awesome 5 Free Solid";
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 0px;
  font-size: large; }

.workspaces button.has-windows {
  color: #ffb94d; }

.workspaces button:hover {
  background: rgba(221, 194, 161, 0.9);
  color: rgba(62, 45, 22, 0.9); }

.clock {
  background: linear-gradient(to right, #643f00, #3a4c29);
  color: #ffddb0;
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 1em;
  padding-right: 1em; }

.bar-weather-box {
  font-size: 1em;
  background: #3a4c29;
  color: #d5eabc;
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-weather-box:dir(rtl) {
  padding-left: 0.8rem; }

.bar-weather-box:dir(ltr) {
  padding-right: 0.8rem; }

.bar-weather-icon {
  font-family: "Font Awesome 5 Free Solid";
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.bar-bg {
  background: rgba(0, 0, 0, 0);
  min-height: 8px;
  border-radius: 0rem; }

.bar {
  background: rgba(31, 27, 22, 0.8);
  color: #ebe1d9;
  min-height: 8px;
  margin-bottom: 0.5rem; }

.small-shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.small-shadow:dir(rtl) {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }

.small-shadow:dir(ltr) {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1); }

.shadow:dir(rtl) {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3); }

.shadow:dir(ltr) {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3); }

.internet-box {
  background: linear-gradient(to right, #643f00, #56432a, rgba(147, 0, 6, 0.5));
  color: #ffddb0;
  /* min-width: 100px; */
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.internet-box:dir(rtl) {
  margin-left: 0.5rem;
  padding-right: 0.8rem; }

.internet-box:dir(ltr) {
  margin-right: 0.5rem;
  padding-left: 0.8rem; }

.wifi-name-label {
  /* margin-left: 0.7em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: #1f1b16;
  color: #ebe1d9;
  font-weight: bold; }

.wifi-name-label:dir(rtl) {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-right: 0.2em;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem; }

.wifi-name-label:dir(ltr) {
  padding-right: 0.5em;
  padding-left: 1em;
  margin-left: 0.2em;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem; }

.wifi-icon-strength {
  font-family: "Font Awesome 5 Free Solid";
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: #1f1b16;
  color: #ebe1d9; }

.wifi-icon-strength:dir(rtl) {
  margin-left: 0.2em;
  padding-right: 0.5em;
  padding-left: 0.6em;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem; }

.wifi-icon-strength:dir(ltr) {
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 1rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem; }

.systray {
  background: #4f4539;
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 0.1rem; }

.systray:dir(rtl) {
  margin-left: 0.5rem; }

.systray:dir(ltr) {
  margin-right: 0.5rem; }

.systray button {
  background: #4f4539;
  border-radius: 1.5rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  min-height: 0.1rem; }

.systray button:hover {
  background: #ffb94d; }

.tray-btn {
  border: 0rem; }

/* ------------------------------------- */
/* -------------- Battery -------------- */
/* ------------------------------------- */
.battery {
  background: #4f4539;
  color: #ffb94d;
  min-width: 1.5rem;
  min-height: 0.5rem;
  font-size: 0.2rem; }

@keyframes colorChange {
  0% {
    color: #ffb94d; }
  50% {
    color: #4f4539; }
  100% {
    color: #ffb94d; } }

.battery-inner {
  color: #ffb94d;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 0.4rem; }

.battery-inner-charging {
  color: #ffb94d;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 0.4rem;
  animation: colorChange 2s infinite; }

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
  background: #4f4539;
  color: #ddc2a1;
  min-width: 1.5rem;
  min-height: 0.1rem;
  font-size: 0.2rem; }

.cpu-inner {
  color: #ddc2a1;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 0.4rem; }

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
  background: #4f4539;
  color: #b9cea1;
  min-width: 1.5rem;
  min-height: 0.1rem;
  font-size: 0.2rem; }

.no-hover:hover {
  all: unset; }

.temp-inner {
  color: #b9cea1;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 0.4rem; }

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
  background: #4f4539;
  color: #ffb4a9;
  min-width: 1.5rem;
  min-height: 0.1rem;
  font-size: 0.2rem; }

.ram-inner {
  color: #ffb4a9;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 0.4rem; }

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
  background: #4f4539;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.bar-hw-temp-box:dir(rtl) {
  margin-right: 0.5rem; }

.bar-hw-temp-box:dir(ltr) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(ltr) {
  margin-right: 0.5rem; }

.bar-hw-cpu-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-cpu-box:dir(ltr) {
  margin-right: 0.5rem; }

/* ------------------------------------ */
/* -------------- Volume -------------- */
/* ------------------------------------ */
.volume {
  border-radius: 1.5rem;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em; }

.vol-stack:dir(rtl) {
  margin-left: 1em; }

.vol-stack:dir(ltr) {
  margin-right: 1em; }

.vol-osd {
  background: #1f1b16;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #ebe1d9;
  margin: 1.5rem; }

.vol-osd:dir(rtl) {
  padding-left: 1.5rem; }

.vol-osd:dir(ltr) {
  padding-right: 1.5rem; }

scale trough highlight {
  border-radius: 1.5rem;
  background: #ffb94d; }

scale slider {
  background: #ffb94d; }

/* ------------------------------------------- */
/* -------------- Notifications -------------- */
/* ------------------------------------------- */
.notifications-revealer-box {
  background: #56432a;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 1.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background: #fff;
  min-width: 100rem; }

.notifications-revealer-box:dir(rtl) {
  margin-left: 0.7rem;
  margin-right: 0rem; }

.notifications-revealer-box:dir(ltr) {
  margin-right: 0.7rem;
  margin-left: 0rem; }

.notification-popups {
  border: 2px solid #ffb94d;
  border-radius: 1.5rem;
  padding: 1rem;
  background: #1f1b16;
  color: #ebe1d9; }

.notifications-popup-list {
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0); }

.notification-close-button {
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

window {
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0); }

/* --------------------------------------- */
/* -------------- Left menu -------------- */
/* --------------------------------------- */
.left-menu-box {
  background: #1f1b16;
  border-radius: 1.5rem;
  border: 2px solid #ffb94d;
  margin-top: 0.45rem;
  margin-bottom: 1rem;
  transition-property: background;
  transition-duration: 1.5s; }

.left-menu-box:dir(rtl) {
  margin-left: 0.45rem;
  margin-right: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); }

.left-menu-box:dir(ltr) {
  margin-right: 0.45rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3); }

.left-menu-header {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  min-width: 23rem;
  min-height: 12rem; }

.profile-box {
  background: linear-gradient(to right, rgba(100, 63, 0, 0.8), rgba(86, 67, 42, 0.6));
  color: #ffddb0;
  min-width: 20rem;
  min-height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -3rem;
  border-radius: 1.5rem; }

.profile-icon {
  margin-top: -3rem; }

.profile-label {
  margin-top: 1rem;
  font-family: 'VIP Rawy Regular';
  font-size: xx-large; }

/* -------------- Theme Box -------------- */
.themes-box {
  background: rgba(100, 63, 0, 0.5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.5rem; }

.selected-theme {
  background: linear-gradient(to right, #ffb94d, #ddc2a1);
  color: #462b00;
  border-radius: 1.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.selected-theme:hover {
  background: linear-gradient(to right, #643f00, #56432a);
  color: #ffddb0;
  border-radius: 1.5rem; }

.theme-btn {
  border-radius: 1.5rem;
  background: #3a4c29;
  border-color: #3a4c29;
  border-radius: 1.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.theme-btn:hover {
  color: #243515;
  border-color: #b9cea1;
  border-radius: 1.5rem; }

.theme-btn-icon {
  font-family: "Font Awesome 5 Free Solid";
  min-width: 2rem; }

.dynamic-theme-btn-icon {
  font-family: "Font Awesome 5 Free Solid";
  min-width: 1.93rem; }

.theme-btn-label {
  min-width: 3rem; }

.menu-button {
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #3a4c29;
  font-family: "Font Awesome 5 Free Solid";
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.menu-button:dir(rtl) {
  margin-left: 0.5rem; }

.menu-button:dir(ltr) {
  margin-right: 0.5rem; }

.menu-button:hover {
  background: #d5eabc; }

.power-box {
  background: rgba(58, 76, 41, 0.5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.5rem; }

/* ----------------------------------------------- */
/* -------------- Notification menu -------------- */
/* ----------------------------------------------- */
.notification-menu-header {
  background-size: cover;
  background-position: center;
  padding: 1rem;
  color: #ebe1d9; }

.horizontal-line {
  background: #ebe1d9;
  min-height: 1px;
  min-width: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ebe1d9; }

.notification-center-button {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background: #4f4539;
  color: #d3c4b5;
  font-family: "Font Awesome 5 Free Solid";
  border-radius: 1.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 1.1rem;
  padding-left: 0.8rem; }

.notification-center-button:hover {
  background-color: #ffb94d;
  color: #462b00; }

.notification-this-is-all {
  color: #ebe1d9;
  margin-top: 10rem;
  margin-bottom: 1rem;
  min-width: 1rem;
  min-height: 1rem; }

.no-notification-icon {
  margin-bottom: 0.5rem;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 3rem;
  padding-right: 0.7rem; }

.no-notification-text {
  min-width: 22.5rem; }

.notification-header-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #3a4c29;
  color: #d5eabc;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.notification-center-header-text {
  min-width: 7.7rem; }

.notification-center-header-mute {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Font Awesome 5 Free Solid";
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  margin-right: 0.5rem; }

.notification-center-header-clear {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Font Awesome 5 Free Solid";
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.2rem; }

.notification-center-header-clear:dir(rtl) {
  margin-right: 0.7rem; }

.notification-center-header-clear:dir(ltr) {
  margin-left: 1rem; }

.notification-center-container {
  min-height: 30rem;
  border-radius: 1.5rem; }

/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
.music-wd-box {
  background: #643f00;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1.5rem; }

.left-menu-music-wd {
  background: #643f00;
  border-radius: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.left-menu-music-wd:dir(rtl) {
  padding-left: 1rem;
  padding-right: 1.8rem; }

.left-menu-music-wd:dir(ltr) {
  padding-right: 1rem;
  padding-left: 1.8rem; }

.music-wd-row-one {
  padding-right: 8px; }

.music-wd-row-two {
  margin-right: 8px;
  margin-top: 8px; }

.music-wd-row-three {
  padding-top: 10px; }

.music-wd-player {
  background: #ddc2a1;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #3e2d16;
  border-radius: 1.5rem;
  min-width: 2rem; }

.music-wd-player:dir(rtl) {
  padding-left: 0.4rem;
  padding-right: 0.7rem; }

.music-wd-player:dir(ltr) {
  padding-right: 0.4rem;
  padding-left: 0.7rem; }

.music-wd-title {
  color: #b9cea1;
  margin-bottom: 0.5rem; }

.music-wd-title:dir(rtl) {
  padding-left: 0.5rem; }

.music-wd-title:dir(ltr) {
  padding-right: 0.5rem; }

.music-wd-file-name {
  color: #ebe1d9;
  font-size: x-small; }

.music-wd-button {
  font-family: "Font Awesome 5 Free Solid";
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  background: #ddc2a1;
  color: #3e2d16;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.music-wd-button:hover {
  background: #b9cea1; }

.music-wd-button-play {
  background: #ffb94d;
  color: #462b00;
  border-radius: 1.5rem;
  min-height: 40px;
  min-width: 80px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.music-wd-button-play:hover {
  background: #b9cea1; }

.music-wd-button-stop {
  background: #ddc2a1;
  color: #3e2d16;
  border-radius: 1.5rem;
  min-height: 40px;
  min-width: 80px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

/* ----------------------------------------- */
/* -------------- Fuzzy clock -------------- */
/* ----------------------------------------- */
.wd-fuzzy-day-box {
  background: rgba(0, 0, 0, 0);
  color: #ffddb0; }

.wd-fuzzy-day-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "Font Awesome 5 Free Solid";
  padding: 0.7rem 0rem 0rem 0rem; }

.wd-fuzzy-day-text {
  font-family: "VIP Rawy Regular";
  font-size: 1.8rem; }

.wd-time-now {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0);
  color: #fbdebc;
  font-family: "VEXA light R";
  margin: 0rem 0rem 0rem 0rem; }

.wd-fuzzy-time-box {
  background: rgba(0, 0, 0, 0);
  color: #d5eabc; }

.wd-fuzzy-time-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "Font Awesome 5 Free Solid"; }

.wd-fuzzy-time-text {
  font-size: 1.8rem;
  font-family: "VIP Rawy Regular"; }

.saying-wd-label {
  min-width: 1rem;
  font-size: 1.5rem;
  color: #ffddb0;
  background: rgba(100, 63, 0, 0.8);
  font-family: "VIP Rawy Regular";
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 1.5rem; }

.desktop-wd-separator {
  background: rgba(0, 0, 0, 0);
  min-height: 1px;
  min-width: 1px; }

.desktop-wd-music-player-box {
  padding: 0rem 0rem 0rem 0rem;
  min-width: 30rem;
  font-family: "VIP Rawy Regular";
  font-size: 1.5rem; }

.desktop-wd-music-player-title {
  color: #ddc2a1; }

.desktop-wd-music-player-artist {
  color: #d5eabc; }

/* ------------------------------------------- */
/* -------------- Hardware menu -------------- */
/* ------------------------------------------- */
.hardware-menu-box {
  background: #1f1b16;
  border-radius: 1.5rem;
  border: 2px solid #ffb94d;
  padding: 1rem; }

.hardware-menu-header-box {
  background: #4f4539;
  border-radius: 1.5rem;
  padding: 0.5rem; }

.menu-cpu {
  color: #ddc2a1;
  font-size: 0.6rem;
  min-width: 7rem;
  min-height: 7rem;
  margin: 1rem; }

.menu-cpu-icon {
  color: #ddc2a1;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 2.5rem; }

.menu-ram {
  color: #ffb4a9;
  font-size: 0.6rem;
  min-width: 7rem;
  min-height: 7rem;
  margin: 1rem; }

.menu-ram-icon {
  color: #ffb4a9;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 2.5rem; }

.menu-battery {
  color: #ffb94d;
  font-size: 0.6rem;
  min-width: 7rem;
  min-height: 7rem;
  margin: 1rem; }

.menu-battery-icon {
  color: #ffb94d;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 2.5rem; }

.menu-battery-icon-charging {
  color: #ffb94d;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 2.5rem;
  animation: colorChange 2s infinite; }

.menu-temp {
  color: #b9cea1;
  font-size: 0.6rem;
  min-width: 7rem;
  min-height: 7rem;
  margin: 1rem; }

.menu-temp-icon {
  color: #b9cea1;
  font-family: "Font Awesome 5 Free Solid";
  font-size: 2.5rem; }

.table-row-app-name-header {
  min-width: 6rem; }

.table-row-app-percentage-header {
  min-width: 3rem; }

.table-row-app-name {
  min-width: 6rem; }

.table-row-app-percentage {
  min-width: 3rem; }

.hardware-cpu-box {
  background: rgba(255, 185, 77, 0.7);
  color: #462b00;
  border-radius: 1.5rem;
  margin-top: 1rem; }

.hardware-cpu-table-row-header {
  padding: 1rem;
  background: rgba(255, 185, 77, 0.8);
  color: #462b00;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.hardware-cpu-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-ram-box {
  background: rgba(221, 194, 161, 0.9);
  color: #3e2d16;
  border-radius: 1.5rem;
  margin-top: 1rem; }

.hardware-ram-table-row-header {
  padding: 1rem;
  background: rgba(221, 194, 161, 0.9);
  color: #3e2d16;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.hardware-ram-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-menu-tables-box {
  background: #643f00;
  padding: 0.8rem;
  padding-top: 0rem;
  margin-top: 0.8rem;
  border-radius: 1.5rem; }

.hardware-bat-box {
  background: rgba(185, 206, 161, 0.8);
  color: #243515;
  border-radius: 1.5rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-bat-table-row-header {
  padding: 1rem;
  background: #b9cea1;
  color: #243515;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.hardware-bat-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-os-box {
  background: rgba(31, 27, 22, 0.7);
  color: #ebe1d9;
  border-radius: 1.5rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-os-table-row-header {
  padding: 1rem;
  background: rgba(31, 27, 22, 0.7);
  color: #ebe1d9;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.hardware-os-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

/* ----------------------------------------------- */
/* -------------- Prayer times menu -------------- */
/* ----------------------------------------------- */
.bar-prayer-times-box {
  font-size: 1em;
  background: #3a4c29;
  color: #d5eabc;
  border-radius: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-prayer-times-box:dir(rtl) {
  padding-left: 0.7rem; }

.bar-prayer-times-box:dir(ltr) {
  padding-right: 0.7rem; }

.bar-prayer-times-icon {
  font-family: "Font Awesome 5 Free Solid";
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

.prayer-times-menu-box {
  background: #1f1b16;
  border-radius: 1.5rem;
  border: 2px solid #ffb94d; }

.prayer-times-menu-header {
  background: #3a4c29;
  color: #d5eabc;
  padding: 1rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem; }

.prayer-time-item-box-class {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.isha-item {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem; }

.next-prayer {
  background: #ffb94d;
  color: #462b00; }

.prayer-times-menu-header-icon {
  font-family: "Font Awesome 5 Free Solid"; }

.prayer-times-menu-header-title {
  margin-right: 1rem; }

.prayer-times-menu-header-title:dir(ltr) {
  margin-right: 1.7rem; }

.prayer-times-menu-header-title:dir(rtl) {
  margin-left: 1.7rem; }

button {
  background: #643f00;
  color: #ffddb0;
  border-color: #643f00;
  border-radius: 1.5rem;
  padding: 4px 14px;
  border: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

/* Shadow when clicking */
button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

button:hover {
  background: #b9cea1;
  color: #243515;
  border-color: #b9cea1;
  border-radius: 1.5rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

menu {
  border: 2px #ffb94d solid;
  background: #1f1b16;
  color: #ebe1d9;
  border-radius: 1.5rem;
  padding: 0.3rem;
  margin-top: 2rem; }

menuitem {
  border-radius: 1.5rem;
  background: #1f1b16;
  color: #ebe1d9; }

menuitem:disabled {
  background: rgba(79, 69, 57, 0.5);
  color: rgba(211, 196, 181, 0.5); }

menuitem:hover {
  background: #56432a;
  color: #fbdebc; }

.weather-menu-box {
  min-width: 2rem;
  background: #1f1b16;
  color: #ebe1d9;
  padding: 1rem 1rem;
  padding-top: 2rem;
  border: 2px solid #ffb94d;
  border-radius: 1.5rem; }

.weather-menu-general-information-box {
  margin: 0rem 1rem; }

.weather-menu-detail-box {
  margin: 0rem 1rem; }

.weather-menu-today-box {
  margin-top: 0.4rem; }

.weather-row-two {
  margin: 2rem 2rem; }

.weather-menu-icon {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 7rem;
  margin: 0rem 1rem; }

.weather-menu-city {
  font-size: 2rem;
  margin-top: 0.3rem; }

.weather-menu-value {
  font-size: 2.2rem; }

.weather-menu-sunrise {
  font-size: 1.1rem; }

.weather-menu-sunrise-icon {
  font-size: 1.1rem;
  font-family: "Font Awesome 5 Free Solid";
  margin: 0rem 0.5rem; }

.weather-menu-sunset {
  font-size: 1.1rem; }

.weather-menu-sunset-icon {
  font-size: 1.1rem;
  font-family: "Font Awesome 5 Free Solid";
  margin: 0rem 0.5rem; }

.weather-menu-today-time {
  font-size: 1.1rem; }

.weather-menu-today-weather {
  font-size: 1.1rem;
  padding: 0rem 1.2rem; }

.weather-menu-today-temp {
  font-size: 1.3rem;
  font-family: "Font Awesome 5 Free Solid"; }

.weather-menu-latest-update {
  font-size: 1.1rem; }

.weather-menu-feels-like {
  font-size: 1.3rem; }

.weather-menu-humidity {
  font-size: 1.3rem; }

.weather-menu-pressure {
  font-size: 1.3rem; }

.weather-menu-wind {
  font-size: 1.3rem; }

.weather-menu-clouds {
  font-size: 1.3rem; }

.weather-menu-min-max {
  font-size: 1.3rem; }
