/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
button {
  background-color: #1f1635;
  color: #bdddee;
  border-color: #1f1635; }

button:hover {
  background-color: #1ed4fd;
  color: #154a63;
  border-color: #1ed4fd; }

.unset {
  all: unset; }

.workspaces button:active {
  color: #1ed4fd;
  border-radius: 0px; }

.workspaces {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  background: #1f1635;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem; }

.dynamic-wallpaper {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0rem 1rem; }

.workspaces:dir(rtl) {
  margin-right: 0.4rem;
  margin-left: 0.5rem; }

.workspaces:dir(ltr) {
  margin-right: 0.5rem;
  margin-left: 0.4rem; }

.workspaces button {
  background: #1f1635;
  color: #bdddee;
  border: 0rem; }

.workspaces button.focused {
  border-bottom: 1px solid #1ed4fd;
  color: #1ed4fd;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: large; }

.workspaces button.unfocused {
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 0px;
  font-size: large; }

.workspaces button.has-windows {
  color: #1ed4fd; }

.workspaces button:hover {
  background: rgba(255, 0, 255, 0.9);
  color: rgba(31, 22, 53, 0.9); }

.clock {
  background: linear-gradient(to right, #ff00ff, #1ed4fd);
  color: #1f1635;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 1em;
  padding-right: 1em; }

.bar-weather-box {
  font-size: 1em;
  background: linear-gradient(to right, #25f7e2, #cdd4af);
  color: #1f1635;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-weather-box:dir(rtl) {
  padding-left: 0.8rem; }

.bar-weather-box:dir(ltr) {
  padding-right: 0.8rem; }

.bar-weather-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.top-corner {
  background-color: #352558;
  border-radius: 0.8rem; }

.bar-bg {
  background: rgba(0, 0, 0, 0);
  min-height: 8px;
  border-radius: 0rem; }

.bar {
  background: #352558;
  color: #bdddee;
  min-height: 8px;
  margin-bottom: 0.5rem; }

.internet-box {
  background: linear-gradient(to right, #82d8d2, #478dd7);
  color: #352558;
  /* min-width: 100px; */
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.internet-box:dir(rtl) {
  margin-left: 0.5rem;
  padding-right: 0.8rem; }

.internet-box:dir(ltr) {
  margin-right: 0.5rem;
  padding-left: 0.8rem; }

.wifi-name-label {
  /* margin-left: 0.7em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: #352558;
  color: #bdddee;
  font-weight: bold; }

.wifi-name-label:dir(rtl) {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-right: 0.2em;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem; }

.wifi-name-label:dir(ltr) {
  padding-right: 0.5em;
  padding-left: 1em;
  margin-left: 0.2em;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem; }

.wifi-icon-strength {
  font-family: "FantasqueSansM Nerd Font Propo";
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #352558;
  color: #bdddee; }

.wifi-icon-strength:dir(rtl) {
  margin-left: 0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.6rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem; }

.wifi-icon-strength:dir(ltr) {
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.6rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem; }

.systray {
  background: #1f1635;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 0.1rem; }

.systray:dir(rtl) {
  margin-left: 0.5rem; }

.systray:dir(ltr) {
  margin-right: 0.5rem; }

.systray button {
  background: #1f1635;
  border-radius: 0.8rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  min-height: 0.1rem; }

.systray button:hover {
  background: #1ed4fd; }

.tray-btn {
  border: 0rem; }

.bar-hardware-progress-circle, .ram, .temp, .cpu, .battery {
  min-width: 1.55rem;
  min-height: 1.31rem;
  font-size: 0.16rem; }

.bar-hardware-progress-inner-circle, .ram-inner, .temp-inner, .cpu-inner, .battery-inner-charging, .battery-inner {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 0.3rem; }

.battery {
  background: #1f1635;
  color: #1ed4fd; }

@keyframes colorChange {
  0% {
    color: #1ed4fd; }
  50% {
    color: #1f1635; }
  100% {
    color: #1ed4fd; } }

.battery-inner {
  color: #1ed4fd; }

.battery-inner-charging {
  color: #1ed4fd;
  animation: colorChange 2s infinite; }

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
  background: #1f1635;
  color: #b18dff; }

.cpu-inner {
  color: #b18dff; }

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
  background: #1f1635;
  color: #ff00ff; }

.no-hover:hover {
  all: unset; }

.temp-inner {
  color: #ff00ff; }

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
  background: #1f1635;
  color: #c1c4eb; }

.ram-inner {
  color: #c1c4eb; }

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
  background: #1f1635;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.bar-hw-temp-box:dir(rtl) {
  margin-right: 0.5rem; }

.bar-hw-temp-box:dir(ltr) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(ltr) {
  margin-right: 0.5rem; }

.bar-hw-cpu-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-cpu-box:dir(ltr) {
  margin-right: 0.5rem; }

.hardware-menu-box {
  background: #352558;
  border-radius: 0.8rem;
  border: 2px solid #1ed4fd;
  padding: 1rem; }

.hardware-menu-header-box {
  background: #1f1635;
  border-radius: 0.8rem;
  padding: 0.5rem; }

.hardware-menu-power-profile-box {
  background: #1f1635;
  border-radius: 0.8rem;
  padding: 0.5rem;
  margin-left: 0.5rem; }

.power-profiles-box-btn {
  margin: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0); }

.power-profiles-box-btn-active {
  background: #1ed4fd;
  color: #154a63;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0); }

.hardware-menu-box-progress, .menu-temp, .menu-battery, .menu-ram, .menu-cpu {
  font-size: 0.5rem;
  min-width: 6.5rem;
  min-height: 6.5rem;
  margin: 1rem; }

.hardware-menu-box-icon, .menu-temp-icon, .menu-battery-icon-charging, .menu-battery-icon, .menu-ram-icon, .menu-cpu-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.menu-cpu {
  color: #b18dff; }

.menu-cpu-icon {
  color: #b18dff; }

.menu-ram {
  color: #c1c4eb; }

.menu-ram-icon {
  color: #c1c4eb; }

.menu-battery {
  color: #1ed4fd; }

.menu-battery-icon {
  color: #1ed4fd; }

.menu-battery-icon-charging {
  color: #1ed4fd;
  animation: colorChange 2s infinite; }

.menu-temp {
  color: #ff00ff; }

.menu-temp-icon {
  color: #ff00ff; }

.table-row-app-name-header {
  min-width: 6rem; }

.table-row-app-percentage-header {
  min-width: 3rem; }

.table-row-app-name {
  min-width: 6rem; }

.table-row-app-percentage {
  min-width: 3rem; }

.hardware-cpu-box {
  background: linear-gradient(to top, #1ed4fd, #ff00ff);
  color: #1f1635;
  border-radius: 0.8rem;
  margin-top: 1rem; }

.hardware-cpu-table-row-header {
  padding: 1rem;
  background: #ff00ff;
  color: #1f1635;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }

.hardware-cpu-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-ram-box {
  background: linear-gradient(to top, #8d52ff, #0088ff);
  color: #1f1635;
  border-radius: 0.8rem;
  margin-top: 1rem; }

.hardware-ram-table-row-header {
  padding: 1rem;
  background: #017de9;
  color: #1f1635;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }

.hardware-ram-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-menu-tables-box {
  background: #1f1635;
  padding: 0.8rem;
  padding-top: 0rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem; }

.hardware-bat-box {
  background: #987fd6;
  color: #211008;
  border-radius: 0.8rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-bat-table-row-header {
  padding: 1rem;
  background: #8b75c4;
  color: #211008;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }

.hardware-bat-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-os-box {
  background: rgba(255, 0, 255, 0.9);
  color: #211008;
  border-radius: 0.8rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-os-table-row-header {
  padding: 1rem;
  background: rgba(255, 0, 255, 0.8);
  color: #211008;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }

.hardware-os-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.volume {
  border-radius: 0.8rem;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em; }

.vol-stack:dir(rtl) {
  margin-left: 1em; }

.vol-stack:dir(ltr) {
  margin-right: 1em; }

.vol-osd {
  background: #352558;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 2px solid #1ed4fd;
  margin: 1.5rem; }

.vol-osd:dir(rtl) {
  padding-left: 1.5rem; }

.vol-osd:dir(ltr) {
  padding-right: 1.5rem; }

scale trough highlight {
  border-radius: 0.8rem;
  background: #1ed4fd; }

scale slider {
  background: #1ed4fd; }

.notifications-revealer-box {
  background: #154a63;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.8rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background: #fff;
  min-width: 100rem; }

.notifications-revealer-box:dir(rtl) {
  margin-left: 0.7rem;
  margin-right: 0rem; }

.notifications-revealer-box:dir(ltr) {
  margin-right: 0.7rem;
  margin-left: 0rem; }

.notification-popups {
  border: 2px solid #1ed4fd;
  border-radius: 0.8rem;
  padding: 1rem;
  background: #352558;
  color: #bdddee; }

.notifications-popup-list {
  border-radius: 0.8rem;
  background: rgba(0, 0, 0, 0); }

.notification-close-button {
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

window {
  border-radius: 0.8rem;
  background: rgba(0, 0, 0, 0); }

.left-menu-box {
  background: #352558;
  border-radius: 0.8rem;
  border: 2px solid #1ed4fd;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  transition-property: background;
  transition-duration: 1.5s; }

.left-menu-box:dir(rtl) {
  margin-left: 0.6rem;
  margin-right: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); }

.left-menu-box:dir(ltr) {
  margin-right: 0.6rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3); }

.left-menu-header {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  min-width: 23rem;
  min-height: 12rem; }

.profile-box {
  background: linear-gradient(to right, rgba(162, 128, 255, 0.8), rgba(119, 76, 240, 0.6));
  color: #1f1635;
  min-width: 20rem;
  min-height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -3rem;
  border-radius: 0.8rem; }

.profile-icon {
  margin-top: -3rem; }

.profile-label {
  margin-top: 1rem;
  font-family: 'VIP Rawy Regular';
  font-size: xx-large; }

/* -------------- Theme Box -------------- */
.themes-box {
  background: #241546;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem; }

.selected-theme {
  background: linear-gradient(to right, #9359ff, #ff00aa);
  color: #352558;
  border-radius: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.selected-theme:hover {
  background: linear-gradient(to right, #ff9900, #ff6600);
  color: #154a63;
  border-radius: 0.8rem; }

.theme-btn {
  border-radius: 0.8rem;
  background: #352558;
  border-color: #352558;
  border-radius: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.theme-btn:hover {
  color: #154a63;
  border-color: #1ed4fd;
  border-radius: 0.8rem; }

.theme-btn-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 2rem; }

.dynamic-theme-btn-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 1.93rem; }

.theme-btn-label {
  min-width: 3rem; }

.menu-button {
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #352558;
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.menu-button:dir(rtl) {
  margin-left: 0.5rem; }

.menu-button:dir(ltr) {
  margin-right: 0.5rem; }

.menu-button:hover {
  background: #1ed4fd; }

.power-box {
  background: #1f1635;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem; }

.notification-menu-header {
  background-size: cover;
  background-position: center;
  padding: 1rem;
  color: #bdddee; }

.horizontal-line {
  background: #bdddee;
  min-height: 1px;
  min-width: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #bdddee; }

.notification-center-button {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background: #1f1635;
  color: #c1c4eb;
  border-radius: 0.8rem;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.notification-center-button:dir(ltr) {
  padding-right: 0.7rem;
  padding-left: 1rem; }

.notification-center-button:dir(rtl) {
  padding-left: 0.7rem;
  padding-right: 1rem; }

.notification-center-button:hover {
  background-color: #1ed4fd;
  color: #352558; }

.notification-this-is-all {
  color: #bdddee;
  margin-top: 10rem;
  margin-bottom: 1rem;
  min-width: 1rem;
  min-height: 1rem; }

.no-notification-icon {
  margin-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 3rem;
  padding-right: 0.7rem; }

.no-notification-text {
  min-width: 22.5rem; }

.notification-header-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #1f1635;
  color: #bdddee;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }

.notification-center-header-text {
  min-width: 7.7rem; }

.notification-center-header-mute {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  margin-right: 0.5rem; }

.notification-center-header-clear {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1.2rem; }

.notification-center-header-clear:dir(rtl) {
  margin-right: 0.7rem; }

.notification-center-header-clear:dir(ltr) {
  margin-left: 1rem; }

.notification-center-container {
  min-height: 30rem;
  border-radius: 0.8rem; }

.music-wd-box {
  background: linear-gradient(to right, #8e52ff, #0088ff);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.8rem; }

.music-wd-length {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.left-menu-music-wd {
  background: linear-gradient(to right, #8e52ff, #0088ff);
  border-radius: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.left-menu-music-wd:dir(rtl) {
  padding-left: 1rem;
  padding-right: 1.8rem; }

.left-menu-music-wd:dir(ltr) {
  padding-right: 1rem;
  padding-left: 1.8rem; }

.music-wd-row-one {
  padding-right: 8px; }

.music-wd-row-two {
  margin-right: 8px;
  margin-top: 8px; }

.music-wd-row-three {
  padding-top: 10px; }

.music-wd-player {
  background: #1f1635;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #c1c4eb;
  border-radius: 0.8rem;
  min-width: 2rem; }

.music-wd-player:dir(rtl) {
  padding-left: 0.4rem;
  padding-right: 0.7rem; }

.music-wd-player:dir(ltr) {
  padding-right: 0.4rem;
  padding-left: 0.7rem; }

.music-wd-title {
  color: #1f1635;
  margin-bottom: 0.5rem; }

.music-wd-title:dir(rtl) {
  padding-left: 0.5rem; }

.music-wd-title:dir(ltr) {
  padding-right: 0.5rem; }

.music-wd-file-name {
  color: #c1c4eb;
  font-size: x-small; }

.music-wd-button {
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  background: linear-gradient(to right, #352558, #352558);
  color: #c1c4eb;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.music-wd-button:hover {
  background: linear-gradient(to top, #1ed4fd, #ff00ff); }

.music-wd-button-play {
  background: linear-gradient(to right, #9359ff, #ff00aa);
  color: #1f1635;
  border-radius: 0.8rem;
  min-height: 40px;
  min-width: 80px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.music-wd-button-play:hover {
  background: linear-gradient(to top, #1ed4fd, #ff00ff); }

.music-wd-button-stop {
  background: linear-gradient(to right, #352558, #352558);
  color: #c1c4eb;
  border-radius: 0.8rem;
  min-height: 40px;
  min-width: 80px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.wd-fuzzy-day-box {
  background: rgba(0, 0, 0, 0);
  color: #ff00ff; }

.wd-fuzzy-day-icon {
  font-size: 2rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  padding: 0.7rem 0rem 0rem 0rem; }

.wd-fuzzy-day-text {
  font-family: "VIP Rawy Regular";
  font-size: 3rem; }

.wd-time-now {
  font-size: 2.3rem;
  background: rgba(0, 0, 0, 0);
  color: #ffb431;
  font-family: "VEXA light R";
  margin: 0rem 0rem 0.5rem 0rem; }

.wd-fuzzy-time-box {
  background: rgba(0, 0, 0, 0);
  color: #1ed4fd; }

.wd-fuzzy-time-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.wd-fuzzy-time-text {
  font-size: 1.8rem;
  font-family: "VIP Rawy Regular"; }

.saying-wd-label {
  min-width: 25rem;
  font-size: 1.8rem;
  color: #31ff87;
  background: rgba(0, 0, 0, 0);
  font-family: "VIP Rawy Regular";
  padding: 0rem;
  margin: 0rem;
  border-radius: 0rem; }

.desktop-wd-separator {
  background: linear-gradient(to bottom, #ff00ff, #ffb431, #1ed4fd);
  min-height: 1px;
  min-width: 1px; }

.desktop-wd-music-player-box {
  padding: 1rem 0rem 0rem 0rem;
  min-width: 30rem;
  font-family: "VIP Rawy Regular";
  font-size: 1.5rem; }

.desktop-wd-music-player-title {
  color: #1ed4fd; }

.desktop-wd-music-player-artist {
  color: #ff00ff; }

.bar-prayer-times-box {
  font-size: 1em;
  background: linear-gradient(to right, #82d8d2, #478dd7);
  color: #1f1635;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-prayer-times-box:dir(rtl) {
  padding-left: 0.7rem; }

.bar-prayer-times-box:dir(ltr) {
  padding-right: 0.7rem; }

.bar-prayer-times-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

.prayer-times-menu-box {
  background: #352558;
  border-radius: 0.8rem;
  border: 2px solid #1ed4fd; }

.prayer-times-menu-header {
  background: #1f1635;
  color: #bdddee;
  padding: 1rem;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }

.prayer-time-item-box-class {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.isha-item {
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem; }

.next-prayer {
  background: linear-gradient(to left, #ff00ff, #1ed4fd);
  color: #1f1635; }

.prayer-times-menu-header-icon {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.prayer-times-menu-header-title {
  margin-right: 1rem; }

.prayer-times-menu-header-title:dir(ltr) {
  margin-right: 1.7rem; }

.prayer-times-menu-header-title:dir(rtl) {
  margin-left: 1.7rem; }

.weather-menu-box {
  min-width: 2rem;
  background: #352558;
  color: #bdddee;
  padding: 1rem 1rem;
  padding-top: 2rem;
  border: 2px solid #1ed4fd;
  border-radius: 0.8rem; }

.weather-menu-general-information-box {
  margin: 0rem 1rem; }

.weather-menu-detail-box {
  margin: 0rem 1rem; }

.weather-menu-today-box {
  margin-top: 0.4rem; }

.weather-row-two {
  margin: 2rem 2rem; }

.weather-menu-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 7rem;
  margin: 0rem 1rem; }

.weather-menu-city {
  font-size: 2rem;
  margin-top: 0.3rem; }

.weather-menu-value {
  font-size: 2.2rem; }

.weather-menu-sunrise {
  font-size: 1.1rem; }

.weather-menu-sunrise-icon {
  font-size: 1.1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  margin: 0rem 0.5rem; }

.weather-menu-sunset {
  font-size: 1.1rem; }

.weather-menu-sunset-icon {
  font-size: 1.1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  margin: 0rem 0.5rem; }

.weather-menu-today-time {
  font-size: 1.1rem; }

.weather-menu-today-weather {
  font-size: 1.1rem;
  padding: 0rem 1.2rem; }

.weather-menu-today-temp {
  font-size: 1.3rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.weather-menu-latest-update {
  font-size: 1.1rem; }

.weather-menu-feels-like {
  font-size: 1.3rem; }

.weather-menu-humidity {
  font-size: 1.3rem; }

.weather-menu-pressure {
  font-size: 1.3rem; }

.weather-menu-wind {
  font-size: 1.3rem; }

.weather-menu-clouds {
  font-size: 1.3rem; }

.weather-menu-min-max {
  font-size: 1.3rem; }

.un-hover:hover {
  all: unset; }

.icon-font {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.small-shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.small-shadow:dir(rtl) {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }

.small-shadow:dir(ltr) {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1); }

.shadow:dir(rtl) {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3); }

.shadow:dir(ltr) {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3); }

button {
  background: #1f1635;
  color: #bdddee;
  border-color: #1f1635;
  border-radius: 0.8rem;
  padding: 4px 14px;
  border: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

/* Shadow when clicking */
button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

button:hover {
  background: #1ed4fd;
  color: #154a63;
  border-color: #1ed4fd;
  border-radius: 0.8rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

menu {
  border: 2px #1ed4fd solid;
  background: #352558;
  color: #bdddee;
  border-radius: 0.8rem;
  padding: 0.3rem;
  margin-top: 2rem; }

menuitem {
  border-radius: 0.8rem;
  background: #352558;
  color: #bdddee; }

menuitem:disabled {
  background: rgba(189, 221, 238, 0.1);
  color: rgba(189, 221, 238, 0.5); }

menuitem:hover {
  background: rgba(189, 221, 238, 0.2);
  color: #bdddee; }
