/* This file is created by ThemeService written by ahmedsaadi0 */
/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
/* ------------------------------------------------------- */
/* -------------- Material U Desktop Widget -------------- */
/* ------------------------------------------------------- */
.my-weather-wd-text {
  font-size: medium; }

.weather-wd-row-one {
  background: rgba(218, 227, 249, 0.8);
  color: #121c2b;
  border-radius: 1.4rem;
  margin: 1rem;
  margin-bottom: 0.5rem; }

.my-desktop-music-box {
  background: rgba(248, 216, 254, 0.9);
  color: #28132f;
  border-radius: 1.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-width: 1rem;
  margin: 1rem;
  margin-top: 0.5rem; }

.my-desktop-music-box:dir(rtl) {
  padding-right: 1.2rem;
  padding-left: 1rem; }

.my-desktop-music-box:dir(ltr) {
  padding-left: 1.2rem;
  padding-right: 1rem; }

.my-weather-wd-icon {
  color: #121c2b;
  font-size: xx-large;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.my-wd-user-icon {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: 1.4rem; }

.my-wd-user-icon:dir(rtl) {
  margin-right: 1rem; }

.my-wd-user-icon:dir(ltr) {
  margin-left: 1rem; }

.my-weather-wd-title-text-box {
  min-width: 10.55rem;
  padding-top: 1rem;
  color: #28132f;
  font-size: x-large;
  font-family: "VIP Rawy Regular"; }

.my-weather-wd-row-two {
  background: rgba(212, 227, 255, 0.9);
  color: #001b3d;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1.4rem; }

.my-fuzzy-clock-box {
  background: rgba(248, 216, 254, 0.8);
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.4rem; }

.my-fuzzy-clock-box:dir(rtl) {
  padding-right: 1.5rem;
  padding-left: 1rem; }

.my-fuzzy-clock-box:dir(ltr) {
  padding-left: 1.5rem;
  padding-right: 1rem; }

.my-weather-wd-day-box {
  background: rgba(111, 86, 118, 0.6);
  border-radius: 1.4rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.my-wd-weather-day-name {
  font-family: "VIP Rawy Regular";
  color: #ffffff; }

.my-wd-weather-day-text {
  font-size: x-small;
  padding-bottom: 0rem;
  color: #ffffff; }

.my-weather-wd-day-icon {
  background: rgba(111, 86, 118, 0.7);
  color: #ffffff;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 1.4rem;
  margin-bottom: 0.2rem;
  min-width: 3rem;
  min-height: 3.5rem;
  font-size: x-large;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.unset {
  all: unset; }

.icon-font {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.small-shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.small-shadow:dir(rtl) {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }

.small-shadow:dir(ltr) {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1); }

.shadow:dir(rtl) {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3); }

.shadow:dir(ltr) {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3); }

button {
  background: #d4e3ff;
  color: #001b3d;
  border-color: #d4e3ff;
  border-radius: 1.4rem;
  padding: 4px 14px;
  border: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

/* Shadow when clicking */
button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

button:hover {
  background: #6f5676;
  color: #ffffff;
  border-color: #6f5676;
  border-radius: 1.4rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

menu {
  border: 2px #255fa7 solid;
  background: #fdfbff;
  color: #1b1b1d;
  border-radius: 1.4rem;
  padding: 0.3rem;
  margin-top: 2rem; }

menuitem {
  border-radius: 1.4rem;
  background: #fdfbff;
  color: #1b1b1d; }

menuitem:disabled {
  background: rgba(224, 226, 235, 0.5);
  color: rgba(68, 71, 79, 0.5); }

menuitem:hover {
  background: #dae3f9;
  color: #121c2b; }

.workspaces button:active {
  color: #001b3d;
  border-radius: 0px; }

.workspaces {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  background: #d4e3ff;
  border-radius: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem; }

.dynamic-wallpaper {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0rem 1rem; }

.workspaces:dir(rtl) {
  margin-right: 0.4rem;
  margin-left: 0.5rem; }

.workspaces:dir(ltr) {
  margin-right: 0.5rem;
  margin-left: 0.4rem; }

.workspaces button {
  background: #d4e3ff;
  color: rgba(111, 86, 118, 0.5);
  border: 0rem; }

.workspaces button.focused {
  border-bottom: 1px solid #255fa7;
  color: #255fa7;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: large; }

.workspaces button.unfocused {
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 0px;
  font-size: large; }

.workspaces button.has-windows {
  color: #255fa7; }

.workspaces button:hover {
  background: rgba(85, 95, 113, 0.9);
  color: rgba(255, 255, 255, 0.9); }

.clock {
  background: linear-gradient(to right, #d4e3ff, #f8d8fe);
  color: #001b3d;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 1em;
  padding-right: 1em; }

.bar-weather-box {
  font-size: 1em;
  background: #f8d8fe;
  color: #28132f;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-weather-box:dir(rtl) {
  padding-left: 0.8rem; }

.bar-weather-box:dir(ltr) {
  padding-right: 0.8rem; }

.bar-weather-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.top-corner {
  background-color: #fdfbff;
  border-radius: 1.4rem; }

.bar-bg {
  background: rgba(0, 0, 0, 0);
  min-height: 8px;
  border-radius: 0rem; }

.bar {
  background: #fdfbff;
  color: #1b1b1d;
  min-height: 8px;
  margin-bottom: 0.5rem; }

.internet-box {
  background: linear-gradient(to right, #d4e3ff, #dae3f9, rgba(255, 218, 212, 0.5));
  color: #001b3d;
  /* min-width: 100px; */
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.internet-box:dir(rtl) {
  margin-left: 0.5rem;
  padding-right: 0.8rem; }

.internet-box:dir(ltr) {
  margin-right: 0.5rem;
  padding-left: 0.8rem; }

.wifi-name-label {
  /* margin-left: 0.7em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: #fdfbff;
  color: #1b1b1d;
  font-weight: bold; }

.wifi-name-label:dir(rtl) {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-right: 0.2em;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem; }

.wifi-name-label:dir(ltr) {
  padding-right: 0.5em;
  padding-left: 1em;
  margin-left: 0.2em;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem; }

.wifi-icon-strength {
  font-family: "FantasqueSansM Nerd Font Propo";
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #fdfbff;
  color: #1b1b1d; }

.wifi-icon-strength:dir(rtl) {
  margin-left: 0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.6rem;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem; }

.wifi-icon-strength:dir(ltr) {
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.6rem;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem; }

.systray {
  background: #e0e2eb;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 0.1rem; }

.systray:dir(rtl) {
  margin-left: 0.5rem; }

.systray:dir(ltr) {
  margin-right: 0.5rem; }

.systray button {
  background: #e0e2eb;
  border-radius: 1.4rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  min-height: 0.1rem; }

.systray button:hover {
  background: #255fa7; }

.tray-btn {
  border: 0rem; }

.bar-hardware-progress-circle, .brightness, .volume, .ram, .temp, .cpu, .battery {
  min-width: 1.4rem;
  min-height: 1.3rem;
  font-size: 0.1rem; }

.bar-hardware-progress-inner-circle, .brightness-inner, .volume-inner, .temp-inner, .cpu-inner, .battery-inner-charging, .battery-inner {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 0.8rem; }

.battery {
  background: #e0e2eb;
  color: #255fa7; }

@keyframes colorChange {
  0% {
    color: #255fa7; }
  50% {
    color: #e0e2eb; }
  100% {
    color: #255fa7; } }

.battery-inner {
  color: #255fa7; }

.battery-inner-charging {
  color: #255fa7;
  animation: colorChange 2s infinite; }

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
  background: #e0e2eb;
  color: #555f71; }

.cpu-inner {
  font-size: 0.6rem;
  color: #555f71; }

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
  background: #e0e2eb;
  color: #6f5676; }

.no-hover:hover {
  all: unset; }

.temp-inner {
  color: #6f5676; }

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
  background: #e0e2eb;
  color: #ba1b1b; }

.ram-inner {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 0.6rem;
  color: #ba1b1b; }

.volume {
  background: #e0e2eb;
  color: #ba1b1b; }

.volume-inner {
  font-size: 0.8rem;
  color: #ba1b1b; }

.brightness {
  background: #e0e2eb;
  color: #555f71; }

.brightness-inner {
  color: #555f71; }

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
  background: #e0e2eb;
  padding: 0.2rem 0.5rem;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.bar-hw-temp-box:dir(rtl) {
  margin-right: 0.5rem; }

.bar-hw-temp-box:dir(ltr) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(ltr) {
  margin-right: 0.5rem; }

.bar-hw-cpu-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-cpu-box:dir(ltr) {
  margin-right: 0.5rem; }

.bar-hw-brightness-box:dir(rtl) {
  margin-right: 0.4rem; }

.bar-hw-brightness-box:dir(ltr) {
  margin-left: 0.4rem; }

.hardware-box-separator {
  min-height: 0.01rem;
  min-width: 0.01rem;
  background: rgba(111, 86, 118, 0.4);
  margin: -0.2rem 0.5rem; }

.power-profiles-box-btn {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0); }

.power-profiles-box-btn-active {
  background: #6f5676;
  color: #ffffff;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0); }

.hardware-menu-box-progress, .menu-temp, .menu-battery, .menu-ram, .menu-cpu {
  font-size: 0.5rem;
  min-width: 4.5rem;
  min-height: 4.5rem; }

.hardware-menu-box-icon, .menu-temp-icon, .menu-battery-icon-charging, .menu-battery-icon, .menu-ram-icon, .menu-cpu-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.menu-cpu {
  color: #555f71;
  background-color: rgba(85, 95, 113, 0.2); }

.menu-cpu-icon {
  color: #555f71; }

.menu-ram {
  color: #ba1b1b;
  background-color: rgba(186, 27, 27, 0.2); }

.menu-ram-icon {
  color: #ba1b1b; }

.menu-battery {
  color: #255fa7;
  background-color: rgba(37, 95, 167, 0.2); }

.menu-battery-icon {
  color: #255fa7; }

.menu-battery-icon-charging {
  color: #255fa7;
  animation: colorChange 2s infinite; }

.menu-temp {
  color: #6f5676;
  background-color: rgba(111, 86, 118, 0.2); }

.menu-temp-icon {
  color: #6f5676; }

.table-row-app-name-header, .table-row-app-name {
  min-width: 5.88rem; }

.table-row-app-percentage-header, .table-row-app-percentage {
  min-width: 3rem; }

.hardware-cpu-box {
  background: rgba(212, 227, 255, 0.7);
  color: #001b3d;
  border-radius: 1.4rem;
  margin-top: 1rem; }

.hardware-cpu-box:dir(rtl) {
  margin-right: 1rem; }

.hardware-cpu-box:dir(ltr) {
  margin-left: 1rem; }

.hardware-cpu-table-row-header {
  padding: 1rem;
  background: rgba(212, 227, 255, 0.8);
  color: #001b3d;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.hardware-table-row, .hardware-os-table-row, .hardware-bat-table-row, .hardware-ram-table-row, .hardware-cpu-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-ram-box {
  background: rgba(218, 227, 249, 0.9);
  color: #121c2b;
  border-radius: 1.4rem;
  margin-top: 1rem; }

.hardware-ram-table-row-header {
  padding: 1rem;
  background: rgba(218, 227, 249, 0.9);
  color: #121c2b;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.hardware-bat-box {
  background: rgba(248, 216, 254, 0.8);
  color: #28132f;
  border-radius: 1.4rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-bat-box:dir(rtl) {
  margin-right: 1rem; }

.hardware-bat-box:dir(ltr) {
  margin-left: 1rem; }

.hardware-bat-table-row-header {
  padding: 1rem;
  background: #f8d8fe;
  color: #28132f;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.hardware-os-box {
  background: rgba(224, 226, 235, 0.7);
  color: #44474f;
  border-radius: 1.4rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-os-table-row-header {
  padding: 1rem;
  background: rgba(224, 226, 235, 0.7);
  color: #44474f;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.progresses-box {
  padding: 1rem; }

.volume {
  border-radius: 1.4rem;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em; }

.vol-stack:dir(rtl) {
  margin-left: 1rem; }

.vol-stack:dir(ltr) {
  margin-right: 1rem; }

.vol-osd {
  background: #fdfbff;
  padding: 1rem;
  border-radius: 1.4rem;
  border: 2px solid #1b1b1d;
  margin: 1.5rem;
  color: #1b1b1d; }

.vol-osd:dir(rtl) {
  padding-left: 1.5rem; }

.vol-osd:dir(ltr) {
  padding-right: 1.5rem; }

scale trough highlight {
  border-radius: 1.4rem;
  background: #255fa7; }

scale slider {
  background: #255fa7; }

.language-layout-label {
  border-radius: 1.4rem;
  padding: 0rem 1rem; }

.language-layout-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.language-layout-box {
  padding: 1rem;
  border-radius: 1.4rem;
  border: 2px solid #1b1b1d;
  margin: 1.5rem;
  background: #fdfbff;
  color: #1b1b1d; }

.notifications-revealer-box {
  background: #dae3f9;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 1.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background: #fff;
  min-width: 100rem; }

.notifications-revealer-box:dir(rtl) {
  margin-left: 0.7rem;
  margin-right: 0rem; }

.notifications-revealer-box:dir(ltr) {
  margin-right: 0.7rem;
  margin-left: 0rem; }

.notification-popups {
  border: 2px solid #255fa7;
  border-radius: 1.4rem;
  padding: 1rem;
  background: #fdfbff;
  color: #1b1b1d; }

.notifications-popup-list {
  border-radius: 1.4rem;
  background: rgba(0, 0, 0, 0); }

.notification-close-button {
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

window {
  border-radius: 1.4rem;
  background: rgba(0, 0, 0, 0); }

.left-menu-box {
  background: #fdfbff;
  border-radius: 1.4rem;
  border: 2px solid #255fa7;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  transition-property: background;
  transition-duration: 1.5s; }

.left-menu-box:dir(rtl) {
  margin-left: 0.6rem;
  margin-right: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); }

.left-menu-box:dir(ltr) {
  margin-right: 0.6rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3); }

.left-menu-insider-box, .themes-box, .progresses-box {
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0rem;
  border-radius: 1.4rem;
  background: rgba(212, 227, 255, 0.5);
  color: #1b1b1d; }

.left-menu-header {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  min-width: 23rem;
  min-height: 12rem; }

.profile-box {
  background: linear-gradient(to right, rgba(212, 227, 255, 0.8), rgba(218, 227, 249, 0.6));
  color: #001b3d;
  min-width: 20rem;
  min-height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -4rem;
  border-radius: 1.4rem; }

.profile-icon {
  margin-top: -3rem;
  border-radius: 5rem; }

.profile-label {
  margin-top: 1rem;
  font-family: 'VIP Rawy Regular';
  font-size: xx-large; }

/* -------------- Theme Box -------------- */
.theme-button-father, .theme-btn, .selected-theme {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.selected-theme {
  background: linear-gradient(to right, #255fa7, #555f71);
  color: #ffffff;
  border-radius: 1.4rem; }

.selected-theme:hover {
  background: linear-gradient(to right, #d4e3ff, #dae3f9);
  color: #001b3d;
  border-radius: 1.4rem; }

.theme-btn {
  border-radius: 1.4rem;
  background: #f8d8fe;
  border-color: #f8d8fe;
  border-radius: 1.4rem; }

.theme-btn:hover {
  color: #ffffff;
  border-color: #6f5676;
  border-radius: 1.4rem; }

.theme-btn-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 2rem; }

.dynamic-theme-btn-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 1.93rem; }

.theme-btn-label {
  min-width: 3rem; }

.menu-button {
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #f8d8fe;
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.menu-button:dir(rtl) {
  margin-left: 0.5rem; }

.menu-button:dir(ltr) {
  margin-right: 0.5rem; }

.menu-button:hover {
  background: #28132f; }

.power-box {
  background: rgba(248, 216, 254, 0.5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.4rem;
  margin-top: 0rem; }

.power-action-revealer {
  padding-top: 1rem;
  color: #1b1b1d; }

.power-action-revealer-yes-btn:dir(rtl) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem; }

.power-action-revealer-yes-btn:dir(ltr) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem; }

.power-action-revealer-no-btn:dir(rtl) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem; }

.power-action-revealer-no-btn:dir(ltr) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem; }

.toolbar-icons-box {
  background: rgba(212, 227, 255, 0.5);
  border-radius: 1.4rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0rem 0.3rem; }

.toolbar-button-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 2rem; }

.toolbar-button-text {
  min-width: 4.8rem; }

.toolbar-button, .toolbar-button-selected, .toolbar-button:hover, .toolbar-button-selected:hover {
  all: unset;
  padding: 0.3rem 0rem;
  margin: 0.5rem;
  color: #1b1b1d; }

.toolbar-button:hover, .toolbar-button-selected:hover {
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  background: #6f5676;
  color: #ffffff;
  border-radius: 1.4rem; }

.toolbar-button-selected, .toolbar-button-selected:hover {
  background: #6f5676;
  color: #ffffff;
  border-radius: 1.4rem;
  margin: 0.5rem 0.4rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.themes-buttons-title {
  padding-bottom: 1.2rem;
  padding-top: 0.3rem;
  margin: 0rem 0.8rem;
  font-size: 1.2rem;
  color: #1b1b1d;
  font-weight: bold; }

.themes-buttons-icon {
  padding-bottom: 1.2rem;
  padding-top: 0.3rem;
  margin: 0rem 0.3rem;
  font-size: 1.2rem;
  color: #1b1b1d;
  font-weight: bold;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.monitor-progress-title {
  padding-bottom: 0.8rem; }

.view-all-themes-btn {
  margin: -1rem;
  margin-top: 1rem;
  background: rgba(212, 227, 255, 0.5);
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }

.view-all-themes-btn:hover {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem; }

.theme-button-toggle-title {
  min-width: 15rem; }

.themes-settings-separator {
  margin: 1rem 0rem;
  min-height: 0.1rem; }

.notification-menu-header {
  background-size: cover;
  background-position: center;
  padding: 1rem;
  color: #1b1b1d; }

.horizontal-line {
  background: #1b1b1d;
  min-height: 1px;
  min-width: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1b1b1d; }

.notification-center-button {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background: #e0e2eb;
  color: #44474f;
  border-radius: 1.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.notification-center-button:dir(ltr) {
  padding-right: 0.6rem;
  padding-left: 1rem;
  margin-right: 0.5rem; }

.notification-center-button:dir(rtl) {
  padding-left: 0.6rem;
  padding-right: 1rem;
  margin-left: 0.5rem; }

.notification-center-button:hover {
  background-color: #255fa7;
  color: #ffffff; }

.notification-this-is-all {
  color: #1b1b1d;
  margin-top: 13rem;
  margin-bottom: 0rem;
  min-width: 1rem;
  min-height: 1rem; }

.no-notification-icon {
  margin-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 3rem;
  padding-right: 0.7rem; }

.notification-header-box {
  margin: 0rem 1rem;
  background: rgba(212, 227, 255, 0.5);
  border-radius: 1.4rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  margin-top: 1rem;
  padding: 0.7rem 1rem; }

.notification-center-header-mute {
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 1.4rem;
  padding: 0rem 0.7rem; }

.notification-center-header-clear:dir(rtl) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem; }

.notification-center-header-clear:dir(ltr) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem; }

.notification-center-header-mute:dir(rtl) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem; }

.notification-center-header-mute:dir(ltr) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem; }

.notification-center-container {
  min-height: 36rem;
  border-radius: 1.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: rgba(212, 227, 255, 0.5);
  border-radius: 1.4rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem; }

.notification-header-label {
  color: #1b1b1d;
  font-weight: bold; }

.notification-header-label:dir(rtl) {
  margin-right: 4.5rem; }

.notification-header-label:dir(ltr) {
  margin-left: 4.5rem; }

.music-wd-box {
  background: #d4e3ff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1.4rem; }

.music-wd-length {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.music-wd-row-one {
  padding-right: 8px; }

.music-wd-row-two {
  margin-right: 8px;
  margin-top: 8px; }

.music-wd-row-three {
  padding-top: 10px; }

.music-wd-player {
  background: #555f71;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #ffffff;
  border-radius: 1.4rem;
  min-width: 2rem; }

.music-wd-player:dir(rtl) {
  padding-left: 0.4rem;
  padding-right: 0.7rem; }

.music-wd-player:dir(ltr) {
  padding-right: 0.4rem;
  padding-left: 0.7rem; }

.music-wd-title {
  color: #6f5676;
  margin-bottom: 0.5rem; }

.music-wd-title:dir(rtl) {
  padding-left: 0.5rem; }

.music-wd-title:dir(ltr) {
  padding-right: 0.5rem; }

.music-wd-file-name {
  color: #1b1b1d;
  font-size: x-small; }

.music-wd-main-button, .music-wd-button-stop, .music-wd-button-play, .music-wd-button {
  min-width: 40px;
  min-height: 40px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.music-wd-button {
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 50%;
  background: #555f71;
  color: #ffffff; }

.music-wd-button:hover {
  background: #6f5676; }

.music-wd-button-play {
  background: #255fa7;
  border-radius: 1.4rem;
  color: #ffffff;
  min-width: 80px; }

.music-wd-button-play:hover {
  background: #6f5676; }

.music-wd-button-stop {
  background: #555f71;
  color: #ffffff;
  border-radius: 1.4rem;
  min-width: 80px; }

.wd-fuzzy-day-box {
  background: rgba(0, 0, 0, 0);
  color: #001b3d; }

.wd-fuzzy-day-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  padding: 0.7rem 0rem 0rem 0rem; }

.wd-fuzzy-day-text {
  font-family: "VIP Rawy Regular";
  font-size: 1.8rem; }

.wd-time-now {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0);
  color: #121c2b;
  font-family: "VEXA light R";
  margin: 0rem 0rem 0rem 0rem; }

.wd-fuzzy-time-box {
  background: rgba(0, 0, 0, 0);
  color: #28132f; }

.wd-fuzzy-time-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.wd-fuzzy-time-text {
  font-size: 1.8rem;
  font-family: "VIP Rawy Regular"; }

.saying-wd-label {
  min-width: 1rem;
  font-size: 1.5rem;
  color: #001b3d;
  background: rgba(212, 227, 255, 0.8);
  font-family: "VIP Rawy Regular";
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 1.4rem; }

.desktop-wd-separator {
  background: rgba(0, 0, 0, 0);
  min-height: 1px;
  min-width: 1px; }

.desktop-wd-music-player-box {
  padding: 0rem 0rem 0rem 0rem;
  min-width: 30rem;
  font-family: "VIP Rawy Regular";
  font-size: 1.5rem; }

.desktop-wd-music-player-title {
  color: #555f71; }

.desktop-wd-music-player-artist {
  color: #28132f; }

.bar-prayer-times-box {
  font-size: 1em;
  background: #f8d8fe;
  color: #28132f;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-prayer-times-box:dir(rtl) {
  padding-left: 0.7rem; }

.bar-prayer-times-box:dir(ltr) {
  padding-right: 0.7rem; }

.bar-prayer-times-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

.prayer-times-menu-box {
  background: #fdfbff;
  border-radius: 1.4rem;
  border: 2px solid #255fa7;
  color: #1b1b1d; }

.prayer-times-menu-header {
  background: #f8d8fe;
  color: #28132f;
  padding: 1rem;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.prayer-time-item-box-class {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 1.5rem; }

.isha-item {
  border-bottom-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem; }

.next-prayer {
  background: #255fa7;
  color: #ffffff; }

.prayer-times-menu-header-icon {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.prayer-times-menu-header-title {
  margin-right: 1rem; }

.prayer-times-menu-header-title:dir(ltr) {
  margin-right: 1.7rem; }

.prayer-times-menu-header-title:dir(rtl) {
  margin-left: 1.7rem; }

.applications-box {
  background: #fdfbff;
  border-radius: 1.4rem;
  border-radius: 1.4rem;
  border: 2px solid #255fa7; }

.app-search-box {
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  min-width: 23rem;
  min-height: 12rem;
  background-color: rgba(0, 0, 0, 0.1);
  /* Dark overlay using background color */
  background-blend-mode: darken;
  /* Blend mode to darken the image */ }

.app-search {
  margin: 1.2rem;
  margin-top: 5rem; }

.applications-header-title {
  font-family: 'VIP Rawy Regular';
  font-size: xx-large;
  color: #fffbff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }

.audio-menu-header-box {
  background: rgba(212, 227, 255, 0.8);
  color: #1b1b1d;
  padding: 0.6rem;
  margin: 0rem 1rem; }

.audio-menu-box-progress {
  font-size: 0.5rem;
  min-width: 6.5rem;
  min-height: 6.5rem;
  margin: 1rem; }

.audio-menu-box-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.audio-menu-slider {
  margin-top: 1rem; }

.audio-menu-slider:dir(rtl) {
  margin-left: 1.5rem;
  margin-right: 1rem; }

.audio-menu-slider:dir(ltr) {
  margin-left: 1rem;
  margin-right: 1.5rem; }

.brightness-menu-slider {
  margin-bottom: 1rem; }

.brightness-menu-slider:dir(rtl) {
  margin-left: 1.5rem;
  margin-right: 1rem; }

.brightness-menu-slider:dir(ltr) {
  margin-left: 1rem;
  margin-right: 1.5rem; }

.left-menu-music-wd {
  background: #d4e3ff;
  border-bottom-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.left-menu-music-wd:dir(rtl) {
  padding-left: 1rem;
  padding-right: 1.5rem; }

.left-menu-music-wd:dir(ltr) {
  padding-right: 1rem;
  padding-left: 1.5rem; }

.media-control-revaler-button {
  background: #d4e3ff;
  margin: 0rem 1rem;
  padding: 0.3rem;
  border-bottom-right-radius: 0rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0);
  border-bottom-left-radius: 0rem;
  font-size: 1.1rem;
  font-weight: bold; }

.media-control-revaler-button:hover {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem; }

.media-control-revaler-button:dir(rtl) {
  padding-right: 1.3rem; }

.media-control-revaler-button:dir(ltr) {
  padding-left: 1.3rem; }

.information-widget-header {
  font-size: 2rem;
  margin-bottom: 1rem; }

.information-widget-title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem; }

.information-widget-subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-width: 7rem; }

.information-widget-subtext {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-width: 9.7rem; }

.calendar-menu-box {
  min-width: 2rem;
  background: #fdfbff;
  color: #1b1b1d;
  border: 2px solid #255fa7;
  border-radius: 1.4rem; }

.calendar {
  all: unset;
  padding: 0.8rem 0.55rem 0rem;
  font-size: 1.1rem; }
  .calendar.button {
    border-radius: 1.4rem; }
  .calendar.header {
    border: none;
    border-radius: 1.4rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem; }
  .calendar.highlight {
    color: rgba(27, 27, 29, 0.5); }
  .calendar:indeterminate {
    color: rgba(27, 27, 29, 0.5); }
  .calendar:selected {
    border-radius: 0.84rem;
    box-shadow: inset 0 -8px 0 0 rgba(37, 95, 167, 0.5), inset 0 0 0 1px #255fa7; }

.weather-header-card {
  padding: 1.3rem;
  margin: 1rem;
  margin-bottom: 0rem;
  border-radius: 1.4rem;
  background: rgba(212, 227, 255, 0.5);
  color: #1b1b1d; }

.weather-feels-like {
  font-size: 1.2rem;
  margin: 0rem 1rem; }

.weather-temperature {
  font-size: 3rem; }

.weather-city-name {
  font-size: 1.7rem;
  font-weight: 600; }

.weather-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2.8rem; }

.weather-icon:dir(rtl) {
  margin-right: 2rem; }

.weather-card-title {
  font-size: 1rem; }

.weather-card-text {
  font-size: 1rem; }

.weather-card-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 1.9rem;
  min-width: 2.8rem;
  background: #d4e3ff;
  color: #001b3d;
  border-radius: 5rem; }

.weather-card {
  padding: 0.9rem 1rem;
  margin: 0rem 0.5rem;
  min-width: 8.85rem;
  border-radius: 1.4rem;
  background: rgba(212, 227, 255, 0.5);
  color: #1b1b1d; }

.weather-row {
  padding: 0rem 0.5rem;
  padding-top: 1rem; }

.weather-max-min {
  margin-top: 0.5rem; }

.weather-latest-update-btn {
  background: rgba(212, 227, 255, 0.5);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.3rem; }

.weather-latest-update-btn:hover {
  padding: 0.2rem 0.5rem; }

.weather-latest-update-btn:dir(rtl) {
  margin-right: 2rem; }

.weather-latest-update-btn:dir(ltr) {
  margin-left: 2rem; }

.un-hover:hover {
  all: unset; }

.separator {
  min-height: 0.01rem;
  min-width: 0.01rem;
  background: rgba(37, 95, 167, 0.4); }
