/* This file is created by ThemeService written by ahmedsaadi0 */
/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
/* ------------------------------------------------------- */
/* -------------- Material U Desktop Widget -------------- */
/* ------------------------------------------------------- */
.my-weather-wd-text {
  font-size: medium; }

.weather-wd-row-one {
  background: rgba(88, 67, 44, 0.8);
  color: #feddbd;
  border-radius: 1.4rem;
  margin: 1rem;
  margin-bottom: 0.5rem; }

.my-desktop-music-box {
  background: rgba(63, 75, 38, 0.9);
  color: #dae9b6;
  border-radius: 1.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-width: 1rem;
  margin: 1rem;
  margin-top: 0.5rem; }

.my-desktop-music-box:dir(rtl) {
  padding-right: 1.2rem;
  padding-left: 1rem; }

.my-desktop-music-box:dir(ltr) {
  padding-left: 1.2rem;
  padding-right: 1rem; }

.my-weather-wd-icon {
  color: #feddbd;
  font-size: xx-large;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.my-wd-user-icon {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: 1.4rem; }

.my-wd-user-icon:dir(rtl) {
  margin-right: 1rem; }

.my-wd-user-icon:dir(ltr) {
  margin-left: 1rem; }

.my-weather-wd-title-text-box {
  min-width: 10.55rem;
  padding-top: 1rem;
  color: #dae9b6;
  font-size: x-large;
  font-family: "VIP Rawy Regular"; }

.my-weather-wd-row-two {
  background: rgba(104, 61, 0, 0.9);
  color: #ffdcb8;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1.4rem; }

.my-fuzzy-clock-box {
  background: rgba(63, 75, 38, 0.8);
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.4rem; }

.my-fuzzy-clock-box:dir(rtl) {
  padding-right: 1.5rem;
  padding-left: 1rem; }

.my-fuzzy-clock-box:dir(ltr) {
  padding-left: 1.5rem;
  padding-right: 1rem; }

.my-weather-wd-day-box {
  background: rgba(189, 204, 155, 0.6);
  border-radius: 1.4rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.my-wd-weather-day-name {
  font-family: "VIP Rawy Regular";
  color: #293412; }

.my-wd-weather-day-text {
  font-size: x-small;
  padding-bottom: 0rem;
  color: #293412; }

.my-weather-wd-day-icon {
  background: rgba(189, 204, 155, 0.7);
  color: #293412;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 1.4rem;
  margin-bottom: 0.2rem;
  min-width: 3rem;
  min-height: 3.5rem;
  font-size: x-large;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.unset {
  all: unset; }

.workspaces button:active {
  color: #ffdcb8;
  border-radius: 0px; }

.workspaces {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  background: #683d00;
  border-radius: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem; }

.dynamic-wallpaper {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0rem 1rem; }

.workspaces:dir(rtl) {
  margin-right: 0.4rem;
  margin-left: 0.5rem; }

.workspaces:dir(ltr) {
  margin-right: 0.5rem;
  margin-left: 0.4rem; }

.workspaces button {
  background: #683d00;
  color: rgba(189, 204, 155, 0.5);
  border: 0rem; }

.workspaces button.focused {
  border-bottom: 1px solid #ffb864;
  color: #ffb864;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: large; }

.workspaces button.unfocused {
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 0px;
  font-size: large; }

.workspaces button.has-windows {
  color: #ffb864; }

.workspaces button:hover {
  background: rgba(224, 193, 163, 0.9);
  color: rgba(64, 45, 23, 0.9); }

.clock {
  background: linear-gradient(to right, #683d00, #3f4b26);
  color: #ffdcb8;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 1em;
  padding-right: 1em; }

.bar-weather-box {
  font-size: 1em;
  background: #3f4b26;
  color: #dae9b6;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-weather-box:dir(rtl) {
  padding-left: 0.8rem; }

.bar-weather-box:dir(ltr) {
  padding-right: 0.8rem; }

.bar-weather-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 1.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.top-corner {
  background-color: #1f1b16;
  border-radius: 1.4rem; }

.bar-bg {
  background: rgba(0, 0, 0, 0);
  min-height: 8px;
  border-radius: 0rem; }

.bar {
  background: #1f1b16;
  color: #ebe0d9;
  min-height: 8px;
  margin-bottom: 0.5rem; }

.internet-box {
  background: linear-gradient(to right, #683d00, #58432c, rgba(147, 0, 6, 0.5));
  color: #ffdcb8;
  /* min-width: 100px; */
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.internet-box:dir(rtl) {
  margin-left: 0.5rem;
  padding-right: 0.8rem; }

.internet-box:dir(ltr) {
  margin-right: 0.5rem;
  padding-left: 0.8rem; }

.wifi-name-label {
  /* margin-left: 0.7em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: #1f1b16;
  color: #ebe0d9;
  font-weight: bold; }

.wifi-name-label:dir(rtl) {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-right: 0.2em;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem; }

.wifi-name-label:dir(ltr) {
  padding-right: 0.5em;
  padding-left: 1em;
  margin-left: 0.2em;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem; }

.wifi-icon-strength {
  font-family: "FantasqueSansM Nerd Font Propo";
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #1f1b16;
  color: #ebe0d9; }

.wifi-icon-strength:dir(rtl) {
  margin-left: 0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.6rem;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem; }

.wifi-icon-strength:dir(ltr) {
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.6rem;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem; }

.systray {
  background: #51453a;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 0.1rem; }

.systray:dir(rtl) {
  margin-left: 0.5rem; }

.systray:dir(ltr) {
  margin-right: 0.5rem; }

.systray button {
  background: #51453a;
  border-radius: 1.4rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  min-height: 0.1rem; }

.systray button:hover {
  background: #ffb864; }

.tray-btn {
  border: 0rem; }

.bar-hardware-progress-circle, .brightness, .volume, .ram, .temp, .cpu, .battery {
  min-width: 1.45rem;
  min-height: 1.3rem;
  font-size: 0.1rem; }

.bar-hardware-progress-inner-circle, .brightness-inner, .volume-inner, .temp-inner, .cpu-inner, .battery-inner-charging, .battery-inner {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 0.9rem; }

.battery {
  background: #51453a;
  color: #ffb864; }

@keyframes colorChange {
  0% {
    color: #ffb864; }
  50% {
    color: #51453a; }
  100% {
    color: #ffb864; } }

.battery-inner {
  color: #ffb864; }

.battery-inner-charging {
  color: #ffb864;
  animation: colorChange 2s infinite; }

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
  background: #51453a;
  color: #e0c1a3; }

.cpu-inner {
  font-size: 0.6rem;
  color: #e0c1a3; }

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
  background: #51453a;
  color: #bdcc9b; }

.no-hover:hover {
  all: unset; }

.temp-inner {
  color: #bdcc9b; }

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
  background: #51453a;
  color: #ffb4a9; }

.ram-inner {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 0.6rem;
  color: #ffb4a9; }

.volume {
  background: #51453a;
  color: #ffb4a9; }

.volume-inner {
  font-size: 0.8rem;
  color: #ffb4a9; }

.brightness {
  background: #51453a;
  color: #e0c1a3; }

.brightness-inner {
  color: #e0c1a3;
  margin-top: 0.1rem; }

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
  background: #51453a;
  padding: 0.2rem 0.5rem;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.bar-hw-temp-box:dir(rtl) {
  margin-right: 0.5rem; }

.bar-hw-temp-box:dir(ltr) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-ram-box:dir(ltr) {
  margin-right: 0.5rem; }

.bar-hw-cpu-box:dir(rtl) {
  margin-left: 0.5rem; }

.bar-hw-cpu-box:dir(ltr) {
  margin-right: 0.5rem; }

.bar-hw-brightness-box:dir(rtl) {
  margin-right: 0.4rem; }

.bar-hw-brightness-box:dir(ltr) {
  margin-left: 0.4rem; }

.hardware-box-separator {
  min-height: 0.01rem;
  min-width: 0.01rem;
  background: rgba(189, 204, 155, 0.4);
  margin: -0.2rem 0.5rem; }

.hardware-menu-box {
  background: #1f1b16;
  border-radius: 1.4rem;
  border: 2px solid #ffb864; }

.hardware-menu-header-box {
  background: #51453a;
  border-radius: 1.4rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem; }

.hardware-menu-power-profile-box {
  background: #3f4b26;
  border-radius: 1.4rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem; }

.power-profiles-box-btn {
  margin: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0); }

.power-profiles-box-btn-active {
  background: #bdcc9b;
  color: #293412;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0); }

.hardware-menu-box-progress, .menu-temp, .menu-battery, .menu-ram, .menu-cpu {
  font-size: 0.5rem;
  min-width: 6.5rem;
  min-height: 6.5rem;
  margin: 1rem; }

.hardware-menu-box-icon, .menu-temp-icon, .menu-battery-icon-charging, .menu-battery-icon, .menu-ram-icon, .menu-cpu-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.menu-cpu {
  color: #e0c1a3; }

.menu-cpu-icon {
  color: #e0c1a3; }

.menu-ram {
  color: #ffb4a9; }

.menu-ram-icon {
  color: #ffb4a9; }

.menu-battery {
  color: #ffb864; }

.menu-battery-icon {
  color: #ffb864; }

.menu-battery-icon-charging {
  color: #ffb864;
  animation: colorChange 2s infinite; }

.menu-temp {
  color: #bdcc9b; }

.menu-temp-icon {
  color: #bdcc9b; }

.table-row-app-name-header {
  min-width: 6rem; }

.table-row-app-percentage-header {
  min-width: 3rem; }

.table-row-app-name {
  min-width: 6rem; }

.table-row-app-percentage {
  min-width: 3rem; }

.hardware-cpu-box {
  background: rgba(255, 184, 100, 0.7);
  color: #492900;
  border-radius: 1.4rem;
  margin-top: 1rem; }

.hardware-cpu-table-row-header {
  padding: 1rem;
  background: rgba(255, 184, 100, 0.8);
  color: #492900;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.hardware-table-row, .hardware-os-table-row, .hardware-bat-table-row, .hardware-ram-table-row, .hardware-cpu-table-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.hardware-ram-box {
  background: rgba(224, 193, 163, 0.9);
  color: #402d17;
  border-radius: 1.4rem;
  margin-top: 1rem; }

.hardware-ram-table-row-header {
  padding: 1rem;
  background: rgba(224, 193, 163, 0.9);
  color: #402d17;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.hardware-menu-tables-box {
  background: #683d00;
  padding: 0.8rem;
  padding-top: 0rem;
  margin: 1rem;
  border-radius: 1.4rem; }

.hardware-bat-box {
  background: rgba(189, 204, 155, 0.8);
  color: #293412;
  border-radius: 1.4rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-bat-table-row-header {
  padding: 1rem;
  background: #bdcc9b;
  color: #293412;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.hardware-os-box {
  background: rgba(31, 27, 22, 0.7);
  color: #ebe0d9;
  border-radius: 1.4rem;
  margin-top: 1rem;
  min-height: 3rem; }

.hardware-os-table-row-header {
  padding: 1rem;
  background: rgba(31, 27, 22, 0.7);
  color: #ebe0d9;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.power-profiles-title {
  margin-left: 1rem;
  margin-right: 1rem; }

.volume {
  border-radius: 1.4rem;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em; }

.vol-stack:dir(rtl) {
  margin-left: 1rem; }

.vol-stack:dir(ltr) {
  margin-right: 1rem; }

.vol-osd {
  background: #1f1b16;
  padding: 1rem;
  border-radius: 1.4rem;
  border: 2px solid #ebe0d9;
  margin: 1.5rem; }

.vol-osd:dir(rtl) {
  padding-left: 1.5rem; }

.vol-osd:dir(ltr) {
  padding-right: 1.5rem; }

scale trough highlight {
  border-radius: 1.4rem;
  background: #ffb864; }

scale slider {
  background: #ffb864; }

.language-layout-label {
  border-radius: 1.4rem;
  padding: 0rem 1rem; }

.language-layout-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.language-layout-box {
  padding: 1rem;
  border-radius: 1.4rem;
  border: 2px solid #ebe0d9;
  margin: 1.5rem;
  background: #1f1b16;
  color: #ebe0d9; }

.notifications-revealer-box {
  background: #58432c;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 1.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background: #fff;
  min-width: 100rem; }

.notifications-revealer-box:dir(rtl) {
  margin-left: 0.7rem;
  margin-right: 0rem; }

.notifications-revealer-box:dir(ltr) {
  margin-right: 0.7rem;
  margin-left: 0rem; }

.notification-popups {
  border: 2px solid #ffb864;
  border-radius: 1.4rem;
  padding: 1rem;
  background: #1f1b16;
  color: #ebe0d9; }

.notifications-popup-list {
  border-radius: 1.4rem;
  background: rgba(0, 0, 0, 0); }

.notification-close-button {
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

window {
  border-radius: 1.4rem;
  background: rgba(0, 0, 0, 0); }

.left-menu-box {
  background: #1f1b16;
  border-radius: 1.4rem;
  border: 2px solid #ffb864;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  transition-property: background;
  transition-duration: 1.5s; }

.left-menu-box:dir(rtl) {
  margin-left: 0.6rem;
  margin-right: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); }

.left-menu-box:dir(ltr) {
  margin-right: 0.6rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3); }

.left-menu-header {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  min-width: 23rem;
  min-height: 12rem; }

.profile-box {
  background: linear-gradient(to right, rgba(104, 61, 0, 0.8), rgba(88, 67, 44, 0.6));
  color: #ffdcb8;
  min-width: 20rem;
  min-height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -3rem;
  border-radius: 1.4rem; }

.profile-icon {
  margin-top: -3rem; }

.profile-label {
  margin-top: 1rem;
  font-family: 'VIP Rawy Regular';
  font-size: xx-large; }

/* -------------- Theme Box -------------- */
.themes-box {
  background: rgba(104, 61, 0, 0.5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.4rem; }

.theme-button-father, .theme-btn, .selected-theme {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.selected-theme {
  background: linear-gradient(to right, #ffb864, #e0c1a3);
  color: #492900;
  border-radius: 1.4rem; }

.selected-theme:hover {
  background: linear-gradient(to right, #683d00, #58432c);
  color: #ffdcb8;
  border-radius: 1.4rem; }

.theme-btn {
  border-radius: 1.4rem;
  background: #3f4b26;
  border-color: #3f4b26;
  border-radius: 1.4rem; }

.theme-btn:hover {
  color: #293412;
  border-color: #bdcc9b;
  border-radius: 1.4rem; }

.theme-btn-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 2rem; }

.dynamic-theme-btn-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  min-width: 1.93rem; }

.theme-btn-label {
  min-width: 3rem; }

.menu-button {
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #3f4b26;
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.menu-button:dir(rtl) {
  margin-left: 0.5rem; }

.menu-button:dir(ltr) {
  margin-right: 0.5rem; }

.menu-button:hover {
  background: #dae9b6; }

.power-box {
  background: rgba(63, 75, 38, 0.5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.4rem; }

.notification-menu-header {
  background-size: cover;
  background-position: center;
  padding: 1rem;
  color: #ebe0d9; }

.horizontal-line {
  background: #ebe0d9;
  min-height: 1px;
  min-width: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ebe0d9; }

.notification-center-button {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background: #51453a;
  color: #d5c4b5;
  border-radius: 1.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.notification-center-button:dir(ltr) {
  padding-right: 0.7rem;
  padding-left: 1rem; }

.notification-center-button:dir(rtl) {
  padding-left: 0.7rem;
  padding-right: 1rem; }

.notification-center-button:hover {
  background-color: #ffb864;
  color: #492900; }

.notification-this-is-all {
  color: #ebe0d9;
  margin-top: 10rem;
  margin-bottom: 1rem;
  min-width: 1rem;
  min-height: 1rem; }

.no-notification-icon {
  margin-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 3rem;
  padding-right: 0.7rem; }

.no-notification-text {
  min-width: 22.5rem; }

.notification-header-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #3f4b26;
  color: #dae9b6;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.notification-center-header-text {
  min-width: 7.7rem; }

.notification-center-header-mute {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 1.4rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  margin-right: 0.5rem; }

.notification-center-header-clear {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 1.4rem;
  padding-left: 1rem;
  padding-right: 1.2rem; }

.notification-center-header-clear:dir(rtl) {
  margin-right: 0.7rem; }

.notification-center-header-clear:dir(ltr) {
  margin-left: 1rem; }

.notification-center-container {
  min-height: 30rem;
  border-radius: 1.4rem; }

.music-wd-box {
  background: #683d00;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1.4rem; }

.music-wd-length {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.left-menu-music-wd {
  background: #683d00;
  border-radius: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.left-menu-music-wd:dir(rtl) {
  padding-left: 1rem;
  padding-right: 1.8rem; }

.left-menu-music-wd:dir(ltr) {
  padding-right: 1rem;
  padding-left: 1.8rem; }

.music-wd-row-one {
  padding-right: 8px; }

.music-wd-row-two {
  margin-right: 8px;
  margin-top: 8px; }

.music-wd-row-three {
  padding-top: 10px; }

.music-wd-player {
  background: #e0c1a3;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #402d17;
  border-radius: 1.4rem;
  min-width: 2rem; }

.music-wd-player:dir(rtl) {
  padding-left: 0.4rem;
  padding-right: 0.7rem; }

.music-wd-player:dir(ltr) {
  padding-right: 0.4rem;
  padding-left: 0.7rem; }

.music-wd-title {
  color: #bdcc9b;
  margin-bottom: 0.5rem; }

.music-wd-title:dir(rtl) {
  padding-left: 0.5rem; }

.music-wd-title:dir(ltr) {
  padding-right: 0.5rem; }

.music-wd-file-name {
  color: #ebe0d9;
  font-size: x-small; }

.music-wd-main-button, .music-wd-button-stop, .music-wd-button-play, .music-wd-button {
  min-width: 40px;
  min-height: 40px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

.music-wd-button {
  font-family: "FantasqueSansM Nerd Font Propo";
  border-radius: 50%;
  background: #e0c1a3;
  color: #402d17; }

.music-wd-button:hover {
  background: #bdcc9b; }

.music-wd-button-play {
  background: #ffb864;
  border-radius: 1.4rem;
  color: #492900;
  min-width: 80px; }

.music-wd-button-play:hover {
  background: #bdcc9b; }

.music-wd-button-stop {
  background: #e0c1a3;
  color: #402d17;
  border-radius: 1.4rem;
  min-width: 80px; }

.wd-fuzzy-day-box {
  background: rgba(0, 0, 0, 0);
  color: #ffdcb8; }

.wd-fuzzy-day-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  padding: 0.7rem 0rem 0rem 0rem; }

.wd-fuzzy-day-text {
  font-family: "VIP Rawy Regular";
  font-size: 1.8rem; }

.wd-time-now {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0);
  color: #feddbd;
  font-family: "VEXA light R";
  margin: 0rem 0rem 0rem 0rem; }

.wd-fuzzy-time-box {
  background: rgba(0, 0, 0, 0);
  color: #dae9b6; }

.wd-fuzzy-time-icon {
  font-size: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.wd-fuzzy-time-text {
  font-size: 1.8rem;
  font-family: "VIP Rawy Regular"; }

.saying-wd-label {
  min-width: 1rem;
  font-size: 1.5rem;
  color: #ffdcb8;
  background: rgba(104, 61, 0, 0.8);
  font-family: "VIP Rawy Regular";
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 1.4rem; }

.desktop-wd-separator {
  background: rgba(0, 0, 0, 0);
  min-height: 1px;
  min-width: 1px; }

.desktop-wd-music-player-box {
  padding: 0rem 0rem 0rem 0rem;
  min-width: 30rem;
  font-family: "VIP Rawy Regular";
  font-size: 1.5rem; }

.desktop-wd-music-player-title {
  color: #e0c1a3; }

.desktop-wd-music-player-artist {
  color: #dae9b6; }

.bar-prayer-times-box {
  font-size: 1em;
  background: #3f4b26;
  color: #dae9b6;
  border-radius: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.bar-prayer-times-box:dir(rtl) {
  padding-left: 0.7rem; }

.bar-prayer-times-box:dir(ltr) {
  padding-right: 0.7rem; }

.bar-prayer-times-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  padding-left: 0.7rem;
  padding-right: 0.7rem; }

.prayer-times-menu-box {
  background: #1f1b16;
  border-radius: 1.4rem;
  border: 2px solid #ffb864;
  color: #ebe0d9; }

.prayer-times-menu-header {
  background: #3f4b26;
  color: #dae9b6;
  padding: 1rem;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.prayer-time-item-box-class {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 1.5rem; }

.isha-item {
  border-bottom-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem; }

.next-prayer {
  background: #ffb864;
  color: #492900; }

.prayer-times-menu-header-icon {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.prayer-times-menu-header-title {
  margin-right: 1rem; }

.prayer-times-menu-header-title:dir(ltr) {
  margin-right: 1.7rem; }

.prayer-times-menu-header-title:dir(rtl) {
  margin-left: 1.7rem; }

.weather-menu-box {
  min-width: 2rem;
  background: #1f1b16;
  color: #ebe0d9;
  padding: 1rem 1rem;
  padding-top: 2rem;
  border: 2px solid #ffb864;
  border-radius: 1.4rem; }

.weather-menu-general-information-box {
  margin: 0rem 1rem; }

.weather-menu-detail-box {
  margin: 0rem 1rem; }

.weather-menu-today-box {
  margin-top: 0.4rem; }

.weather-row-two {
  margin: 2rem 2rem; }

.weather-menu-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 7rem;
  margin: 0rem 1rem; }

.weather-menu-city {
  font-size: 2rem;
  margin-top: 0.3rem; }

.weather-menu-value {
  font-size: 2.2rem; }

.weather-menu-sunrise {
  font-size: 1.1rem; }

.weather-menu-sunrise-icon {
  font-size: 1.1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  margin: 0rem 0.5rem; }

.weather-menu-sunset {
  font-size: 1.1rem; }

.weather-menu-sunset-icon {
  font-size: 1.1rem;
  font-family: "FantasqueSansM Nerd Font Propo";
  margin: 0rem 0.5rem; }

.weather-menu-today-time {
  font-size: 1.1rem; }

.weather-menu-today-weather {
  font-size: 1.1rem;
  padding: 0rem 1.2rem; }

.weather-menu-today-temp {
  font-size: 1.3rem;
  font-family: "FantasqueSansM Nerd Font Propo"; }

.weather-menu-latest-update {
  font-size: 1.1rem; }

.weather-menu-feels-like {
  font-size: 1.3rem; }

.weather-menu-humidity {
  font-size: 1.3rem; }

.weather-menu-pressure {
  font-size: 1.3rem; }

.weather-menu-wind {
  font-size: 1.3rem; }

.weather-menu-clouds {
  font-size: 1.3rem; }

.weather-menu-min-max {
  font-size: 1.3rem; }

.applications-box {
  background: #1f1b16;
  border-radius: 1.4rem; }

.app-search-box {
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  min-width: 23rem;
  min-height: 12rem;
  background-color: rgba(0, 0, 0, 0.1);
  /* Dark overlay using background color */
  background-blend-mode: darken;
  /* Blend mode to darken the image */ }

.app-search {
  margin: 1.2rem;
  margin-top: 5rem; }

.applications-header-title {
  font-family: 'VIP Rawy Regular';
  font-size: xx-large;
  color: #fffbff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }

.audio-menu-box {
  background: #1f1b16;
  border-radius: 1.4rem;
  border: 2px solid #ffb864; }

.audio-menu-header-box {
  background: #3f4b26;
  border-radius: 1.4rem;
  padding: 0.6rem;
  margin: 0.8rem; }

.audio-menu-box-progress {
  font-size: 0.5rem;
  min-width: 6.5rem;
  min-height: 6.5rem;
  margin: 1rem; }

.audio-menu-box-icon {
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 2rem; }

.audio-menu-slider {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1rem; }

.brightness-menu-slider {
  margin-bottom: 0.8rem;
  margin-left: 1.5rem;
  margin-right: 1rem; }

.media-menu-header {
  padding: 1.5rem 1rem;
  background: #fff;
  background-size: cover;
  background-position: center;
  color: #ebe0d9;
  background: #3f4b26;
  color: #dae9b6;
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem; }

.information-widget-header {
  font-size: 2rem;
  margin-bottom: 1rem; }

.information-widget-title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem; }

.information-widget-subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-width: 7rem; }

.information-widget-subtext {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-width: 9.7rem; }

.un-hover:hover {
  all: unset; }

.icon-font {
  font-family: "FantasqueSansM Nerd Font Propo"; }

.small-shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.shadow {
  transition-property: background;
  transition-duration: 0.5s; }

.small-shadow:dir(rtl) {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }

.small-shadow:dir(ltr) {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1); }

.shadow:dir(rtl) {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3); }

.shadow:dir(ltr) {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3); }

button {
  background: #683d00;
  color: #ffdcb8;
  border-color: #683d00;
  border-radius: 1.4rem;
  padding: 4px 14px;
  border: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

/* Shadow when clicking */
button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

button:hover {
  background: #bdcc9b;
  color: #293412;
  border-color: #bdcc9b;
  border-radius: 1.4rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

menu {
  border: 2px #ffb864 solid;
  background: #1f1b16;
  color: #ebe0d9;
  border-radius: 1.4rem;
  padding: 0.3rem;
  margin-top: 2rem; }

menuitem {
  border-radius: 1.4rem;
  background: #1f1b16;
  color: #ebe0d9; }

menuitem:disabled {
  background: rgba(81, 69, 58, 0.5);
  color: rgba(213, 196, 181, 0.5); }

menuitem:hover {
  background: #58432c;
  color: #feddbd; }
