/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #005ac5;
$secondary: #575e71;
$tertiary: #715574;
$error: #ba1b1b;
$background: #fdfbff;
$surface: #fdfbff;
$surface-variant: #e1e2ec;
$outlined: #74777f;
$shadow: #000000;
$inverseSurface: #2f3033;

$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-tertiary: #ffffff;
$on-error: #ffffff;
$on-background: #1b1b1e;

$primary-container: #d6e2ff;
$secondary-container: #dae2f9;
$tertiary-container: #fbd7fb;
$error-container: #ffdad4;

$on-primary-container: #001a43;
$on-secondary-container: #141b2c;
$on-tertiary-container: #29132d;
$on-error-container: #410001;
$on-surface: #1b1b1e;
$on-surface-variant: #44474f;

$inverseOnSurface: #f2f0f4;
$inversePrimary: #acc7ff;

@import './main.scss';