/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #865300;
$secondary: #715a41;
$tertiary: #54643d;
$error: #ba1b1b;
$background: #fcfcfc;
$surface: #fcfcfc;
$surface-variant: #f1e0d0;
$outlined: #827568;
$shadow: #000000;
$inverseSurface: #352f2a;

$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-tertiary: #ffffff;
$on-error: #ffffff;
$on-background: #1f1b16;

$primary-container: #ffddb5;
$secondary-container: #fcddbc;
$tertiary-container: #d7e9b9;
$error-container: #ffdad4;

$on-primary-container: #2b1700;
$on-secondary-container: #281805;
$on-tertiary-container: #121f02;
$on-error-container: #410001;
$on-surface: #1f1b16;
$on-surface-variant: #504539;

$inverseOnSurface: #f9efe7;
$inversePrimary: #ffb95b;

@import './main.scss';