/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #6351a5;
$secondary: #605b70;
$tertiary: #7d5262;
$error: #ba1b1b;
$background: #fffbff;
$surface: #fffbff;
$surface-variant: #e6e0ec;
$outlined: #79757f;
$shadow: #000000;
$inverseSurface: #313033;

$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-tertiary: #ffffff;
$on-error: #ffffff;
$on-background: #1c1b1e;

$primary-container: #e8ddff;
$secondary-container: #e7dff8;
$tertiary-container: #ffd9e6;
$error-container: #ffdad4;

$on-primary-container: #1f015f;
$on-secondary-container: #1d192b;
$on-tertiary-container: #31101e;
$on-error-container: #410001;
$on-surface: #1c1b1e;
$on-surface-variant: #48454f;

$inverseOnSurface: #f4eff4;
$inversePrimary: #cdbdff;

@import './main.scss';