$text-color: $on-surface;
$border-color: $primary;
$border-size: 2px;
$icon-font-family: 'FantasqueSansM Nerd Font Propo';
$bar-top-margin: 0.3rem;
$bar-bottom-margin: 0.3rem;
$border-radius: 1.4rem;

// ------------------------------
// --------- Workspaces ---------
// ------------------------------
$workspace-btn: rgba($tertiary, 0.5);
$active-workspace-btn: $on-primary-container;
$workspace-background: $primary-container;
$workspace-focused: $primary;
$workspace-focused-bottom: $workspace-focused;
$workspace-has-windows: $workspace-focused;
$workspace-hover-background: rgba($secondary, 0.9);
$workspace-hover-color: rgba($on-secondary, 0.9);

// --------------------------------
// --------- Clock widget ---------
// --------------------------------
$clock-background: linear-gradient(
    to right,
    $primary-container,
    $tertiary-container
);
$clock-color: $on-primary-container;

// --------------------------------
// --------- prayer times ---------
// --------------------------------
$bar-prayer-times-box-background: $tertiary-container;
$bar-prayer-times-box-color: $on-tertiary-container;

// -------------------------------
// --------- Bar Weather ---------
// -------------------------------
$bar-weather-background: $tertiary-container;
$bar-weather-color: $on-tertiary-container;
$weather-menu-box-bg: $background;
$weather-menu-box-fg: $on-background;

// -----------------------
// --------- bar ---------
// -----------------------
$bar-background: rgba($background, 1);
$bar-color: $on-background;

// --------------------------------
// --------- internet box ---------
// --------------------------------
$internet-box-background: linear-gradient(
    to right,
    $primary-container,
    $secondary-container,
    rgba($error-container, 0.5)
);
$internet-box-color: $on-primary-container;
$wifi-name-background: $surface;
$wifi-name-color: $on-surface;
$wifi-icon-background: $wifi-name-background;
$wifi-icon-color: $wifi-name-color;

// ---------------------------
// --------- systray ---------
// ---------------------------
$systray-background: $surface-variant;
$systray-btn-background: $systray-background;
$systray-btn-hover-background: $workspace-focused;

// --------------------------------
// --------- hardware-box ---------
// --------------------------------
$hardware-box-color: rgba($surface-variant, 1);

// ---------------------------
// --------- battery ---------
// ---------------------------
$battery-background: $hardware-box-color;
$battery-color: $primary;
$battery-inner-color: $battery-color;

// -----------------------
// --------- CPU ---------
// -----------------------
$cpu-background: $hardware-box-color;
$cpu-color: $secondary;
$cpu-inner-color: $cpu-color;

// ------------------------
// --------- Temp ---------
// ------------------------
$temp-background: $hardware-box-color;
$temp-color: $tertiary;
$temp-inner-color: $temp-color;

// -----------------------
// --------- RAM ---------
// -----------------------
$ram-background: $hardware-box-color;
$ram-color: $error;
$ram-inner-color: $ram-color;

// ---------------------------
// --------- Vol osd ---------
// ---------------------------
$vol-osd-background: $background;
$vol-osd-border-color: $on-background;

// -----------------------------
// --------- GTK Scale ---------
// -----------------------------
$scale-highlight-background: $primary;
$scale-slider-background: $scale-highlight-background;

// ---------------------------------
// --------- Notifications ---------
// ---------------------------------
$notifications-border: $primary;
$notifications-popup-list-background: $surface;
$notifications-revealer-box-background: $secondary-container;
$notifications-bar-btn-bg: $surface-variant;
$notifications-bar-btn-fg: $on-surface-variant;

$notifications-bar-btn-hover-bg: $primary;
$notifications-bar-btn-hover-fg: $on-primary;

$notifications-header-bg: $tertiary-container;
$notifications-header-fg: $on-tertiary-container;
$notifications-separator-background: $on-surface;

// --------------------------------
// --------- Prayer times ---------
// --------------------------------
$prayer-times-menu-header-bg: $tertiary-container;
$prayer-times-menu-header-fg: $on-tertiary-container;

$prayer-times-next-prayer-bg: $primary;
$prayer-times-next-prayer-fg: $on-primary;

// ------------------------
// --------- Menu ---------
// ------------------------
$menu-box-background: $surface;
$menu-box-borders: $primary;

$profile-box-background: linear-gradient(
    to right,
    rgba($primary-container, 0.8),
    rgba($secondary-container, 0.6)
);
$profile-box-color: $on-primary-container;

$theme-box-background: rgba($primary-container, 0.5);
$power-box-background: rgba($tertiary-container, 0.5);

$selected-theme-background: linear-gradient(to right, $primary, $secondary);
$selected-theme-color: $on-primary;
$selected-theme-hover-background: linear-gradient(
    to right,
    $primary-container,
    $secondary-container
);
$selected-theme-hover-color: $on-primary-container;

$menu-btn-background: $tertiary-container;
$menu-btn-hover: $on-tertiary-container;

/* ------------------------------------------ */
/* -------------- Music Player -------------- */
/* ------------------------------------------ */
$music-father-box-bg: $primary-container;
// $music-wd-box-bg: #6f3ad1;
$music-wd-box-bg: $music-father-box-bg;
$music-wd-player-bg: $secondary;
$music-wd-player-fg: $on-secondary;
$music-wd-title-fg: $tertiary;
$music-wd-artist-fg: $on-surface;

$music-wd-button-bg: $secondary;
$music-wd-button-hover-bg: $tertiary;

$music-wd-button-fg: $on-secondary;

$music-wd-button-play-bg: $primary;
$music-wd-button-play-fg: $on-primary;

$music-wd-button-stop-bg: $music-wd-button-bg;
$music-wd-button-stop-fg: $music-wd-button-fg;

$left-menu-music-wd-padding-right: 1.8rem;

// ---------------------------
// --------- HW menu ---------
// ---------------------------
$hardware-menu-box-background: $surface;
$hardware-menu-header-box-background: $surface-variant;
$hardware-menu-power-profile-box: $tertiary-container;
$hardware-menu-tables-box-background: $primary-container;

$hardware-cpu-box-background: rgba($primary, 0.7);
$hardware-cpu-box-color: $on-primary;
$hardware-cpu-table-row-header-background: rgba($primary, 0.8);
$hardware-cpu-table-row-header-color: $on-primary;

$hardware-ram-box-background: rgba($secondary, 0.9);
$hardware-ram-box-color: $on-secondary;
$hardware-ram-table-row-header-background: rgba($secondary, 0.9);
$hardware-ram-table-row-header-color: $on-secondary;

$hardware-bat-box-background: rgba($tertiary, 0.8);
$hardware-bat-box-color: $on-tertiary;
$hardware-bat-table-row-header-background: $tertiary;
$hardware-bat-table-row-header-color: $on-tertiary;

$hardware-os-box-background: rgba($surface, 0.7);
$hardware-os-box-color: $on-surface;
$hardware-os-table-row-header-background: rgba($surface, 0.7);
$hardware-os-table-row-header-color: $on-surface;

// --------------------------------
// --------- GTK elements ---------
// --------------------------------
$btn-background: $primary-container;
$btn-color: $on-primary-container;
$btn-hover-background: $tertiary;
$btn-hover-color: $on-tertiary;

// --------- Menu ---------
$menu-bg: $background;
$menu-fg: $on-background;
$menuitem-hover-bg: rgba($secondary-container, 1);
$menuitem-hover-fg: $on-secondary-container;

$menuitem-disabled-bg: rgba($surface-variant, 0.5);
$menuitem-disabled-fg: rgba($on-surface-variant, 0.5);

// ----------------------------------
// --------- desktop-widget ---------
// ----------------------------------
$desktop-wd-separator-background: rgba(#000000, 0);

$wd-fuzzy-day-box-bg: rgba(#000000, 0);
$wd-fuzzy-day-box-fg: $on-primary-container;

$wd-fuzzy-day-text-font-size: 1.8rem;
$wd-fuzzy-day-text-font-family: 'VIP Rawy Regular';
$wd-fuzzy-day-icon-font-size: 1.5rem;
$wd-fuzzy-day-icon-font-family: $icon-font-family;
$wd-fuzzy-day-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-day-icon-padding: 0.7rem 0rem 0rem 0rem;

$wd-time-now-bg: rgba(#000000, 0);
$wd-time-now-fg: $on-secondary-container;
$wd-time-now-font-size: 1.5rem;
$wd-time-now-font-family: 'VEXA light R';
$wd-time-now-margin: 0rem 0rem 0rem 0rem;

$wd-fuzzy-time-box-bg: rgba(#000000, 0);
$wd-fuzzy-time-box-fg: $on-tertiary-container;
$wd-fuzzy-time-icon-font-size: 1.5rem;
$wd-fuzzy-time-icon-font-family: $icon-font-family;
$wd-fuzzy-time-icon-margin: 0rem 1rem 0rem 1rem;
$wd-fuzzy-time-text-font-size: 1.8rem;
$wd-fuzzy-time-text-font-family: 'VIP Rawy Regular';

$saying-wd-label-bg: rgba($primary-container, 0.8);
$saying-wd-label-fg: $on-primary-container;
$saying-wd-label-font-size: 1.5rem;
$saying-wd-label-font-size: 1.5rem;
$saying-wd-label-min-width: 1rem;
$saying-wd-label-font-family: 'VIP Rawy Regular';
$saying-wd-label-padding: 1rem;
$saying-wd-label-margin: 0rem 1rem 1rem 1rem;
$saying-wd-label-border-radius: $border-radius;

// Music Info
$music-info-wd-font-family: 'VIP Rawy Regular';
$music-info-wd-font-size: 1.5rem;
$music-info-wd-min-width: 30rem;
$music-info-wd-padding: 0rem 0rem 0rem 0rem;

$music-info-wd-title-fg: $secondary;
$music-info-wd-artist-fg: $on-tertiary-container;

/* ------------------------------------------------------- */
/* -------------- Material U Desktop Widget -------------- */
/* ------------------------------------------------------- */
.my-weather-wd-text {
    font-size: medium;
    // color: #2d293d;
}

.weather-wd-row-one {
    background: rgba($secondary-container, 0.8);
    color: $on-secondary-container;
    border-radius: $border-radius;
    margin: 1rem;
    margin-bottom: 0.5rem;
    // margin-left: 11.4rem;
}

.my-desktop-music-box {
    background: rgba($tertiary-container, 0.9);
    color: $on-tertiary-container;
    border-radius: $border-radius;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-width: 1rem;
    margin: 1rem;
    margin-top: 0.5rem;
    // margin-left: 11.3rem;
}

.my-desktop-music-box:dir(rtl) {
    padding-right: 1.2rem;
    padding-left: 1rem;
}

.my-desktop-music-box:dir(ltr) {
    padding-left: 1.2rem;
    padding-right: 1rem;
}

.my-weather-wd-icon {
    color: $on-secondary-container;
    font-size: xx-large;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: $icon-font-family;
}

.my-wd-user-icon {
    // background: rgba(#E9C7C6, 1);
    padding: 0.8rem;
    margin-right: 1rem;
    border-radius: $border-radius;
}

.my-wd-user-icon:dir(rtl) {
    margin-right: 1rem;
}

.my-wd-user-icon:dir(ltr) {
    margin-left: 1rem;
}

.my-weather-wd-title-text-box {
    min-width: 10.55rem;
    padding-top: 1rem;
    color: $on-tertiary-container;
    font-size: x-large;
    font-family: $saying-wd-label-font-family;
}

// Desktop M-U Weather Days
.my-weather-wd-row-two {
    background: rgba($primary-container, 0.9);
    color: $on-primary-container;
    margin: 1rem;

    // margin-right: 2.5rem;
    // margin-left: 2.5rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    // margin-left: 6.4rem;

    border-radius: $border-radius;
}

.my-fuzzy-clock-box {
    background: rgba($tertiary-container, 0.8);

    margin: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    // margin-left: 6.4rem;

    border-radius: $border-radius;
}

.my-fuzzy-clock-box:dir(rtl) {
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.my-fuzzy-clock-box:dir(ltr) {
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.my-weather-wd-day-box {
    background: rgba($tertiary, 0.6);
    border-radius: $border-radius;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.my-wd-weather-day-name {
    font-family: $saying-wd-label-font-family;
    color: $on-tertiary;
}

.my-wd-weather-day-text {
    font-size: x-small;
    padding-bottom: 0rem;
    color: $on-tertiary;
}

.my-weather-wd-day-icon {
    background: rgba($color: $tertiary, $alpha: 0.7);
    color: $on-tertiary;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: $border-radius;
    margin-bottom: 0.2rem;
    min-width: 3rem;
    min-height: 3.5rem;
    font-size: x-large;
    font-family: $icon-font-family;
}
