/* Material 3 Dark Mode Colors */
$primary: #fb04ff;
$on-primary: #1f1635;
$primary-container: #241546;
$on-primary-container: #bdddee;

$secondary: #27ccfd;
$on-secondary: #1f1635;
$secondary-container: #082a34;
$on-secondary-container: #bdddee;

$tertiary: #26f7e2;
$on-tertiary: #1f1635;
$tertiary-container: #633b48;
$on-tertiary-container: #ffd8e4;

$error: #f2b8b5;
$on-error: #601410;
$error-container: #8c1d18;
$on-error-container: #f9dedc;

$background: #352557;
$on-background: #e6e1e5;

$surface: #352557;
$on-surface: #bdddee;

$surface-variant: #1f1635;
$on-surface-variant: #bdddee;

$outline: #938f99;
$outline-variant: #49454e;

$scrim: #352557;

$inverse-surface: #e6e1e5;
$inverse-on-surface: #313033;
$inverse-primary: #6750a4;

$surface-dim: #1c1b1f;
$surface-bright: #2c2b30;

$surface-container-lowest: #1e1532;
$surface-container-low: #241546;
$surface-container: #352557;
$surface-container-high: #2c2b30;
$surface-container-highest: #353336;
