label {
    font-weight: bold;
}

.unset {
    all: unset;
}


.media {
    background-color: transparent;
    color: #eee;
}

.media:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #efefef;
}

.media:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 0px;
}


.client-title {
    margin-left: 1em;
    color: aqua;
}

.notification {
    font-size: 1em;
}

.notification image {
    color: yellow;
    margin-left: 1em;
}

.battery progressbar {
    margin: 0 6px;
}

progress,
highlight {
    background-color: aqua;
    min-height: 8px;
}


/* Mine */

/* --------------------------------------- */
/* -------------- Workspace -------------- */
/* --------------------------------------- */
.workspaces button:active {
    /* background-color: rgba(255, 255, 255, 0.2); */
    color: #ffb3b5;
    border-radius: 0px;
}

.workspaces {
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 8px;
    background: #00497d;
    border-radius: 15px;
    min-height: 3px;
}

.workspaces button {
    background-color: transparent;
    color: #9fcaff;
}

.workspaces button.focused {
    border-bottom: 1px solid #ffb3b5;
    color: #ffb3b5;
    font-size: large;
    font-family: "Font Awesome 5 Free Solid";
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 1em;
}

.workspaces button.unfocused {
    font-size: large;
    font-family: "Font Awesome 5 Free Solid";
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 1em;
}


.workspaces button:hover {
    color: #d1e4ff;
}

/* ------------------------------------ */
/* -------------- Volume -------------- */
/* ------------------------------------ */
.volume {
    /* background: linear-gradient(to right, #ffb3b5, #9fcaff);
    color: #18255E; */
    border-radius: 2em;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 1em;
    padding-right: 1em;
}

.vol-stack {
    margin-left: 1em;
}


.clock {
    font-size: 1em;
    background: linear-gradient(to right, #ffb3b5, #9fcaff);
    color: #18255E;
    border-radius: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 1em;
    padding-right: 1em;
}

.bar {
    background-color: #001b3d;
    color: #d6e3ff;
    min-height: 8px;
}

.internet-box {
    background: linear-gradient(to right, #ffb3b5, #9fcaff);
    color: #18255E;
    border-radius: 2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
}

.internet-wifi-name-label {
    padding-left: 1em;
    padding-right: 1em;
    /* margin-left: 0.7em; */
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    background-color: #18255E;
    color: #B6C5ED;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.internet-strength-icon {
    font-family: "Font Awesome 5 Free Solid";
    margin-left: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #18255E;
    color: #B6C5ED;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

scale trough highlight {
    /* all: unset; */
    border-radius: 2em;
}