button {
  background-color: #3B2163;
  color: #B8E8FF;
  border-color: #3B2163; }

button:hover {
  background-color: #FFEDAE;
  color: #20004A;
  border-color: #FFEDAE; }

.unset {
  all: unset; }

/* --------------------------------------- */
/* -------------- Workspace -------------- */
/* --------------------------------------- */
.workspaces button:active {
  color: #FFEDAE;
  border-radius: 0px; }

.workspaces {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  margin-right: 4px;
  margin-left: 8px;
  background-color: #0C0023;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem; }

.workspaces button {
  background-color: #0C0023;
  color: #C68DF1;
  border: 0rem; }

.workspaces button.focused {
  border-bottom: 1px solid #FFEDAE;
  color: #FFEDAE;
  font-family: "Material Design Icons";
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }

.workspaces button.unfocused {
  font-family: "Material Design Icons";
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0px; }

.workspaces button.has-windows {
  color: #FFEDAE; }

.workspaces button:hover {
  background-color: rgba(198, 141, 241, 0.9);
  color: rgba(12, 0, 35, 0.9); }

.clock {
  font-size: 1em;
  background: linear-gradient(to right, #9359ff, #FF00AA, #ffb92d);
  color: #0C0023;
  border-radius: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 1em;
  padding-right: 1em; }

.bar {
  background-color: #20004A;
  color: #cecece;
  min-height: 8px;
  border-radius: 0rem; }

.internet-box {
  background: linear-gradient(to right, #ffb92d, #FF00AA);
  color: #20004A;
  /* min-width: 100px; */
  border-radius: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-left: 0.1em;
  padding-right: 0.3rem; }

.wifi-name-label {
  padding-left: 0.5em;
  padding-right: 1em;
  /* margin-left: 0.7em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  background-color: #20004A;
  color: #cecece;
  font-weight: bold;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem; }

.wifi-icon-strength {
  font-family: "Material Design Icons";
  margin-left: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-right: 0.5em;
  padding-left: 0.6em;
  background-color: #20004A;
  color: #cecece;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem; }

.systray {
  background-color: #3B2163;
  border-radius: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
  min-height: 0.1rem; }

.systray button {
  background-color: #3B2163;
  border-radius: 0.8rem;
  padding-right: 0.6rem;
  padding-left: 0.4rem;
  min-height: 0.1rem; }

.systray button:hover {
  background-color: #FFEDAE; }

.tray-btn {
  border: 0rem; }

/* ------------------------------------- */
/* -------------- Battery -------------- */
/* ------------------------------------- */
.battery {
  background-color: #0C0023;
  color: #FF8580;
  min-width: 20px;
  min-height: 20px;
  font-size: 3px; }

@keyframes colorChange {
  0% {
    color: #FF8580; }
  50% {
    color: #0C0023; }
  100% {
    color: #FF8580; } }

.battery-inner {
  color: #FF8580;
  margin-top: 0.2em;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  font-family: "Material Design Icons";
  min-width: 2px;
  font-size: 2.0em; }

.battery-inner-charging {
  color: #FF8580;
  margin-top: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  font-family: "Material Design Icons";
  min-width: 2px;
  font-size: 2.0em;
  animation: colorChange 2.0s infinite; }

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
  background-color: #0C0023;
  color: #FDC227;
  min-width: 20px;
  min-height: 20px;
  font-size: 3px; }

.cpu-inner {
  color: #FDC227;
  margin-top: 0.2em;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  font-family: "Material Design Icons";
  min-width: 2px;
  font-size: 2.0em; }

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
  background-color: #0C0023;
  color: #C68DF1;
  min-width: 20px;
  min-height: 20px;
  font-size: 3px; }

.no-hover:hover {
  all: unset; }

.temp-inner {
  color: #C68DF1;
  margin-top: 0.2em;
  font-family: "Material Design Icons";
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  min-width: 2px;
  font-size: 2.0em; }

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
  background-color: #0C0023;
  color: #B8E8FF;
  min-width: 20px;
  min-height: 20px;
  font-size: 3px; }

.ram-inner {
  color: #B8E8FF;
  font-family: "Material Design Icons";
  margin-top: 0.2em;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  min-width: 2px;
  font-size: 2.0em; }

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
  background-color: #0C0023;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  margin-right: 0em; }

/* ------------------------------------ */
/* -------------- Volume -------------- */
/* ------------------------------------ */
.volume {
  border-radius: 0.8rem;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 1em;
  padding-right: 1em; }

.vol-stack {
  margin-left: 1em; }

.vol-osd {
  background-color: #20004A;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #FDBBC4; }

scale trough highlight {
  border-radius: 0.8rem;
  background-color: #FFEDAE; }

scale slider {
  background-color: #FFEDAE; }

/* ------------------------------------------- */
/* -------------- Notifications -------------- */
/* ------------------------------------------- */
.notifications-revealer-box {
  background-color: #3B2163;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.8rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.notification-popups {
  border: 0.1rem solid #FFEDAE;
  border-radius: 0.8rem;
  padding: 1rem; }

.notifications-popup-list {
  background-color: #20004A;
  border-radius: 0.8rem;
  margin-top: 2rem;
  margin-left: 2rem; }

window {
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0); }

/* --------------------------------------- */
/* -------------- Left menu -------------- */
/* --------------------------------------- */
.left-menu-box {
  background-color: #20004A;
  border-radius: 0.8rem;
  border: 2px solid #FFEDAE; }

.left-menu-header {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  min-width: 23rem;
  min-height: 12rem; }

.profile-box {
  background-image: linear-gradient(to right, rgba(147, 89, 255, 0.8), rgba(255, 0, 170, 0.6));
  color: #20004A;
  min-width: 20rem;
  min-height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -3rem;
  border-radius: 0.8rem; }

.profile-icon {
  margin-top: -3rem; }

.profile-label {
  margin-top: 1rem;
  font-family: "VIP Rawy Regular";
  font-size: xx-large; }

/* -------------- Theme Box -------------- */
.themes-box {
  background-color: #0C0023;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem; }

.selected-theme {
  background-image: linear-gradient(to right, #9359ff, #FF00AA);
  color: #20004A; }

.selected-theme:hover {
  background-image: linear-gradient(to right, #ff9900, #ff6600);
  color: #3B2163; }

.theme-btn {
  border-radius: 0.8rem;
  background-color: #20004A;
  border-color: #20004A; }

.theme-btn:hover {
  border-radius: 0.8rem;
  background-color: #FFEDAE; }

.menu-button {
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-left: 0.5rem;
  background-color: #20004A; }

.menu-button:hover {
  background-color: #FFEDAE; }

.shadow {
  box-shadow: 1px 1px 3px 1px #141414;
  transition-property: background-color;
  transition-duration: .5s; }

/* ----------------------------------------------- */
/* -------------- Notification menu -------------- */
/* ----------------------------------------------- */
.notification-menu-header {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  min-width: 23rem;
  min-height: 12rem; }

.notification-item {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: #0C0023; }

/* -------------------------------------------- */
/* -------------- Desktop Widget -------------- */
/* -------------------------------------------- */
.father-box {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.8rem; }

.row-two {
  background-color: #3B2163;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-top-right-radius: 1.5rem; }

.row-three {
  background-color: #3B2163;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem; }

.row-box {
  background-color: #3B2163;
  min-width: 10rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  border-top-right-radius: 1.5rem; }

.weather-icon {
  background-color: #3B2163;
  border-top-left-radius: 1.5rem;
  font-size: xx-large;
  padding-left: 2rem;
  padding-right: 2rem; }

.user-icon {
  background-color: #3b2163;
  padding: 0.5rem;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0rem; }

.insider-weather-icon {
  background-color: #6f3ad1;
  padding-right: 0.5rem;
  border-radius: 10rem;
  min-width: 3rem;
  min-height: 3.5rem;
  font-size: x-large; }

.insider-box {
  background-color: #1aa14e;
  border-radius: 3rem;
  padding: 0.4rem; }

.line {
  background-color: #000000;
  min-height: 0.1px;
  min-width: 10rem;
  font-family: "Material Design Icons"; }
