/* File created by ThemeService written by ahmedsaadi0 */
$primary: #ffb596;
$secondary: #e7beae;
$tertiary: #d4c78e;
$error: #ffb4a9;
$background: #201a18;
$surface: #201a18;
$surface-variant: #52433e;
$outlined: #a08d86;
$shadow: #000000;
$inverseSurface: #ede0dc;

$on-primary: #5a1b00;
$on-secondary: #432a20;
$on-tertiary: #383006;
$on-error: #680003;
$on-background: #ede0dc;

$primary-container: #7b2f09;
$secondary-container: #5d4035;
$tertiary-container: #4f471a;
$error-container: #930006;

$on-primary-container: #ffdbcc;
$on-secondary-container: #ffdbcc;
$on-tertiary-container: #f1e3a8;
$on-error-container: #ffb4a9;
$on-surface: #ede0dc;
$on-surface-variant: #d8c2ba;

$inverseOnSurface: #362f2d;
$inversePrimary: #9a4620;

@import './main.scss';