/* File created by ThemeService written by ahmedsaadi0 */
$primary: #54d7f2;
$secondary: #b2cbd2;
$tertiary: #bec5eb;
$error: #ffb4a9;
$background: #191c1d;
$surface: #191c1d;
$surface-variant: #3f484b;
$outlined: #899295;
$shadow: #000000;
$inverseSurface: #e1e3e4;

$on-primary: #003640;
$on-secondary: #1c3439;
$on-tertiary: #282f4d;
$on-error: #680003;
$on-background: #e1e3e4;

$primary-container: #004e5c;
$secondary-container: #334a50;
$tertiary-container: #3e4565;
$error-container: #930006;

$on-primary-container: #a4eeff;
$on-secondary-container: #cde7ee;
$on-tertiary-container: #dbe1ff;
$on-error-container: #ffb4a9;
$on-surface: #e1e3e4;
$on-surface-variant: #bec8cb;

$inverseOnSurface: #2e3132;
$inversePrimary: #00687a;

@import './main.scss';