@import './themes/colors.scss';

.unset {
    all: unset;
}

/* --------------------------------------- */
/* -------------- Workspace -------------- */
/* --------------------------------------- */
.workspaces button:active {
    color: $active-workspace-btn;
    border-radius: 0px;
}

.workspaces {
    padding-right: 4px;
    padding-left: 4px;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin;
    margin-right: 4px;
    margin-left: 8px;
    background-color: $workspace-background;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
}

.workspaces button {
    background-color: $workspace-background;
    color: $workspace-btn;
    border: 0rem;
}

.workspaces button.focused {
    border-bottom: 1px solid $workspace-focused-bottom;
    color: $workspace-focused;
    font-family: $icon-font-family;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    // min-width: 1em;
}

.workspaces button.unfocused {
    font-family: $icon-font-family;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    // min-width: 1em;
    border-radius: 0px;
}

.workspaces button.has-windows {
    color: $workspace-has-windows;
}


.workspaces button:hover {
    background-color: $workspace-hover-background;
    color: $workspace-hover-color;
}


.clock {
    font-size: 1em;
    // font-family: "VEXA light R"; 
    background: $clock-background;
    color: $clock-color;
    border-radius: 2em;
    margin-top: $bar-top-margin + 0.1rem;
    margin-bottom: $bar-top-margin + 0.1rem;
    padding-left: 1em;
    padding-right: 1em;
}

.bar {
    background-color: $bar-background;
    color: $bar-color;
    min-height: 8px;
    border-radius: 0rem;
}

.internet-box {
    background: $internet-box-background;
    color: $internet-box-color;
    /* min-width: 100px; */
    border-radius: 2em;
    margin-top: $bar-top-margin + 0.1rem;
    margin-bottom: $bar-top-margin + 0.1rem;
    margin-left: 0.1em;
}

.wifi-name-label {
    padding-left: 0.5em;
    padding-right: 1em;
    /* margin-left: 0.7em; */
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    background-color: $wifi-name-background;
    color: $wifi-name-color;
    font-weight: bold;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.wifi-icon-strength {
    font-family: $icon-font-family;
    margin-left: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-right: 0.5em;
    padding-left: 0.6em;
    background-color: $wifi-icon-background;
    color: $wifi-icon-color;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.systray {
    background-color: $systray-background;
    border-radius: 2rem;
    margin-top: $bar-top-margin + 0.1rem;
    margin-bottom: $bar-top-margin + 0.1rem;
    margin-left: 0.4rem;
    min-height: 0.1rem;
}

.systray button {
    background-color: $systray-btn-background;
    border-radius: 2rem;
    padding-right: 0.5rem;
    min-height: 0.1rem;
    // font-size: 1rem;
}

.systray button:hover {
    background-color: $systray-btn-hover-background;
}

.tray-btn {
    border: 0;
}

/* ------------------------------------- */
/* -------------- Battery -------------- */
/* ------------------------------------- */
.battery {
    background-color: $battery-background;
    color: $battery-color;
    min-width: 20px;
    min-height: 20px;
    font-size: 3px;
}

@keyframes colorChange {
    0% {
        color: $battery-color;
    }

    50% {
        color: $battery-background;
    }

    100% {
        color: $battery-color;
    }
}

.battery-inner {
    color: $battery-inner-color;
    margin-top: 0.2em;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
    font-family: $icon-font-family;
    min-width: 2px;
    font-size: 2.0em;
}

.battery-inner-charging {
    color: $battery-inner-color;
    margin-top: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    font-family: $icon-font-family;
    min-width: 2px;
    font-size: 2.0em;
    animation: colorChange 2.0s infinite;
}

/* --------------------------------- */
/* -------------- CPU -------------- */
/* --------------------------------- */
.cpu {
    background-color: $cpu-background;
    color: $cpu-color;
    min-width: 20px;
    min-height: 20px;
    font-size: 3px;
}

.cpu-inner {
    color: $cpu-inner-color;
    margin-top: 0.2em;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
    font-family: $icon-font-family;
    min-width: 2px;
    font-size: 2.0em;
}

/* ---------------------------------- */
/* -------------- TEMP -------------- */
/* ---------------------------------- */
.temp {
    background-color: $temp-background;
    color: $temp-color;
    min-width: 20px;
    min-height: 20px;
    font-size: 3px;
}

.no-hover:hover {
    all: unset;
}

.temp-inner {
    color: $temp-inner-color;
    margin-top: 0.2em;
    font-family: $icon-font-family;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
    min-width: 2px;
    font-size: 2.0em;
}

/* --------------------------------- */
/* -------------- RAM -------------- */
/* --------------------------------- */
.ram {
    background-color: $ram-background;
    color: $ram-color;
    min-width: 20px;
    min-height: 20px;
    font-size: 3px;
}

.ram-inner {
    color: $ram-inner-color;
    font-family: $icon-font-family;
    margin-top: 0.2em;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
    min-width: 2px;
    font-size: 2.0em;
}

/* ------------------------------------------ */
/* -------------- Hardware box -------------- */
/* ------------------------------------------ */
.hardware-box {
    background-color: $hardware-box-color;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 1em;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin + 0.1rem;
    margin-right: 0em;
}


/* ------------------------------------ */
/* -------------- Volume -------------- */
/* ------------------------------------ */
.volume {
    border-radius: 2em;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 1em;
    padding-right: 1em;
}

.vol-stack {
    margin-left: 1em;
}

.vol-osd {
    background-color: $vol-osd-background;
    padding: 1rem;
    padding-left: 1.5rem;
    border-radius: 1rem;
    border: $border-size solid $vol-osd-border-color;
}

scale trough highlight {
    border-radius: 2em;
    background-color: $scale-highlight-background;
}

scale slider {
    background-color: $scale-slider-background;
}

/* ------------------------------------------- */
/* -------------- Notifications -------------- */
/* ------------------------------------------- */

.notifications-revealer-box {
    background-color: $notifications-revealer-box-background;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin;
    border-radius: 2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.notification-popups {
    border: $border-size solid $notifications-border;
    border-radius: 1rem;
    padding: 1rem;
}

.notifications-popup-list {
    background-color: $notifications-popup-list-background;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

// .notification-close-button {
//     background-color: $secondary-background-color;
// }

// .notification-close-button:hover {
//     background-color: $primary-color;
// }

window {
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.0);
}

/* --------------------------------------- */
/* -------------- Left menu -------------- */
/* --------------------------------------- */
.left-menu-box {
    background-color: $menu-box-background;
    // min-width: 18rem;
    // min-height: 32rem;
    border-radius: 1rem;
    border: 2px solid $menu-box-borders;
}

.left-menu-header {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-width: 23rem;
    min-height: 12rem;
}

.profile-box {
    background-image: $profile-box-background;
    color: $profile-box-color;
    min-width: 20rem;
    min-height: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -3rem;
    border-radius: 1rem;
}

.profile-icon {
    margin-top: -3rem;
}

.profile-label {
    margin-top: 1rem;
    font-family: "VIP Rawy Regular";
    font-size: xx-large;
}

.themes-box {
    background-color: $theme-box-background;
    min-height: 3rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.selected-theme {
    background-image: $selected-theme-background;
    color: $selected-theme-color;
}

.selected-theme:hover {
    background-image: $selected-theme-hover-background;
    color: $selected-theme-hover-color;
}

.theme-btn {
    border-radius: 1rem;
    background-color: $menu-btn-background;
}

.theme-btn:hover {
    border-radius: 1rem;
    background-color: $menu-btn-hover;
}

.menu-button {
    border-radius: 1rem;
    margin-top: $bar-top-margin;
    margin-bottom: $bar-bottom-margin;
    border: 0px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-left: 0.5rem;
    background-color: $menu-btn-background;
}

.menu-button:hover {
    background-color: $menu-btn-hover;
}