bcrypt==4.2.1
certifi==2024.12.14
cffi==1.17.1
click==8.1.7
cryptography==44.0.0
cvc==0.8.0
decorator==5.1.1
Deprecated==1.2.15
fabric @ git+https://github.com/Fabric-Development/fabric.git@3662e94711d189d25b73e1f0c8cf4cfff8b77902
FFpy==1.6.2
idna==3.10
imageio-ffmpeg==0.5.1
invoke==2.2.0
libsass==0.23.0
loguru==0.7.3
moviepy==2.1.1
numpy==2.2.0
paramiko==3.5.0
pillow==11.0.0
psutil==6.1.1
pycairo==1.27.0
pycparser==2.22
pycvc==1.5.0
PyGObject==3.50.0
PyNaCl==1.5.0
requests==2.32.3
setuptools==75.6.0
tabulate==0.9.0
urllib3==2.3.0
wrapt==1.17.0
